<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>mapName</key>
  <string>HT_AlfasDelPi_2009</string>
  <key>pois</key>
  <array>
    <dict>
      <key>index</key>
      <integer>1</integer>
      <key>name</key>
      <string><![CDATA[@TT_CAT]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr">#.*=AlfasDelPi</div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/earthquake.png]]></string>
      <key>lat</key>
      <real>38.576889</real>
      <key>lng</key>
      <real>-0.046692</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>2</integer>
      <key>name</key>
      <string><![CDATA[Hotel - Las Terrazas de Albir]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/homegardenbusiness.png]]></string>
      <key>lat</key>
      <real>38.575008</real>
      <key>lng</key>
      <real>-0.07214</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>3</integer>
      <key>name</key>
      <string><![CDATA[Playa]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>38.57505</real>
      <key>lng</key>
      <real>-0.06478</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>4</integer>
      <key>name</key>
      <string><![CDATA[Altea]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>38.600239</real>
      <key>lng</key>
      <real>-0.04922</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>5</integer>
      <key>name</key>
      <string><![CDATA[Calpe]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>38.640839</real>
      <key>lng</key>
      <real>0.06723</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>6</integer>
      <key>name</key>
      <string><![CDATA[El Castell de Guadalest]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>38.676441</real>
      <key>lng</key>
      <real>-0.19862</real>
    </dict>
  </array>
  <key>tags</key>
  <array>
    <dict>
      <key>index</key>
      <integer>1</integer>
      <key>name</key>
      <string>tag_1_HT_AlfasDelPi_2009</string>
      <key>poiIndexes</key>
      <array>
        <string>1</string>
        <string>2-4</string>
      </array>
      <key>tagIndexes</key>
      <array>
          <string>2</string>
          <string>4-5</string>
      </array>
    </dict>
    <dict>
      <key>index</key>
      <integer>2</integer>
      <key>name</key>
      <string>tag_2_HT_AlfasDelPi_2009</string>
      <key>poiIndexes</key>
      <array>
        <string>5-7</string>
      </array>
    </dict>
    <dict>
      <key>index</key>
      <integer>3</integer>
      <key>name</key>
      <string>tag_3_HT_AlfasDelPi_2009</string>
      <key>poiIndexes</key>
      <array>
        <string>8-10</string>
      </array>
    </dict>
    <dict>
      <key>index</key>
      <integer>4</integer>
      <key>name</key>
      <string>tag_4_HT_AlfasDelPi_2009</string>
      <key>poiIndexes</key>
      <array>
        <string>11-13</string>
      </array>
    </dict>
    <dict>
      <key>index</key>
      <integer>5</integer>
      <key>name</key>
      <string>tag_5_HT_AlfasDelPi_2009</string>
      <key>poiIndexes</key>
      <array>
        <string>14-16</string>
      </array>
    </dict>
  </array>
</dict>
</plist>
