<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>mapName</key>
  <string>HT_Belgica_2013</string>
  <key>pois</key>
  <array>
    <dict>
      <key>index</key>
      <integer>1</integer>
      <key>name</key>
      <string><![CDATA[Holiday Inn Express Gent]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/homegardenbusiness.png]]></string>
      <key>lat</key>
      <real>51.02</real>
      <key>lng</key>
      <real>3.73503</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>2</integer>
      <key>name</key>
      <string><![CDATA[Brussels Airport]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/plane.png]]></string>
      <key>lat</key>
      <real>50.895077</real>
      <key>lng</key>
      <real>4.478431</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>3</integer>
      <key>name</key>
      <string><![CDATA[Plaza Koren Markt]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>51.053944</real>
      <key>lng</key>
      <real>3.722207</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>4</integer>
      <key>name</key>
      <string><![CDATA[Catedral de San Bavón]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>51.053032</real>
      <key>lng</key>
      <real>3.72664</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>5</integer>
      <key>name</key>
      <string><![CDATA[Iglesia de San Nicolás]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>51.053944</real>
      <key>lng</key>
      <real>3.722938</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>6</integer>
      <key>name</key>
      <string><![CDATA[Torre Belfort]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>51.053707</real>
      <key>lng</key>
      <real>3.725022</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>7</integer>
      <key>name</key>
      <string><![CDATA[Ayuntamiento Gante]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>51.054493</real>
      <key>lng</key>
      <real>3.72543</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>8</integer>
      <key>name</key>
      <string><![CDATA[Teatro real]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>51.05352</real>
      <key>lng</key>
      <real>3.725784</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>9</integer>
      <key>name</key>
      <string><![CDATA[Biezekapelstraat]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>51.053852</real>
      <key>lng</key>
      <real>3.726639</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>10</integer>
      <key>name</key>
      <string><![CDATA[Puente de San Miguel]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>51.053886</real>
      <key>lng</key>
      <real>3.720589</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>11</integer>
      <key>name</key>
      <string><![CDATA[Castillo de Gravensteen]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>51.056873</real>
      <key>lng</key>
      <real>3.720978</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>12</integer>
      <key>name</key>
      <string><![CDATA[Corduwaniersstraat]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>51.057838</real>
      <key>lng</key>
      <real>3.723142</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>13</integer>
      <key>name</key>
      <string><![CDATA[Muelle Graslei (herboristas)]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>51.055206</real>
      <key>lng</key>
      <real>3.720863</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>14</integer>
      <key>name</key>
      <string><![CDATA[Muelle Korenlei (graneros)]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>51.054855</real>
      <key>lng</key>
      <real>3.720124</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>15</integer>
      <key>name</key>
      <string><![CDATA[Groentenmarkt]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>51.055988</real>
      <key>lng</key>
      <real>3.72211</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>16</integer>
      <key>name</key>
      <string><![CDATA[Korenmarkt]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>51.054932</real>
      <key>lng</key>
      <real>3.72192</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>17</integer>
      <key>name</key>
      <string><![CDATA[Barrio de Patershol]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>51.058228</real>
      <key>lng</key>
      <real>3.722863</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>18</integer>
      <key>name</key>
      <string><![CDATA[Hoogpoort]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>51.05547</real>
      <key>lng</key>
      <real>3.723217</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>19</integer>
      <key>name</key>
      <string><![CDATA[Huis van Alijn]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>51.057339</real>
      <key>lng</key>
      <real>3.723337</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>20</integer>
      <key>name</key>
      <string><![CDATA[Plaza Vrijdagmarkt]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>51.057236</real>
      <key>lng</key>
      <real>3.72534</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>21</integer>
      <key>name</key>
      <string><![CDATA[Groot Kanon]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>51.057304</real>
      <key>lng</key>
      <real>3.724104</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>22</integer>
      <key>name</key>
      <string><![CDATA[Begijnhof 1]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>51.046261</real>
      <key>lng</key>
      <real>3.734584</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>23</integer>
      <key>name</key>
      <string><![CDATA[Begijnhof 2]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>51.05722</real>
      <key>lng</key>
      <real>3.711944</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>24</integer>
      <key>name</key>
      <string><![CDATA[Begijnhof de Sint-Amandsberg]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>51.056984</real>
      <key>lng</key>
      <real>3.747829</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>25</integer>
      <key>name</key>
      <string><![CDATA[Parking 1 Sint-Michiels]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/parkinglot.png]]></string>
      <key>lat</key>
      <real>51.053642</real>
      <key>lng</key>
      <real>3.718439</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>26</integer>
      <key>name</key>
      <string><![CDATA[Parking 2 Vrijdagmarkt]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/parkinglot.png]]></string>
      <key>lat</key>
      <real>51.05661</real>
      <key>lng</key>
      <real>3.725896</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>27</integer>
      <key>name</key>
      <string><![CDATA[Parking 3 Kouter]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/parkinglot.png]]></string>
      <key>lat</key>
      <real>51.050003</real>
      <key>lng</key>
      <real>3.72289</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>28</integer>
      <key>name</key>
      <string><![CDATA[Parking 4 Center]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/parkinglot.png]]></string>
      <key>lat</key>
      <real>51.050961</real>
      <key>lng</key>
      <real>3.722516</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>29</integer>
      <key>name</key>
      <string><![CDATA[Du Progres]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/restaurant.png]]></string>
      <key>lat</key>
      <real>51.054699</real>
      <key>lng</key>
      <real>3.722229</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>30</integer>
      <key>name</key>
      <string><![CDATA[Plaza Groenplaats]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/yellow-dot.png]]></string>
      <key>lat</key>
      <real>51.219177</real>
      <key>lng</key>
      <real>4.401591</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>31</integer>
      <key>name</key>
      <string><![CDATA[Plaza Grote Markt]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/yellow-dot.png]]></string>
      <key>lat</key>
      <real>51.221184</real>
      <key>lng</key>
      <real>4.399708</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>32</integer>
      <key>name</key>
      <string><![CDATA[Ayuntamiento Amberes]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/yellow-dot.png]]></string>
      <key>lat</key>
      <real>51.221272</real>
      <key>lng</key>
      <real>4.399247</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>33</integer>
      <key>name</key>
      <string><![CDATA[Catedral de Nuestra Señora]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/yellow-dot.png]]></string>
      <key>lat</key>
      <real>51.220375</real>
      <key>lng</key>
      <real>4.40062</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>34</integer>
      <key>name</key>
      <string><![CDATA[Calle Oude Korenmarkt]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/yellow-dot.png]]></string>
      <key>lat</key>
      <real>51.220287</real>
      <key>lng</key>
      <real>4.399831</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>35</integer>
      <key>name</key>
      <string><![CDATA[Calle Suikerrui]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/yellow-dot.png]]></string>
      <key>lat</key>
      <real>51.221016</real>
      <key>lng</key>
      <real>4.398034</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>36</integer>
      <key>name</key>
      <string><![CDATA[Iglesia de San Carlos Borromeo]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/yellow-dot.png]]></string>
      <key>lat</key>
      <real>51.22113</real>
      <key>lng</key>
      <real>4.404407</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>37</integer>
      <key>name</key>
      <string><![CDATA[Hendrik Conscienceplein]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/yellow-dot.png]]></string>
      <key>lat</key>
      <real>51.220943</real>
      <key>lng</key>
      <real>4.404206</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>38</integer>
      <key>name</key>
      <string><![CDATA[Calle Meir]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/yellow-dot.png]]></string>
      <key>lat</key>
      <real>51.218189</real>
      <key>lng</key>
      <real>4.407256</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>39</integer>
      <key>name</key>
      <string><![CDATA[Palacio Real Amberes]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/yellow-dot.png]]></string>
      <key>lat</key>
      <real>51.217964</real>
      <key>lng</key>
      <real>4.408516</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>40</integer>
      <key>name</key>
      <string><![CDATA[Casa-Museo de Rubens]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/yellow-dot.png]]></string>
      <key>lat</key>
      <real>51.217087</real>
      <key>lng</key>
      <real>4.40923</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>41</integer>
      <key>name</key>
      <string><![CDATA[Castillo Het Steen]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/yellow-dot.png]]></string>
      <key>lat</key>
      <real>51.222595</real>
      <key>lng</key>
      <real>4.397407</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>42</integer>
      <key>name</key>
      <string><![CDATA[Estación Central]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/yellow-dot.png]]></string>
      <key>lat</key>
      <real>51.217491</real>
      <key>lng</key>
      <real>4.421289</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>43</integer>
      <key>name</key>
      <string><![CDATA[Museo del Diamante]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/yellow-dot.png]]></string>
      <key>lat</key>
      <real>51.218029</real>
      <key>lng</key>
      <real>4.421744</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>44</integer>
      <key>name</key>
      <string><![CDATA[Calle judia-diamantes]]></string>
      <key>desc</key>
      <string><![CDATA[<br>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/yellow-dot.png]]></string>
      <key>lat</key>
      <real>51.215321</real>
      <key>lng</key>
      <real>4.418774</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>45</integer>
      <key>name</key>
      <string><![CDATA[Barrio de Wijk Zurenborg]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/yellow-dot.png]]></string>
      <key>lat</key>
      <real>51.203018</real>
      <key>lng</key>
      <real>4.431936</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>46</integer>
      <key>name</key>
      <string><![CDATA[Het Elfde Gebod]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/restaurant.png]]></string>
      <key>lat</key>
      <real>51.220734</real>
      <key>lng</key>
      <real>4.401489</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>47</integer>
      <key>name</key>
      <string><![CDATA[Parking 1 Interparking]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/parkinglot.png]]></string>
      <key>lat</key>
      <real>51.219162</real>
      <key>lng</key>
      <real>4.404198</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>48</integer>
      <key>name</key>
      <string><![CDATA[Parking 2 Rubens]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/parkinglot.png]]></string>
      <key>lat</key>
      <real>51.217625</real>
      <key>lng</key>
      <real>4.401398</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>49</integer>
      <key>name</key>
      <string><![CDATA[Parking 3 Oudaen]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/parkinglot.png]]></string>
      <key>lat</key>
      <real>51.215988</real>
      <key>lng</key>
      <real>4.403567</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>50</integer>
      <key>name</key>
      <string><![CDATA[Parking 4 Nova]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/parkinglot.png]]></string>
      <key>lat</key>
      <real>51.219925</real>
      <key>lng</key>
      <real>4.421808</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>51</integer>
      <key>name</key>
      <string><![CDATA[Hotel Radisson Blu Park]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/ylw-pushpin.png]]></string>
      <key>lat</key>
      <real>51.210121</real>
      <key>lng</key>
      <real>4.416161</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>52</integer>
      <key>name</key>
      <string><![CDATA[DEVOXX]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/ylw-pushpin.png]]></string>
      <key>lat</key>
      <real>51.245834</real>
      <key>lng</key>
      <real>4.417888</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>53</integer>
      <key>name</key>
      <string><![CDATA[Plaza Markt]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green-dot.png]]></string>
      <key>lat</key>
      <real>51.208832</real>
      <key>lng</key>
      <real>3.22431</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>54</integer>
      <key>name</key>
      <string><![CDATA[Campanario y Halles]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green-dot.png]]></string>
      <key>lat</key>
      <real>51.20837</real>
      <key>lng</key>
      <real>3.22453</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>55</integer>
      <key>name</key>
      <string><![CDATA[Palacio Provincial de Gobierno]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green-dot.png]]></string>
      <key>lat</key>
      <real>51.208881</real>
      <key>lng</key>
      <real>3.224965</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>56</integer>
      <key>name</key>
      <string><![CDATA[Plaza Burg]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green-dot.png]]></string>
      <key>lat</key>
      <real>51.208534</real>
      <key>lng</key>
      <real>3.22681</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>57</integer>
      <key>name</key>
      <string><![CDATA[Basílica de la Santa Sangre]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green-dot.png]]></string>
      <key>lat</key>
      <real>51.208191</real>
      <key>lng</key>
      <real>3.226625</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>58</integer>
      <key>name</key>
      <string><![CDATA[Ayuntamiento Brujas]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green-dot.png]]></string>
      <key>lat</key>
      <real>51.208317</real>
      <key>lng</key>
      <real>3.227035</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>59</integer>
      <key>name</key>
      <string><![CDATA[Casa de Registradores]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green-dot.png]]></string>
      <key>lat</key>
      <real>51.208427</real>
      <key>lng</key>
      <real>3.227432</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>60</integer>
      <key>name</key>
      <string><![CDATA[Iglesia de Nuestra Señora]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green-dot.png]]></string>
      <key>lat</key>
      <real>51.204647</real>
      <key>lng</key>
      <real>3.224469</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>61</integer>
      <key>name</key>
      <string><![CDATA[Catedral de San Salvador]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green-dot.png]]></string>
      <key>lat</key>
      <real>51.205349</real>
      <key>lng</key>
      <real>3.220928</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>62</integer>
      <key>name</key>
      <string><![CDATA[Gruuthuse Museum]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green-dot.png]]></string>
      <key>lat</key>
      <real>51.205433</real>
      <key>lng</key>
      <real>3.224897</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>63</integer>
      <key>name</key>
      <string><![CDATA[beaterio de la viña]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green-dot.png]]></string>
      <key>lat</key>
      <real>51.201866</real>
      <key>lng</key>
      <real>3.225394</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>64</integer>
      <key>name</key>
      <string><![CDATA[Lago Minnewater]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green-dot.png]]></string>
      <key>lat</key>
      <real>51.200466</real>
      <key>lng</key>
      <real>3.223936</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>65</integer>
      <key>name</key>
      <string><![CDATA[Calle-Steenstraat]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green.png]]></string>
      <key>lat</key>
      <real>51.207016</real>
      <key>lng</key>
      <real>3.222604</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>66</integer>
      <key>name</key>
      <string><![CDATA[Calle-Oude Burg]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green.png]]></string>
      <key>lat</key>
      <real>51.206882</real>
      <key>lng</key>
      <real>3.224679</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>67</integer>
      <key>name</key>
      <string><![CDATA[Calle-Rozenhoedkaai]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green.png]]></string>
      <key>lat</key>
      <real>51.206955</real>
      <key>lng</key>
      <real>3.227137</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>68</integer>
      <key>name</key>
      <string><![CDATA[Calle-Wijngaardstraat]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green.png]]></string>
      <key>lat</key>
      <real>51.201958</real>
      <key>lng</key>
      <real>3.225063</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>69</integer>
      <key>name</key>
      <string><![CDATA[Paseo Barca]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/ferry.png]]></string>
      <key>lat</key>
      <real>51.207993</real>
      <key>lng</key>
      <real>3.227674</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>70</integer>
      <key>name</key>
      <string><![CDATA[Grand Place]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/red-dot.png]]></string>
      <key>lat</key>
      <real>50.846706</real>
      <key>lng</key>
      <real>4.352496</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>71</integer>
      <key>name</key>
      <string><![CDATA[Ayuntamiento Bruselas]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/red-dot.png]]></string>
      <key>lat</key>
      <real>50.846664</real>
      <key>lng</key>
      <real>4.351911</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>72</integer>
      <key>name</key>
      <string><![CDATA[Casa del Rey]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/red-dot.png]]></string>
      <key>lat</key>
      <real>50.847088</real>
      <key>lng</key>
      <real>4.351991</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>73</integer>
      <key>name</key>
      <string><![CDATA[Iglesia Saint-Nicolas au Marchré]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/red-dot.png]]></string>
      <key>lat</key>
      <real>50.847652</real>
      <key>lng</key>
      <real>4.351482</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>74</integer>
      <key>name</key>
      <string><![CDATA[Manneken Pis]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/red-dot.png]]></string>
      <key>lat</key>
      <real>50.844994</real>
      <key>lng</key>
      <real>4.349978</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>75</integer>
      <key>name</key>
      <string><![CDATA[Galerías Saint-Hubert]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/red-dot.png]]></string>
      <key>lat</key>
      <real>50.846912</real>
      <key>lng</key>
      <real>4.35433</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>76</integer>
      <key>name</key>
      <string><![CDATA[Rue des Bouchers]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/red-dot.png]]></string>
      <key>lat</key>
      <real>50.847893</real>
      <key>lng</key>
      <real>4.354627</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>77</integer>
      <key>name</key>
      <string><![CDATA[Jeanneke Pis]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/red-dot.png]]></string>
      <key>lat</key>
      <real>50.848499</real>
      <key>lng</key>
      <real>4.354089</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>78</integer>
      <key>name</key>
      <string><![CDATA[Catedral de San Miguel y Santa Gúdula]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/red-dot.png]]></string>
      <key>lat</key>
      <real>50.847858</real>
      <key>lng</key>
      <real>4.35918</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>79</integer>
      <key>name</key>
      <string><![CDATA[Plaza de los Mártires]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/red-dot.png]]></string>
      <key>lat</key>
      <real>50.85173</real>
      <key>lng</key>
      <real>4.356347</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>80</integer>
      <key>name</key>
      <string><![CDATA[Museo del Comic]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/red.png]]></string>
      <key>lat</key>
      <real>50.851048</real>
      <key>lng</key>
      <real>4.360065</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>81</integer>
      <key>name</key>
      <string><![CDATA[Plaza Grand Sablon]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/red-dot.png]]></string>
      <key>lat</key>
      <real>50.840706</real>
      <key>lng</key>
      <real>4.355235</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>82</integer>
      <key>name</key>
      <string><![CDATA[Notre-Dame du Sablon]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/red-dot.png]]></string>
      <key>lat</key>
      <real>50.840145</real>
      <key>lng</key>
      <real>4.355848</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>83</integer>
      <key>name</key>
      <string><![CDATA[Calle Barrio Sablon]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/red.png]]></string>
      <key>lat</key>
      <real>50.842854</real>
      <key>lng</key>
      <real>4.354531</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>84</integer>
      <key>name</key>
      <string><![CDATA[Calle Barrio Marolles]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/red.png]]></string>
      <key>lat</key>
      <real>50.839989</real>
      <key>lng</key>
      <real>4.356267</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>85</integer>
      <key>name</key>
      <string><![CDATA[Palacio Real Bruselas]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/red-dot.png]]></string>
      <key>lat</key>
      <real>50.842209</real>
      <key>lng</key>
      <real>4.362516</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>86</integer>
      <key>name</key>
      <string><![CDATA[Plaza Real]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/red-dot.png]]></string>
      <key>lat</key>
      <real>50.842335</real>
      <key>lng</key>
      <real>4.359448</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>87</integer>
      <key>name</key>
      <string><![CDATA[Parque de Bruselas]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/red-dot.png]]></string>
      <key>lat</key>
      <real>50.844078</real>
      <key>lng</key>
      <real>4.363385</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>88</integer>
      <key>name</key>
      <string><![CDATA[Parlamento Europeo]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/red-dot.png]]></string>
      <key>lat</key>
      <real>50.838676</real>
      <key>lng</key>
      <real>4.375327</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>89</integer>
      <key>name</key>
      <string><![CDATA[Atomium]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/red-dot.png]]></string>
      <key>lat</key>
      <real>50.894947</real>
      <key>lng</key>
      <real>4.341413</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>90</integer>
      <key>name</key>
      <string><![CDATA[Mini-Europe]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/red-dot.png]]></string>
      <key>lat</key>
      <real>50.895996</real>
      <key>lng</key>
      <real>4.339278</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>91</integer>
      <key>name</key>
      <string><![CDATA[Basílica del Sagrado Corazón]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/red-dot.png]]></string>
      <key>lat</key>
      <real>50.866741</real>
      <key>lng</key>
      <real>4.318088</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>92</integer>
      <key>name</key>
      <string><![CDATA[Gare du Midi]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/caution.png]]></string>
      <key>lat</key>
      <real>50.836109</real>
      <key>lng</key>
      <real>4.335833</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>93</integer>
      <key>name</key>
      <string><![CDATA[Parking 1 Grote Markt]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/parkinglot.png]]></string>
      <key>lat</key>
      <real>50.84663</real>
      <key>lng</key>
      <real>4.355339</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>94</integer>
      <key>name</key>
      <string><![CDATA[Parking 2 Schildknaap]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/parkinglot.png]]></string>
      <key>lat</key>
      <real>50.849201</real>
      <key>lng</key>
      <real>4.353282</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>95</integer>
      <key>name</key>
      <string><![CDATA[Parking 3 Interparking]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/parkinglot.png]]></string>
      <key>lat</key>
      <real>50.850727</real>
      <key>lng</key>
      <real>4.350651</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>96</integer>
      <key>name</key>
      <string><![CDATA[TI-Amberes]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/info.png]]></string>
      <key>lat</key>
      <real>51.221493</real>
      <key>lng</key>
      <real>4.400279</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>97</integer>
      <key>name</key>
      <string><![CDATA[TI-Brujas]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/info.png]]></string>
      <key>lat</key>
      <real>51.204308</real>
      <key>lng</key>
      <real>3.218549</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>98</integer>
      <key>name</key>
      <string><![CDATA[TI.Gante 1]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/info.png]]></string>
      <key>lat</key>
      <real>51.056709</real>
      <key>lng</key>
      <real>3.72162</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>99</integer>
      <key>name</key>
      <string><![CDATA[TI-Gante 2]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/info.png]]></string>
      <key>lat</key>
      <real>51.054073</real>
      <key>lng</key>
      <real>3.725272</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>100</integer>
      <key>name</key>
      <string><![CDATA[TI-Bruselas]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/info.png]]></string>
      <key>lat</key>
      <real>50.847286</real>
      <key>lng</key>
      <real>4.353072</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>101</integer>
      <key>name</key>
      <string><![CDATA[Blankenberge Pier]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/ylw-pushpin.png]]></string>
      <key>lat</key>
      <real>51.319454</real>
      <key>lng</key>
      <real>3.140588</real>
    </dict>
  </array>
  <key>tags</key>
  <array>
    <dict>
      <key>index</key>
      <integer>1</integer>
      <key>name</key>
      <string>tag_1_HT_Belgica_2013</string>
      <key>poiIndexes</key>
      <array>
        <string>1</string>
        <string>2-4</string>
      </array>
      <key>tagIndexes</key>
      <array>
          <string>2</string>
          <string>4-5</string>
      </array>
    </dict>
    <dict>
      <key>index</key>
      <integer>2</integer>
      <key>name</key>
      <string>tag_2_HT_Belgica_2013</string>
      <key>poiIndexes</key>
      <array>
        <string>5-7</string>
      </array>
    </dict>
    <dict>
      <key>index</key>
      <integer>3</integer>
      <key>name</key>
      <string>tag_3_HT_Belgica_2013</string>
      <key>poiIndexes</key>
      <array>
        <string>8-10</string>
      </array>
    </dict>
    <dict>
      <key>index</key>
      <integer>4</integer>
      <key>name</key>
      <string>tag_4_HT_Belgica_2013</string>
      <key>poiIndexes</key>
      <array>
        <string>11-13</string>
      </array>
    </dict>
    <dict>
      <key>index</key>
      <integer>5</integer>
      <key>name</key>
      <string>tag_5_HT_Belgica_2013</string>
      <key>poiIndexes</key>
      <array>
        <string>14-16</string>
      </array>
    </dict>
  </array>
</dict>
</plist>
