<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>mapName</key>
  <string>HT_Portugal_2013</string>
  <key>pois</key>
  <array>
    <dict>
      <key>index</key>
      <integer>1</integer>
      <key>name</key>
      <string><![CDATA[Hotel Fundador]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/homegardenbusiness.png]]></string>
      <key>lat</key>
      <real>41.43586</real>
      <key>lng</key>
      <real>-8.295803</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>2</integer>
      <key>name</key>
      <string><![CDATA[Guimarães]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green-dot.png]]></string>
      <key>lat</key>
      <real>41.443516</real>
      <key>lng</key>
      <real>-8.294098</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>3</integer>
      <key>name</key>
      <string><![CDATA[Info Turismo - Guimarães]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/info.png]]></string>
      <key>lat</key>
      <real>41.444454</real>
      <key>lng</key>
      <real>-8.293036</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>4</integer>
      <key>name</key>
      <string><![CDATA[Plaza Largo da Oliveira]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green.png]]></string>
      <key>lat</key>
      <real>41.442909</real>
      <key>lng</key>
      <real>-8.293006</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>5</integer>
      <key>name</key>
      <string><![CDATA[Nossa Senhora da Oliveira]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green.png]]></string>
      <key>lat</key>
      <real>41.443035</real>
      <key>lng</key>
      <real>-8.292706</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>6</integer>
      <key>name</key>
      <string><![CDATA[Plaza de Santiago]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green.png]]></string>
      <key>lat</key>
      <real>41.443474</real>
      <key>lng</key>
      <real>-8.293211</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>7</integer>
      <key>name</key>
      <string><![CDATA[Paço Dos Duques De Bragança]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green.png]]></string>
      <key>lat</key>
      <real>41.446484</real>
      <key>lng</key>
      <real>-8.291008</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>8</integer>
      <key>name</key>
      <string><![CDATA[Igreja de Sao Francisco]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green.png]]></string>
      <key>lat</key>
      <real>41.440685</real>
      <key>lng</key>
      <real>-8.292688</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>9</integer>
      <key>name</key>
      <string><![CDATA[Igreja de Santos Passos]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green.png]]></string>
      <key>lat</key>
      <real>41.440849</real>
      <key>lng</key>
      <real>-8.289642</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>10</integer>
      <key>name</key>
      <string><![CDATA[Castillo de Guimarães]]></string>
      <key>desc</key>
      <string><![CDATA[<br>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green.png]]></string>
      <key>lat</key>
      <real>41.447971</real>
      <key>lng</key>
      <real>-8.290295</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>11</integer>
      <key>name</key>
      <string><![CDATA[Amarante]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green-dot.png]]></string>
      <key>lat</key>
      <real>41.269318</real>
      <key>lng</key>
      <real>-8.079334</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>12</integer>
      <key>name</key>
      <string><![CDATA[Info Turismo - Amarante]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/info.png]]></string>
      <key>lat</key>
      <real>41.269444</real>
      <key>lng</key>
      <real>-8.078282</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>13</integer>
      <key>name</key>
      <string><![CDATA[Igreja de São Gonçalo]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green.png]]></string>
      <key>lat</key>
      <real>41.269089</real>
      <key>lng</key>
      <real>-8.078545</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>14</integer>
      <key>name</key>
      <string><![CDATA[Iglesia de Santo Domingo]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green.png]]></string>
      <key>lat</key>
      <real>41.26897</real>
      <key>lng</key>
      <real>-8.079189</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>15</integer>
      <key>name</key>
      <string><![CDATA[Iglesia de San Pedro]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green.png]]></string>
      <key>lat</key>
      <real>41.26965</real>
      <key>lng</key>
      <real>-8.081539</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>16</integer>
      <key>name</key>
      <string><![CDATA[Santuario do Bom Jesús do Monte]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green-dot.png]]></string>
      <key>lat</key>
      <real>41.55439</real>
      <key>lng</key>
      <real>-8.379489</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>17</integer>
      <key>name</key>
      <string><![CDATA[Oporto]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green-dot.png]]></string>
      <key>lat</key>
      <real>41.156681</real>
      <key>lng</key>
      <real>-8.62392</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>18</integer>
      <key>name</key>
      <string><![CDATA[Puente de Luis I]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green.png]]></string>
      <key>lat</key>
      <real>41.139736</real>
      <key>lng</key>
      <real>-8.609376</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>19</integer>
      <key>name</key>
      <string><![CDATA[Catedral Oporto]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green.png]]></string>
      <key>lat</key>
      <real>41.142811</real>
      <key>lng</key>
      <real>-8.61149</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>20</integer>
      <key>name</key>
      <string><![CDATA[Iglesia San Lorenzo dos Grilos]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green.png]]></string>
      <key>lat</key>
      <real>41.142391</real>
      <key>lng</key>
      <real>-8.612933</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>21</integer>
      <key>name</key>
      <string><![CDATA[Muelles - Plaza de la Ribera]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green.png]]></string>
      <key>lat</key>
      <real>41.140411</real>
      <key>lng</key>
      <real>-8.612943</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>22</integer>
      <key>name</key>
      <string><![CDATA[Ascensor de la Ribera]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green.png]]></string>
      <key>lat</key>
      <real>41.140839</real>
      <key>lng</key>
      <real>-8.611162</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>23</integer>
      <key>name</key>
      <string><![CDATA[Funicular dos Guindais]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green.png]]></string>
      <key>lat</key>
      <real>41.14101</real>
      <key>lng</key>
      <real>-8.609226</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>24</integer>
      <key>name</key>
      <string><![CDATA[Palacio de la bolsa]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green.png]]></string>
      <key>lat</key>
      <real>41.141254</real>
      <key>lng</key>
      <real>-8.615448</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>25</integer>
      <key>name</key>
      <string><![CDATA[Iglesia de San Fco]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green.png]]></string>
      <key>lat</key>
      <real>41.140984</real>
      <key>lng</key>
      <real>-8.615486</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>26</integer>
      <key>name</key>
      <string><![CDATA[Rua Santa Catarina]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green.png]]></string>
      <key>lat</key>
      <real>41.147556</real>
      <key>lng</key>
      <real>-8.606603</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>27</integer>
      <key>name</key>
      <string><![CDATA[Estación de Sao Bento]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green.png]]></string>
      <key>lat</key>
      <real>41.145622</real>
      <key>lng</key>
      <real>-8.610513</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>28</integer>
      <key>name</key>
      <string><![CDATA[Plaza de la Libertad]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green.png]]></string>
      <key>lat</key>
      <real>41.146622</real>
      <key>lng</key>
      <real>-8.61135</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>29</integer>
      <key>name</key>
      <string><![CDATA[Praça da Batalha]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green.png]]></string>
      <key>lat</key>
      <real>41.145321</real>
      <key>lng</key>
      <real>-8.607096</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>30</integer>
      <key>name</key>
      <string><![CDATA[Bodega - Sandeman]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green.png]]></string>
      <key>lat</key>
      <real>41.137802</real>
      <key>lng</key>
      <real>-8.612324</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>31</integer>
      <key>name</key>
      <string><![CDATA[Bodega - Calem]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green.png]]></string>
      <key>lat</key>
      <real>41.137287</real>
      <key>lng</key>
      <real>-8.614681</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>32</integer>
      <key>name</key>
      <string><![CDATA[Bodega - Ramos Pinto]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green.png]]></string>
      <key>lat</key>
      <real>41.137112</real>
      <key>lng</key>
      <real>-8.615478</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>33</integer>
      <key>name</key>
      <string><![CDATA[Hotel Quiaios]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/homegardenbusiness.png]]></string>
      <key>lat</key>
      <real>40.219685</real>
      <key>lng</key>
      <real>-8.890285</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>34</integer>
      <key>name</key>
      <string><![CDATA[Aveiro]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/ltblue-dot.png]]></string>
      <key>lat</key>
      <real>40.640671</real>
      <key>lng</key>
      <real>-8.653874</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>35</integer>
      <key>name</key>
      <string><![CDATA[Info Turismo - Aveiro]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/info.png]]></string>
      <key>lat</key>
      <real>40.641582</real>
      <key>lng</key>
      <real>-8.654383</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>36</integer>
      <key>name</key>
      <string><![CDATA[Museo De Aveiro]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/lightblue.png]]></string>
      <key>lat</key>
      <real>40.639164</real>
      <key>lng</key>
      <real>-8.651079</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>37</integer>
      <key>name</key>
      <string><![CDATA[Catedral Aveiro]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/lightblue.png]]></string>
      <key>lat</key>
      <real>40.639683</real>
      <key>lng</key>
      <real>-8.650317</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>38</integer>
      <key>name</key>
      <string><![CDATA[Mercado do Peixe]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/lightblue.png]]></string>
      <key>lat</key>
      <real>40.642685</real>
      <key>lng</key>
      <real>-8.65536</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>39</integer>
      <key>name</key>
      <string><![CDATA[Ayuntamiento]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/lightblue.png]]></string>
      <key>lat</key>
      <real>40.640392</real>
      <key>lng</key>
      <real>-8.653659</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>40</integer>
      <key>name</key>
      <string><![CDATA[Iglesia de la Misericordia]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/lightblue.png]]></string>
      <key>lat</key>
      <real>40.640488</real>
      <key>lng</key>
      <real>-8.653332</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>41</integer>
      <key>name</key>
      <string><![CDATA[Pueblo de Costa Nova (Casas Rayas de Colores)]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/lightblue.png]]></string>
      <key>lat</key>
      <real>40.615425</real>
      <key>lng</key>
      <real>-8.749548</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>42</integer>
      <key>name</key>
      <string><![CDATA[Praia de Mira]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/water.png]]></string>
      <key>lat</key>
      <real>40.45763</real>
      <key>lng</key>
      <real>-8.801109</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>43</integer>
      <key>name</key>
      <string><![CDATA[Figueira da Foz]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/ltblue-dot.png]]></string>
      <key>lat</key>
      <real>40.150311</real>
      <key>lng</key>
      <real>-8.857157</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>44</integer>
      <key>name</key>
      <string><![CDATA[Praia da Claridade]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/water.png]]></string>
      <key>lat</key>
      <real>40.1548</real>
      <key>lng</key>
      <real>-8.872061</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>45</integer>
      <key>name</key>
      <string><![CDATA[Faro del Cabo Mondego]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/lightblue.png]]></string>
      <key>lat</key>
      <real>40.190479</real>
      <key>lng</key>
      <real>-8.904655</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>46</integer>
      <key>name</key>
      <string><![CDATA[Parque Nacional de Buçaco]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/ltblue-dot.png]]></string>
      <key>lat</key>
      <real>40.37603</real>
      <key>lng</key>
      <real>-8.36505</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>47</integer>
      <key>name</key>
      <string><![CDATA[Coimbra]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/ltblue-dot.png]]></string>
      <key>lat</key>
      <real>40.207436</real>
      <key>lng</key>
      <real>-8.429314</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>48</integer>
      <key>name</key>
      <string><![CDATA[Info Turismo - Coimbra]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/info.png]]></string>
      <key>lat</key>
      <real>40.207512</real>
      <key>lng</key>
      <real>-8.42962</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>49</integer>
      <key>name</key>
      <string><![CDATA[Arco Almedina]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/lightblue.png]]></string>
      <key>lat</key>
      <real>40.208885</real>
      <key>lng</key>
      <real>-8.429035</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>50</integer>
      <key>name</key>
      <string><![CDATA[Praça 8 de Maio]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/lightblue.png]]></string>
      <key>lat</key>
      <real>40.210823</real>
      <key>lng</key>
      <real>-8.429105</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>51</integer>
      <key>name</key>
      <string><![CDATA[Portugal dos Pequenitos]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/lightblue.png]]></string>
      <key>lat</key>
      <real>40.202881</real>
      <key>lng</key>
      <real>-8.434643</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>52</integer>
      <key>name</key>
      <string><![CDATA[Universidad Vieja]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/lightblue.png]]></string>
      <key>lat</key>
      <real>40.207466</real>
      <key>lng</key>
      <real>-8.425977</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>53</integer>
      <key>name</key>
      <string><![CDATA[Biblioteca Joanina]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/lightblue.png]]></string>
      <key>lat</key>
      <real>40.207172</real>
      <key>lng</key>
      <real>-8.426374</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>54</integer>
      <key>name</key>
      <string><![CDATA[Catedral Nueva de Coímbra]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/lightblue.png]]></string>
      <key>lat</key>
      <real>40.209347</real>
      <key>lng</key>
      <real>-8.424475</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>55</integer>
      <key>name</key>
      <string><![CDATA[Catedral Vieja de Coímbra]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/lightblue.png]]></string>
      <key>lat</key>
      <real>40.208797</real>
      <key>lng</key>
      <real>-8.427184</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>56</integer>
      <key>name</key>
      <string><![CDATA[Monasterio de Santa Clara a Velha]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/lightblue.png]]></string>
      <key>lat</key>
      <real>40.202755</real>
      <key>lng</key>
      <real>-8.433439</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>57</integer>
      <key>name</key>
      <string><![CDATA[Hotel Maré]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/homegardenbusiness.png]]></string>
      <key>lat</key>
      <real>39.601658</real>
      <key>lng</key>
      <real>-9.072446</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>58</integer>
      <key>name</key>
      <string><![CDATA[Nazaré]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/yellow-dot.png]]></string>
      <key>lat</key>
      <real>39.597618</real>
      <key>lng</key>
      <real>-9.072368</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>59</integer>
      <key>name</key>
      <string><![CDATA[Santuário de Nossa Senhora da Nazaré]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/yellow.png]]></string>
      <key>lat</key>
      <real>39.604836</real>
      <key>lng</key>
      <real>-9.076038</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>60</integer>
      <key>name</key>
      <string><![CDATA[Farolim da Nazaré]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/yellow.png]]></string>
      <key>lat</key>
      <real>39.604527</real>
      <key>lng</key>
      <real>-9.084934</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>61</integer>
      <key>name</key>
      <string><![CDATA[Playa Nazaré]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/water.png]]></string>
      <key>lat</key>
      <real>39.597523</real>
      <key>lng</key>
      <real>-9.073806</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>62</integer>
      <key>name</key>
      <string><![CDATA[Monasterio de Batalha]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/yellow-dot.png]]></string>
      <key>lat</key>
      <real>39.659466</real>
      <key>lng</key>
      <real>-8.825245</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>63</integer>
      <key>name</key>
      <string><![CDATA[Monasterio de Alcobaça]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/yellow-dot.png]]></string>
      <key>lat</key>
      <real>39.54866</real>
      <key>lng</key>
      <real>-8.97964</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>64</integer>
      <key>name</key>
      <string><![CDATA[Tomar]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/yellow-dot.png]]></string>
      <key>lat</key>
      <real>39.605381</real>
      <key>lng</key>
      <real>-8.40431</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>65</integer>
      <key>name</key>
      <string><![CDATA[Iglesia de Sao Joao Baptista]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/yellow.png]]></string>
      <key>lat</key>
      <real>39.603657</real>
      <key>lng</key>
      <real>-8.414744</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>66</integer>
      <key>name</key>
      <string><![CDATA[Convento de Cristo]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/yellow.png]]></string>
      <key>lat</key>
      <real>39.604019</real>
      <key>lng</key>
      <real>-8.419111</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>67</integer>
      <key>name</key>
      <string><![CDATA[Castelo de Tomar]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/yellow.png]]></string>
      <key>lat</key>
      <real>39.603207</real>
      <key>lng</key>
      <real>-8.418875</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>68</integer>
      <key>name</key>
      <string><![CDATA[Obidos]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[https://maps.gstatic.com/mapfiles/ms2/micons/yellow.png]]></string>
      <key>lat</key>
      <real>39.361542</real>
      <key>lng</key>
      <real>-9.15683</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>69</integer>
      <key>name</key>
      <string><![CDATA[Igreja de Santa Maria]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/yellow.png]]></string>
      <key>lat</key>
      <real>39.361912</real>
      <key>lng</key>
      <real>-9.156976</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>70</integer>
      <key>name</key>
      <string><![CDATA[Museo Municipal de Óbidos]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/yellow.png]]></string>
      <key>lat</key>
      <real>39.362019</real>
      <key>lng</key>
      <real>-9.156748</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>71</integer>
      <key>name</key>
      <string><![CDATA[Palacio Nacional de Mafra]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/red-dot.png]]></string>
      <key>lat</key>
      <real>38.936878</real>
      <key>lng</key>
      <real>-9.326878</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>72</integer>
      <key>name</key>
      <string><![CDATA[Casa da Pendôa]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/homegardenbusiness.png]]></string>
      <key>lat</key>
      <real>38.797188</real>
      <key>lng</key>
      <real>-9.391732</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>73</integer>
      <key>name</key>
      <string><![CDATA[Sintra]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/red-dot.png]]></string>
      <key>lat</key>
      <real>38.79689</real>
      <key>lng</key>
      <real>-9.390714</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>74</integer>
      <key>name</key>
      <string><![CDATA[Cabo Da Roca]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/red.png]]></string>
      <key>lat</key>
      <real>38.780411</real>
      <key>lng</key>
      <real>-9.49888</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>75</integer>
      <key>name</key>
      <string><![CDATA[Palacio Nacional de Sintra]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/red.png]]></string>
      <key>lat</key>
      <real>38.797562</real>
      <key>lng</key>
      <real>-9.39065</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>76</integer>
      <key>name</key>
      <string><![CDATA[Palacio da Pena]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/red.png]]></string>
      <key>lat</key>
      <real>38.787399</real>
      <key>lng</key>
      <real>-9.390451</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>77</integer>
      <key>name</key>
      <string><![CDATA[Jardins do Parque da Pena]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/red.png]]></string>
      <key>lat</key>
      <real>38.788399</real>
      <key>lng</key>
      <real>-9.388644</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>78</integer>
      <key>name</key>
      <string><![CDATA[Castelo dos Mouros]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/red.png]]></string>
      <key>lat</key>
      <real>38.792557</real>
      <key>lng</key>
      <real>-9.389338</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>79</integer>
      <key>name</key>
      <string><![CDATA[Quinta da Regaleira]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/red.png]]></string>
      <key>lat</key>
      <real>38.796253</real>
      <key>lng</key>
      <real>-9.396277</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>80</integer>
      <key>name</key>
      <string><![CDATA[Palacio de Queluz]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/red-dot.png]]></string>
      <key>lat</key>
      <real>38.750629</real>
      <key>lng</key>
      <real>-9.258696</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>81</integer>
      <key>name</key>
      <string><![CDATA[Hotel Novotel Lisboa]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/homegardenbusiness.png]]></string>
      <key>lat</key>
      <real>38.736523</real>
      <key>lng</key>
      <real>-9.161982</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>82</integer>
      <key>name</key>
      <string><![CDATA[Lisboa]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/purple-dot.png]]></string>
      <key>lat</key>
      <real>38.719604</real>
      <key>lng</key>
      <real>-9.145088</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>83</integer>
      <key>name</key>
      <string><![CDATA[Plaza del Rossio]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/purple.png]]></string>
      <key>lat</key>
      <real>38.713802</real>
      <key>lng</key>
      <real>-9.139375</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>84</integer>
      <key>name</key>
      <string><![CDATA[Praça da Figueira]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/purple.png]]></string>
      <key>lat</key>
      <real>38.713654</real>
      <key>lng</key>
      <real>-9.137803</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>85</integer>
      <key>name</key>
      <string><![CDATA[Castelo de San Jorge]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/purple.png]]></string>
      <key>lat</key>
      <real>38.713909</real>
      <key>lng</key>
      <real>-9.133598</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>86</integer>
      <key>name</key>
      <string><![CDATA[Elevador de Santa Justa]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/purple.png]]></string>
      <key>lat</key>
      <real>38.712154</real>
      <key>lng</key>
      <real>-9.139289</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>87</integer>
      <key>name</key>
      <string><![CDATA[Elevador da Gloria]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/purple.png]]></string>
      <key>lat</key>
      <real>38.716072</real>
      <key>lng</key>
      <real>-9.142889</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>88</integer>
      <key>name</key>
      <string><![CDATA[Praça do Comerçio]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/purple.png]]></string>
      <key>lat</key>
      <real>38.707684</real>
      <key>lng</key>
      <real>-9.136623</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>89</integer>
      <key>name</key>
      <string><![CDATA[Plaza de los Restauradores]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/purple.png]]></string>
      <key>lat</key>
      <real>38.715744</real>
      <key>lng</key>
      <real>-9.141714</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>90</integer>
      <key>name</key>
      <string><![CDATA[Sé Catedral]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/purple.png]]></string>
      <key>lat</key>
      <real>38.709988</real>
      <key>lng</key>
      <real>-9.133678</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>91</integer>
      <key>name</key>
      <string><![CDATA[Rua Augusta]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/purple.png]]></string>
      <key>lat</key>
      <real>38.709</real>
      <key>lng</key>
      <real>-9.137052</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>92</integer>
      <key>name</key>
      <string><![CDATA[Praça do Maequés de Pombal]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/purple.png]]></string>
      <key>lat</key>
      <real>38.72533</real>
      <key>lng</key>
      <real>-9.150238</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>93</integer>
      <key>name</key>
      <string><![CDATA[Iglesia Jeronimos]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/purple.png]]></string>
      <key>lat</key>
      <real>38.697517</real>
      <key>lng</key>
      <real>-9.207165</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>94</integer>
      <key>name</key>
      <string><![CDATA[Torre de Belem]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/purple.png]]></string>
      <key>lat</key>
      <real>38.691563</real>
      <key>lng</key>
      <real>-9.215941</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>95</integer>
      <key>name</key>
      <string><![CDATA[Cascais]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/purple.png]]></string>
      <key>lat</key>
      <real>38.697048</real>
      <key>lng</key>
      <real>-9.42229</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>96</integer>
      <key>name</key>
      <string><![CDATA[Estoril]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/purple.png]]></string>
      <key>lat</key>
      <real>38.708759</real>
      <key>lng</key>
      <real>-9.400444</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>97</integer>
      <key>name</key>
      <string><![CDATA[Evora]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/pink.png]]></string>
      <key>lat</key>
      <real>38.570885</real>
      <key>lng</key>
      <real>-7.909352</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>98</integer>
      <key>name</key>
      <string><![CDATA[Hotel Oasis Parque Country Club]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/homegardenbusiness.png]]></string>
      <key>lat</key>
      <real>37.155964</real>
      <key>lng</key>
      <real>-8.557572</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>99</integer>
      <key>name</key>
      <string><![CDATA[Portimão]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/pink-dot.png]]></string>
      <key>lat</key>
      <real>37.136162</real>
      <key>lng</key>
      <real>-8.53769</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>100</integer>
      <key>name</key>
      <string><![CDATA[Faro]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/pink.png]]></string>
      <key>lat</key>
      <real>37.019348</real>
      <key>lng</key>
      <real>-7.93044</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>101</integer>
      <key>name</key>
      <string><![CDATA[Cabo de San Vincente]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/pink.png]]></string>
      <key>lat</key>
      <real>37.023029</real>
      <key>lng</key>
      <real>-8.99647</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>102</integer>
      <key>name</key>
      <string><![CDATA[Lagos]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/pink.png]]></string>
      <key>lat</key>
      <real>37.10524</real>
      <key>lng</key>
      <real>-7.90909</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>103</integer>
      <key>name</key>
      <string><![CDATA[Silves]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/pink.png]]></string>
      <key>lat</key>
      <real>37.188919</real>
      <key>lng</key>
      <real>-8.44118</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>104</integer>
      <key>name</key>
      <string><![CDATA[Tavira]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/pink.png]]></string>
      <key>lat</key>
      <real>37.133591</real>
      <key>lng</key>
      <real>-7.643002</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>105</integer>
      <key>name</key>
      <string><![CDATA[Albufeira]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/pink.png]]></string>
      <key>lat</key>
      <real>37.089073</real>
      <key>lng</key>
      <real>-8.24788</real>
    </dict>
  </array>

  <!-- **************************************************************************************************************** -->
  <!-- **************************************************************************************************************** -->


  <key>tags</key>
  <array>
    <dict>
      <key>index</key>
      <integer>1</integer>
      <key>name</key>
      <string>Zona Norte</string>
      <key>tagIndexes</key>
      <array>
        <string>10-12</string>
      </array>
    </dict>
    <dict>
      <key>index</key>
      <integer>2</integer>
      <key>name</key>
      <string>Zona Centro</string>
      <key>tagIndexes</key>
      <array>
        <string>20-21</string>
      </array>
    </dict>
    <dict>
      <key>index</key>
      <integer>3</integer>
      <key>name</key>
      <string>Zona Sur</string>
      <key>tagIndexes</key>
      <array>
        <string>30</string>
      </array>
    </dict>



    <dict>
      <key>index</key>
      <integer>10</integer>
      <key>name</key>
      <string>Z.N. - Oporto</string>
      <key>poiIndexes</key>
      <array>
        <string>16</string>
      </array>
      <key>tagIndexes</key>
      <array>
        <string>100-103</string>
      </array>
    </dict>
    <dict>
      <key>index</key>
      <integer>100</integer>
      <key>name</key>
      <string>Guimarães</string>
      <key>poiIndexes</key>
      <array>
        <string>1-10</string>
      </array>
    </dict>
    <dict>
      <key>index</key>
      <integer>101</integer>
      <key>name</key>
      <string>Amarante</string>
      <key>poiIndexes</key>
      <array>
        <string>11-15</string>
      </array>
    </dict>
    <dict>
      <key>index</key>
      <integer>102</integer>
      <key>name</key>
      <string>Others1</string>
      <key>poiIndexes</key>
      <array>
        <string>16000000</string>
      </array>
    </dict>
    <dict>
      <key>index</key>
      <integer>103</integer>
      <key>name</key>
      <string>Oporto</string>
      <key>poiIndexes</key>
      <array>
        <string>17-32</string>
      </array>
    </dict>

    <dict>
      <key>index</key>
      <integer>11</integer>
      <key>name</key>
      <string>Z.N. - Coimbra</string>
      <key>poiIndexes</key>
      <array>
        <string>33-46</string>
      </array>
      <key>tagIndexes</key>
      <array>
        <string>110-111</string>
      </array>
    </dict>
    <dict>
      <key>index</key>
      <integer>110</integer>
      <key>name</key>
      <string>Others2</string>
      <key>poiIndexes</key>
      <array>
        <string>33000-46000</string>
      </array>
    </dict>
    <dict>
      <key>index</key>
      <integer>111</integer>
      <key>name</key>
      <string>Coimbra</string>
      <key>poiIndexes</key>
      <array>
        <string>47-56</string>
      </array>
    </dict>


    <dict>
      <key>index</key>
      <integer>12</integer>
      <key>name</key>
      <string>Z.N. - Nazaré</string>
      <key>poiIndexes</key>
      <array>
        <string>57-70</string>
      </array>
    </dict>
    <dict>
      <key>index</key>
      <integer>20</integer>
      <key>name</key>
      <string>Z.C. - Sintra</string>
      <key>poiIndexes</key>
      <array>
        <string>71-80</string>
      </array>
    </dict>
    <dict>
      <key>index</key>
      <integer>21</integer>
      <key>name</key>
      <string>Z.C. - Lisboa</string>
      <key>poiIndexes</key>
      <array>
        <string>81-96</string>
      </array>
    </dict>
    <dict>
      <key>index</key>
      <integer>30</integer>
      <key>name</key>
      <string>Z.S. - Algarbe</string>
      <key>poiIndexes</key>
      <array>
        <string>97-105</string>
      </array>
    </dict>
  </array>
</dict>
</plist>
