<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>mapName</key>
  <string>HT_SICILIA_2012</string>
  <key>pois</key>
  <array>
    <dict>
      <key>index</key>
      <integer>1</integer>
      <key>name</key>
      <string><![CDATA[Roma-Hotel 69 Manin Street Deluxe B&B]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/homegardenbusiness.png]]></string>
      <key>lat</key>
      <real>41.898884</real>
      <key>lng</key>
      <real>12.499113</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>2</integer>
      <key>name</key>
      <string><![CDATA[Amalfi-Hotel Doria]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/homegardenbusiness.png]]></string>
      <key>lat</key>
      <real>40.623325</real>
      <key>lng</key>
      <real>14.576653</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>3</integer>
      <key>name</key>
      <string><![CDATA[Amalfi]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/red-dot.png]]></string>
      <key>lat</key>
      <real>40.633579</real>
      <key>lng</key>
      <real>14.602214</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>4</integer>
      <key>name</key>
      <string><![CDATA[Atrani]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/red-dot.png]]></string>
      <key>lat</key>
      <real>40.635509</real>
      <key>lng</key>
      <real>14.608743</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>5</integer>
      <key>name</key>
      <string><![CDATA[Ravello]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/red-dot.png]]></string>
      <key>lat</key>
      <real>40.649216</real>
      <key>lng</key>
      <real>14.610389</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>6</integer>
      <key>name</key>
      <string><![CDATA[Positano]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/red-dot.png]]></string>
      <key>lat</key>
      <real>40.628098</real>
      <key>lng</key>
      <real>14.486514</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>7</integer>
      <key>name</key>
      <string><![CDATA[PK-Positano 1]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/parkinglot.png]]></string>
      <key>lat</key>
      <real>40.630878</real>
      <key>lng</key>
      <real>14.484674</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>8</integer>
      <key>name</key>
      <string><![CDATA[PK-Positano 2]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/parkinglot.png]]></string>
      <key>lat</key>
      <real>40.628998</real>
      <key>lng</key>
      <real>14.480029</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>9</integer>
      <key>name</key>
      <string><![CDATA[Herculano]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/red-dot.png]]></string>
      <key>lat</key>
      <real>40.806076</real>
      <key>lng</key>
      <real>14.352921</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>10</integer>
      <key>name</key>
      <string><![CDATA[Monte Vesubio]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/volcano.png]]></string>
      <key>lat</key>
      <real>40.821957</real>
      <key>lng</key>
      <real>14.428879</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>11</integer>
      <key>name</key>
      <string><![CDATA[Pompeya - Entrada Piazza Anfiteatro]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/red-dot.png]]></string>
      <key>lat</key>
      <real>40.749203</real>
      <key>lng</key>
      <real>14.495661</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>12</integer>
      <key>name</key>
      <string><![CDATA[Pompeya - Entrada Piazza Porta Marina]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/red-dot.png]]></string>
      <key>lat</key>
      <real>40.747326</real>
      <key>lng</key>
      <real>14.484621</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>13</integer>
      <key>name</key>
      <string><![CDATA[PK-Pompeya 1]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/parkinglot.png]]></string>
      <key>lat</key>
      <real>40.749363</real>
      <key>lng</key>
      <real>14.497053</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>14</integer>
      <key>name</key>
      <string><![CDATA[PK-Pompeya 2]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/parkinglot.png]]></string>
      <key>lat</key>
      <real>40.746902</real>
      <key>lng</key>
      <real>14.487609</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>15</integer>
      <key>name</key>
      <string><![CDATA[Napoles]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/red-dot.png]]></string>
      <key>lat</key>
      <real>40.845753</real>
      <key>lng</key>
      <real>14.263322</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>16</integer>
      <key>name</key>
      <string><![CDATA[Ferry Napoles]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/ferry.png]]></string>
      <key>lat</key>
      <real>40.843002</real>
      <key>lng</key>
      <real>14.260855</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>17</integer>
      <key>name</key>
      <string><![CDATA[Isla de Capri]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/red.png]]></string>
      <key>lat</key>
      <real>40.5532</real>
      <key>lng</key>
      <real>14.222154</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>18</integer>
      <key>name</key>
      <string><![CDATA[Salerno]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/red.png]]></string>
      <key>lat</key>
      <real>40.677956</real>
      <key>lng</key>
      <real>14.765912</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>19</integer>
      <key>name</key>
      <string><![CDATA[Bagnara]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>38.288429</real>
      <key>lng</key>
      <real>15.808276</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>20</integer>
      <key>name</key>
      <string><![CDATA[Cosenza]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>39.298199</real>
      <key>lng</key>
      <real>16.253893</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>21</integer>
      <key>name</key>
      <string><![CDATA[Diamante]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>39.677109</real>
      <key>lng</key>
      <real>15.825202</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>22</integer>
      <key>name</key>
      <string><![CDATA[Playas de Capo vaticano]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/water.png]]></string>
      <key>lat</key>
      <real>38.630348</real>
      <key>lng</key>
      <real>15.832285</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>23</integer>
      <key>name</key>
      <string><![CDATA[Scilla]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>38.253654</real>
      <key>lng</key>
      <real>15.715312</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>24</integer>
      <key>name</key>
      <string><![CDATA[Tropea]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>38.679043</real>
      <key>lng</key>
      <real>15.896366</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>25</integer>
      <key>name</key>
      <string><![CDATA[Zomaro]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>38.310108</real>
      <key>lng</key>
      <real>16.10515</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>26</integer>
      <key>name</key>
      <string><![CDATA[Ferry Messina]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/ferry.png]]></string>
      <key>lat</key>
      <real>38.216774</real>
      <key>lng</key>
      <real>15.636249</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>27</integer>
      <key>name</key>
      <string><![CDATA[Cefalu]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green-dot.png]]></string>
      <key>lat</key>
      <real>38.039803</real>
      <key>lng</key>
      <real>14.022699</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>28</integer>
      <key>name</key>
      <string><![CDATA[PK-Cefalu]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/parkinglot.png]]></string>
      <key>lat</key>
      <real>38.033085</real>
      <key>lng</key>
      <real>14.019813</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>29</integer>
      <key>name</key>
      <string><![CDATA[Il Sarraceno]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/restaurant.png]]></string>
      <key>lat</key>
      <real>38.040806</real>
      <key>lng</key>
      <real>14.021256</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>30</integer>
      <key>name</key>
      <string><![CDATA[Petralia Soprana (zona iglesia)]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/yellow.png]]></string>
      <key>lat</key>
      <real>37.797802</real>
      <key>lng</key>
      <real>14.107915</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>31</integer>
      <key>name</key>
      <string><![CDATA[Islas Eolias - Lipari Mesina]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green-dot.png]]></string>
      <key>lat</key>
      <real>38.466827</real>
      <key>lng</key>
      <real>14.955654</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>32</integer>
      <key>name</key>
      <string><![CDATA[Islas Eolias - Stromboli]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/volcano.png]]></string>
      <key>lat</key>
      <real>38.789288</real>
      <key>lng</key>
      <real>15.21363</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>33</integer>
      <key>name</key>
      <string><![CDATA[Islas Eolias - Vulcano]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/volcano.png]]></string>
      <key>lat</key>
      <real>38.39061</real>
      <key>lng</key>
      <real>14.968091</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>34</integer>
      <key>name</key>
      <string><![CDATA[PK-Ferry Milazzo]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/parkinglot.png]]></string>
      <key>lat</key>
      <real>38.21529</real>
      <key>lng</key>
      <real>15.243745</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>35</integer>
      <key>name</key>
      <string><![CDATA[Tindari (Santuario Maria SS Tindari)]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/yellow.png]]></string>
      <key>lat</key>
      <real>38.141666</real>
      <key>lng</key>
      <real>15.045728</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>36</integer>
      <key>name</key>
      <string><![CDATA[Taormina]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green-dot.png]]></string>
      <key>lat</key>
      <real>37.851135</real>
      <key>lng</key>
      <real>15.282964</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>37</integer>
      <key>name</key>
      <string><![CDATA[Taormina-Hotel Andromaco Palace]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/homegardenbusiness.png]]></string>
      <key>lat</key>
      <real>37.860229</real>
      <key>lng</key>
      <real>15.288503</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>38</integer>
      <key>name</key>
      <string><![CDATA[Teatro Griego]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green.png]]></string>
      <key>lat</key>
      <real>37.852459</real>
      <key>lng</key>
      <real>15.29155</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>39</integer>
      <key>name</key>
      <string><![CDATA[PK-Taormina-P. Catania]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/parkinglot.png]]></string>
      <key>lat</key>
      <real>37.850307</real>
      <key>lng</key>
      <real>15.28066</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>40</integer>
      <key>name</key>
      <string><![CDATA[PK-Taormina-P. Messina]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/parkinglot.png]]></string>
      <key>lat</key>
      <real>37.854809</real>
      <key>lng</key>
      <real>15.291381</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>41</integer>
      <key>name</key>
      <string><![CDATA[Playa Mazzaro]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/water.png]]></string>
      <key>lat</key>
      <real>37.856094</real>
      <key>lng</key>
      <real>15.301512</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>42</integer>
      <key>name</key>
      <string><![CDATA[Isola Bella]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green.png]]></string>
      <key>lat</key>
      <real>37.850224</real>
      <key>lng</key>
      <real>15.300608</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>43</integer>
      <key>name</key>
      <string><![CDATA[Giarre]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/yellow.png]]></string>
      <key>lat</key>
      <real>37.726719</real>
      <key>lng</key>
      <real>15.184141</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>44</integer>
      <key>name</key>
      <string><![CDATA[Rifugi Alpini Sapienza]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green.png]]></string>
      <key>lat</key>
      <real>37.700275</real>
      <key>lng</key>
      <real>14.99916</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>45</integer>
      <key>name</key>
      <string><![CDATA[Etna]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/volcano.png]]></string>
      <key>lat</key>
      <real>37.754398</real>
      <key>lng</key>
      <real>14.995895</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>46</integer>
      <key>name</key>
      <string><![CDATA[Garganta Alcantara]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green.png]]></string>
      <key>lat</key>
      <real>37.878918</real>
      <key>lng</key>
      <real>15.175639</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>47</integer>
      <key>name</key>
      <string><![CDATA[Regione Siciliana Ente Parco Fluviale Dell'Alcantara]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/info.png]]></string>
      <key>lat</key>
      <real>37.883526</real>
      <key>lng</key>
      <real>15.123995</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>48</integer>
      <key>name</key>
      <string><![CDATA[Catania]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green-dot.png]]></string>
      <key>lat</key>
      <real>37.502754</real>
      <key>lng</key>
      <real>15.087243</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>49</integer>
      <key>name</key>
      <string><![CDATA[Aci Castello]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/yellow.png]]></string>
      <key>lat</key>
      <real>37.554214</real>
      <key>lng</key>
      <real>15.149417</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>50</integer>
      <key>name</key>
      <string><![CDATA[Acireale]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/yellow.png]]></string>
      <key>lat</key>
      <real>37.612541</real>
      <key>lng</key>
      <real>15.16551</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>51</integer>
      <key>name</key>
      <string><![CDATA[Siracuda - Ortigia]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green-dot.png]]></string>
      <key>lat</key>
      <real>37.059303</real>
      <key>lng</key>
      <real>15.293119</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>52</integer>
      <key>name</key>
      <string><![CDATA[Siracusa-Dolce Casa]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/homegardenbusiness.png]]></string>
      <key>lat</key>
      <real>37.043892</real>
      <key>lng</key>
      <real>15.266082</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>53</integer>
      <key>name</key>
      <string><![CDATA[Parque Arqueologico]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/POI.png]]></string>
      <key>lat</key>
      <real>37.075375</real>
      <key>lng</key>
      <real>15.278893</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>54</integer>
      <key>name</key>
      <string><![CDATA[Fontane Bianche]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/water.png]]></string>
      <key>lat</key>
      <real>36.963902</real>
      <key>lng</key>
      <real>15.209177</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>55</integer>
      <key>name</key>
      <string><![CDATA[PK-Tatele]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/parkinglot.png]]></string>
      <key>lat</key>
      <real>37.064972</real>
      <key>lng</key>
      <real>15.295908</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>56</integer>
      <key>name</key>
      <string><![CDATA[Noto]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green-dot.png]]></string>
      <key>lat</key>
      <real>36.890923</real>
      <key>lng</key>
      <real>15.070635</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>57</integer>
      <key>name</key>
      <string><![CDATA[Noto-Residence Noto Nobilis]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/homegardenbusiness.png]]></string>
      <key>lat</key>
      <real>36.894085</real>
      <key>lng</key>
      <real>15.073398</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>58</integer>
      <key>name</key>
      <string><![CDATA[PK-Noto]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/parkinglot.png]]></string>
      <key>lat</key>
      <real>36.890102</real>
      <key>lng</key>
      <real>15.073905</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>59</integer>
      <key>name</key>
      <string><![CDATA[Cala Mosche]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/water.png]]></string>
      <key>lat</key>
      <real>36.824333</real>
      <key>lng</key>
      <real>15.106115</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>60</integer>
      <key>name</key>
      <string><![CDATA[Vendicari]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/water.png]]></string>
      <key>lat</key>
      <real>36.802929</real>
      <key>lng</key>
      <real>15.096674</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>61</integer>
      <key>name</key>
      <string><![CDATA[Ragusa ibla]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green-dot.png]]></string>
      <key>lat</key>
      <real>36.926121</real>
      <key>lng</key>
      <real>14.728385</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>62</integer>
      <key>name</key>
      <string><![CDATA[PK-Ragusa 1]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/parkinglot.png]]></string>
      <key>lat</key>
      <real>36.92527</real>
      <key>lng</key>
      <real>14.73629</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>63</integer>
      <key>name</key>
      <string><![CDATA[PK-Ragusa 2]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/parkinglot.png]]></string>
      <key>lat</key>
      <real>36.925858</real>
      <key>lng</key>
      <real>14.741051</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>64</integer>
      <key>name</key>
      <string><![CDATA[Modica]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/yellow-dot.png]]></string>
      <key>lat</key>
      <real>36.858948</real>
      <key>lng</key>
      <real>14.760884</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>65</integer>
      <key>name</key>
      <string><![CDATA[Villa romana del Casale]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/fallingrocks.png]]></string>
      <key>lat</key>
      <real>37.368977</real>
      <key>lng</key>
      <real>14.332435</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>66</integer>
      <key>name</key>
      <string><![CDATA[Marzamemi]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/yellow.png]]></string>
      <key>lat</key>
      <real>36.741497</real>
      <key>lng</key>
      <real>15.119419</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>67</integer>
      <key>name</key>
      <string><![CDATA[Caltagirone]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/yellow.png]]></string>
      <key>lat</key>
      <real>37.237183</real>
      <key>lng</key>
      <real>14.513236</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>68</integer>
      <key>name</key>
      <string><![CDATA[Caltanissetta]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/yellow.png]]></string>
      <key>lat</key>
      <real>37.48991</real>
      <key>lng</key>
      <real>14.063289</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>69</integer>
      <key>name</key>
      <string><![CDATA[Piazza Armerina]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/yellow.png]]></string>
      <key>lat</key>
      <real>37.383457</real>
      <key>lng</key>
      <real>14.369793</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>70</integer>
      <key>name</key>
      <string><![CDATA[Agrigento-Valle de los templos]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/fallingrocks.png]]></string>
      <key>lat</key>
      <real>37.297459</real>
      <key>lng</key>
      <real>13.590168</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>71</integer>
      <key>name</key>
      <string><![CDATA[Agrigento-Hotel Del Viale]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/homegardenbusiness.png]]></string>
      <key>lat</key>
      <real>37.308216</real>
      <key>lng</key>
      <real>13.588972</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>72</integer>
      <key>name</key>
      <string><![CDATA[Agrigento]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/yellow.png]]></string>
      <key>lat</key>
      <real>37.309978</real>
      <key>lng</key>
      <real>13.585432</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>73</integer>
      <key>name</key>
      <string><![CDATA[Playa Agrigento 1]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/water.png]]></string>
      <key>lat</key>
      <real>37.254749</real>
      <key>lng</key>
      <real>13.599111</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>74</integer>
      <key>name</key>
      <string><![CDATA[Playa Agrigento 2]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/water.png]]></string>
      <key>lat</key>
      <real>37.237907</real>
      <key>lng</key>
      <real>13.618268</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>75</integer>
      <key>name</key>
      <string><![CDATA[Eraclea Minoa]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/water.png]]></string>
      <key>lat</key>
      <real>37.390789</real>
      <key>lng</key>
      <real>13.289831</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>76</integer>
      <key>name</key>
      <string><![CDATA[Riserva Naturale Torre Salsa]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/water.png]]></string>
      <key>lat</key>
      <real>37.363987</real>
      <key>lng</key>
      <real>13.350284</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>77</integer>
      <key>name</key>
      <string><![CDATA[Scala dei Turchi]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/water.png]]></string>
      <key>lat</key>
      <real>37.290588</real>
      <key>lng</key>
      <real>13.472466</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>78</integer>
      <key>name</key>
      <string><![CDATA[Siculiana Marina]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/water.png]]></string>
      <key>lat</key>
      <real>37.339191</real>
      <key>lng</key>
      <real>13.384974</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>79</integer>
      <key>name</key>
      <string><![CDATA[Playa Gela]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/water.png]]></string>
      <key>lat</key>
      <real>37.074371</real>
      <key>lng</key>
      <real>14.215617</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>80</integer>
      <key>name</key>
      <string><![CDATA[Sciacca]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/yellow.png]]></string>
      <key>lat</key>
      <real>37.505688</real>
      <key>lng</key>
      <real>13.080469</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>81</integer>
      <key>name</key>
      <string><![CDATA[Sciacca-B&B Il Mandorlo]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/homegardenbusiness.png]]></string>
      <key>lat</key>
      <real>37.510635</real>
      <key>lng</key>
      <real>13.106625</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>82</integer>
      <key>name</key>
      <string><![CDATA[Ruinas de Selinunte]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/fallingrocks.png]]></string>
      <key>lat</key>
      <real>37.582523</real>
      <key>lng</key>
      <real>12.825229</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>83</integer>
      <key>name</key>
      <string><![CDATA[PK-Selinunte]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/parkinglot.png]]></string>
      <key>lat</key>
      <real>37.584343</real>
      <key>lng</key>
      <real>12.837138</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>84</integer>
      <key>name</key>
      <string><![CDATA[Ruinas de Segesta]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/fallingrocks.png]]></string>
      <key>lat</key>
      <real>37.941093</real>
      <key>lng</key>
      <real>12.844022</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>85</integer>
      <key>name</key>
      <string><![CDATA[Erice]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green-dot.png]]></string>
      <key>lat</key>
      <real>38.03838</real>
      <key>lng</key>
      <real>12.58691</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>86</integer>
      <key>name</key>
      <string><![CDATA[Erice-Hotel Ciuri Di Badia]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/homegardenbusiness.png]]></string>
      <key>lat</key>
      <real>38.035427</real>
      <key>lng</key>
      <real>12.71351</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>87</integer>
      <key>name</key>
      <string><![CDATA[PK-Erice 1]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/parkinglot.png]]></string>
      <key>lat</key>
      <real>38.035847</real>
      <key>lng</key>
      <real>12.583235</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>88</integer>
      <key>name</key>
      <string><![CDATA[Trapani]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green.png]]></string>
      <key>lat</key>
      <real>38.015678</real>
      <key>lng</key>
      <real>12.507951</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>89</integer>
      <key>name</key>
      <string><![CDATA[PK-Funicular Erice]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/parkinglot.png]]></string>
      <key>lat</key>
      <real>38.024399</real>
      <key>lng</key>
      <real>12.550979</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>90</integer>
      <key>name</key>
      <string><![CDATA[Marsala]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/yellow.png]]></string>
      <key>lat</key>
      <real>37.799084</real>
      <key>lng</key>
      <real>12.434233</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>91</integer>
      <key>name</key>
      <string><![CDATA[San Vito Lo Capo]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/water.png]]></string>
      <key>lat</key>
      <real>38.177986</real>
      <key>lng</key>
      <real>12.734184</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>92</integer>
      <key>name</key>
      <string><![CDATA[Monreale (Duomo)]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green.png]]></string>
      <key>lat</key>
      <real>38.08197</real>
      <key>lng</key>
      <real>13.291397</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>93</integer>
      <key>name</key>
      <string><![CDATA[Palermo]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green-dot.png]]></string>
      <key>lat</key>
      <real>38.112442</real>
      <key>lng</key>
      <real>13.363366</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>94</integer>
      <key>name</key>
      <string><![CDATA[Palermo-Hotel del Centro]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/homegardenbusiness.png]]></string>
      <key>lat</key>
      <real>38.112816</real>
      <key>lng</key>
      <real>13.365383</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>95</integer>
      <key>name</key>
      <string><![CDATA[PK-Palermo 2]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/parkinglot.png]]></string>
      <key>lat</key>
      <real>38.111614</real>
      <key>lng</key>
      <real>13.353667</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>96</integer>
      <key>name</key>
      <string><![CDATA[Playa Mondello]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/water.png]]></string>
      <key>lat</key>
      <real>38.197266</real>
      <key>lng</key>
      <real>13.331888</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>97</integer>
      <key>name</key>
      <string><![CDATA[Catedral]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green.png]]></string>
      <key>lat</key>
      <real>38.11409</real>
      <key>lng</key>
      <real>13.356242</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>98</integer>
      <key>name</key>
      <string><![CDATA[Fontana Pretoria]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green.png]]></string>
      <key>lat</key>
      <real>38.115524</real>
      <key>lng</key>
      <real>13.362052</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>99</integer>
      <key>name</key>
      <string><![CDATA[Iglesia della Martorana]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green.png]]></string>
      <key>lat</key>
      <real>38.114876</real>
      <key>lng</key>
      <real>13.36239</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>100</integer>
      <key>name</key>
      <string><![CDATA[Mercado La Vucciria]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green.png]]></string>
      <key>lat</key>
      <real>38.118694</real>
      <key>lng</key>
      <real>13.362878</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>101</integer>
      <key>name</key>
      <string><![CDATA[Palazzo dei Normanni]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green.png]]></string>
      <key>lat</key>
      <real>38.110943</real>
      <key>lng</key>
      <real>13.352637</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>102</integer>
      <key>name</key>
      <string><![CDATA[Quattro Canti]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green.png]]></string>
      <key>lat</key>
      <real>38.115768</real>
      <key>lng</key>
      <real>13.361896</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>103</integer>
      <key>name</key>
      <string><![CDATA[Teatro Massimo]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green.png]]></string>
      <key>lat</key>
      <real>38.120312</real>
      <key>lng</key>
      <real>13.357959</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>104</integer>
      <key>name</key>
      <string><![CDATA[Teatro Politeama]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green.png]]></string>
      <key>lat</key>
      <real>38.124886</real>
      <key>lng</key>
      <real>13.356296</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>105</integer>
      <key>name</key>
      <string><![CDATA[Caccamo]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/yellow.png]]></string>
      <key>lat</key>
      <real>37.933716</real>
      <key>lng</key>
      <real>13.666096</real>
    </dict>
  </array>
  <key>tags</key>
  <array>
    <dict>
      <key>index</key>
      <integer>1</integer>
      <key>name</key>
      <string>tag_1_HT_SICILIA_2012</string>
      <key>poiIndexes</key>
      <array>
        <string>1</string>
        <string>2-4</string>
      </array>
      <key>tagIndexes</key>
      <array>
          <string>2</string>
          <string>4-5</string>
      </array>
    </dict>
    <dict>
      <key>index</key>
      <integer>2</integer>
      <key>name</key>
      <string>tag_2_HT_SICILIA_2012</string>
      <key>poiIndexes</key>
      <array>
        <string>5-7</string>
      </array>
    </dict>
    <dict>
      <key>index</key>
      <integer>3</integer>
      <key>name</key>
      <string>tag_3_HT_SICILIA_2012</string>
      <key>poiIndexes</key>
      <array>
        <string>8-10</string>
      </array>
    </dict>
    <dict>
      <key>index</key>
      <integer>4</integer>
      <key>name</key>
      <string>tag_4_HT_SICILIA_2012</string>
      <key>poiIndexes</key>
      <array>
        <string>11-13</string>
      </array>
    </dict>
    <dict>
      <key>index</key>
      <integer>5</integer>
      <key>name</key>
      <string>tag_5_HT_SICILIA_2012</string>
      <key>poiIndexes</key>
      <array>
        <string>14-16</string>
      </array>
    </dict>
  </array>
</dict>
</plist>
