<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>mapName</key>
  <string>HT_Valencia_2013</string>
  <key>pois</key>
  <array>
    <dict>
      <key>index</key>
      <integer>1</integer>
      <key>name</key>
      <string><![CDATA[Hotel Ronda II]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr">+34961471228</div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/homegardenbusiness.png]]></string>
      <key>lat</key>
      <real>39.589405</real>
      <key>lng</key>
      <real>-0.298342</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>2</integer>
      <key>name</key>
      <string><![CDATA[Información]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/info.png]]></string>
      <key>lat</key>
      <real>39.588203</real>
      <key>lng</key>
      <real>-0.310975</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>3</integer>
      <key>name</key>
      <string><![CDATA[Taberna Marisma]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/restaurant.png]]></string>
      <key>lat</key>
      <real>39.585159</real>
      <key>lng</key>
      <real>-0.274604</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>4</integer>
      <key>name</key>
      <string><![CDATA[Huerto de Santa María]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/restaurant.png]]></string>
      <key>lat</key>
      <real>39.58585</real>
      <key>lng</key>
      <real>-0.303771</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>5</integer>
      <key>name</key>
      <string><![CDATA[Alhacena]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/restaurant.png]]></string>
      <key>lat</key>
      <real>39.587608</real>
      <key>lng</key>
      <real>-0.302084</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>6</integer>
      <key>name</key>
      <string><![CDATA[Arrocería Noray]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/restaurant.png]]></string>
      <key>lat</key>
      <real>39.585068</real>
      <key>lng</key>
      <real>-0.274634</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>7</integer>
      <key>name</key>
      <string><![CDATA[Real Monasterio Santa María de Puig]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/yellow-dot.png]]></string>
      <key>lat</key>
      <real>39.588589</real>
      <key>lng</key>
      <real>-0.302945</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>8</integer>
      <key>name</key>
      <string><![CDATA[La Cartuja de Ara Christi]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/yellow-dot.png]]></string>
      <key>lat</key>
      <real>39.594467</real>
      <key>lng</key>
      <real>-0.321549</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>9</integer>
      <key>name</key>
      <string><![CDATA[Playa Puçol]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/water.png]]></string>
      <key>lat</key>
      <real>39.60091</real>
      <key>lng</key>
      <real>-0.267341</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>10</integer>
      <key>name</key>
      <string><![CDATA[Playa Pobla de Farnals]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/water.png]]></string>
      <key>lat</key>
      <real>39.565289</real>
      <key>lng</key>
      <real>-0.281267</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>11</integer>
      <key>name</key>
      <string><![CDATA[Playa El Puig]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/water.png]]></string>
      <key>lat</key>
      <real>39.586708</real>
      <key>lng</key>
      <real>-0.271847</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>12</integer>
      <key>name</key>
      <string><![CDATA[Alboraya (Horchata)]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/red-dot.png]]></string>
      <key>lat</key>
      <real>39.499413</real>
      <key>lng</key>
      <real>-0.349826</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>13</integer>
      <key>name</key>
      <string><![CDATA[Playa La Malvarrosa]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/water.png]]></string>
      <key>lat</key>
      <real>39.475422</real>
      <key>lng</key>
      <real>-0.324786</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>14</integer>
      <key>name</key>
      <string><![CDATA[Catedral de Valencia]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>39.475304</real>
      <key>lng</key>
      <real>-0.375439</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>15</integer>
      <key>name</key>
      <string><![CDATA[Plaza de la Virgen]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>39.476357</real>
      <key>lng</key>
      <real>-0.375289</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>16</integer>
      <key>name</key>
      <string><![CDATA[Real Basílica De Nuestra Señora De Los Desamparados]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>39.476189</real>
      <key>lng</key>
      <real>-0.374823</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>17</integer>
      <key>name</key>
      <string><![CDATA[Palacio de la Generalidad Valenciana]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>39.476482</real>
      <key>lng</key>
      <real>-0.376416</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>18</integer>
      <key>name</key>
      <string><![CDATA[Convento del Carmen]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>39.479565</real>
      <key>lng</key>
      <real>-0.37912</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>19</integer>
      <key>name</key>
      <string><![CDATA[Torres Quart]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>39.47575</real>
      <key>lng</key>
      <real>-0.383886</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>20</integer>
      <key>name</key>
      <string><![CDATA[Torres de Serrano]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>39.47916</real>
      <key>lng</key>
      <real>-0.376035</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>21</integer>
      <key>name</key>
      <string><![CDATA[Plaza del Mercado Central y Lonja]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>39.474106</real>
      <key>lng</key>
      <real>-0.378696</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>22</integer>
      <key>name</key>
      <string><![CDATA[La Lonja de la Seda de Valencia]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>39.474304</real>
      <key>lng</key>
      <real>-0.378626</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>23</integer>
      <key>name</key>
      <string><![CDATA[Iglesia de los Santos Juanes]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>39.474228</real>
      <key>lng</key>
      <real>-0.378988</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>24</integer>
      <key>name</key>
      <string><![CDATA[Barrio del Cabanyal]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>39.471035</real>
      <key>lng</key>
      <real>-0.328314</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>25</integer>
      <key>name</key>
      <string><![CDATA[Oceanografico]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>39.453011</real>
      <key>lng</key>
      <real>-0.346906</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>26</integer>
      <key>name</key>
      <string><![CDATA[PK - Oceanografico]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/parkinglot.png]]></string>
      <key>lat</key>
      <real>39.451653</real>
      <key>lng</key>
      <real>-0.344841</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>27</integer>
      <key>name</key>
      <string><![CDATA[Jardines de Viveros]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/tree.png]]></string>
      <key>lat</key>
      <real>39.480347</real>
      <key>lng</key>
      <real>-0.367924</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>28</integer>
      <key>name</key>
      <string><![CDATA[Jardines del Turia]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/tree.png]]></string>
      <key>lat</key>
      <real>39.477314</real>
      <key>lng</key>
      <real>-0.370274</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>29</integer>
      <key>name</key>
      <string><![CDATA[Palau de la Música]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/tree.png]]></string>
      <key>lat</key>
      <real>39.466209</real>
      <key>lng</key>
      <real>-0.360371</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>30</integer>
      <key>name</key>
      <string><![CDATA[El Palmar]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green-dot.png]]></string>
      <key>lat</key>
      <real>39.310322</real>
      <key>lng</key>
      <real>-0.317791</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>31</integer>
      <key>name</key>
      <string><![CDATA[El Saler]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green-dot.png]]></string>
      <key>lat</key>
      <real>39.3825</real>
      <key>lng</key>
      <real>-0.3325</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>32</integer>
      <key>name</key>
      <string><![CDATA[Playa El Saler]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/water.png]]></string>
      <key>lat</key>
      <real>39.378796</real>
      <key>lng</key>
      <real>-0.322788</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>33</integer>
      <key>name</key>
      <string><![CDATA[PK - Saler 1]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/parkinglot.png]]></string>
      <key>lat</key>
      <real>39.379093</real>
      <key>lng</key>
      <real>-0.32459</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>34</integer>
      <key>name</key>
      <string><![CDATA[PK - Saler 2]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/parkinglot.png]]></string>
      <key>lat</key>
      <real>39.386292</real>
      <key>lng</key>
      <real>-0.327144</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>35</integer>
      <key>name</key>
      <string><![CDATA[Pinedo]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green-dot.png]]></string>
      <key>lat</key>
      <real>39.421944</real>
      <key>lng</key>
      <real>-0.339167</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>36</integer>
      <key>name</key>
      <string><![CDATA[Playa Pinedo]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/water.png]]></string>
      <key>lat</key>
      <real>39.419254</real>
      <key>lng</key>
      <real>-0.333517</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>37</integer>
      <key>name</key>
      <string><![CDATA[PK - Pinedo]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/parkinglot.png]]></string>
      <key>lat</key>
      <real>39.419037</real>
      <key>lng</key>
      <real>-0.334885</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>38</integer>
      <key>name</key>
      <string><![CDATA[puerta de la mar]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>39.472706</real>
      <key>lng</key>
      <real>-0.369507</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>39</integer>
      <key>name</key>
      <string><![CDATA[plaza ayuntamiento]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>39.470306</real>
      <key>lng</key>
      <real>-0.376069</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>40</integer>
      <key>name</key>
      <string><![CDATA[plaza de la Reina]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>39.47382</real>
      <key>lng</key>
      <real>-0.375587</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>41</integer>
      <key>name</key>
      <string><![CDATA[_PK Coche]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/earthquake.png]]></string>
      <key>lat</key>
      <real>39.473824</real>
      <key>lng</key>
      <real>-0.369703</real>
    </dict>
  </array>
  <key>tags</key>
  <array>
    <dict>
      <key>index</key>
      <integer>1</integer>
      <key>name</key>
      <string>tag_1_HT_Valencia_2013</string>
      <key>poiIndexes</key>
      <array>
        <string>1</string>
        <string>2-4</string>
      </array>
      <key>tagIndexes</key>
      <array>
          <string>2</string>
          <string>4-5</string>
      </array>
    </dict>
    <dict>
      <key>index</key>
      <integer>2</integer>
      <key>name</key>
      <string>tag_2_HT_Valencia_2013</string>
      <key>poiIndexes</key>
      <array>
        <string>5-7</string>
      </array>
    </dict>
    <dict>
      <key>index</key>
      <integer>3</integer>
      <key>name</key>
      <string>tag_3_HT_Valencia_2013</string>
      <key>poiIndexes</key>
      <array>
        <string>8-10</string>
      </array>
    </dict>
    <dict>
      <key>index</key>
      <integer>4</integer>
      <key>name</key>
      <string>tag_4_HT_Valencia_2013</string>
      <key>poiIndexes</key>
      <array>
        <string>11-13</string>
      </array>
    </dict>
    <dict>
      <key>index</key>
      <integer>5</integer>
      <key>name</key>
      <string>tag_5_HT_Valencia_2013</string>
      <key>poiIndexes</key>
      <array>
        <string>14-16</string>
      </array>
    </dict>
  </array>
</dict>
</plist>
