<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>mapName</key>
  <string>PREP_Zurich y alrededores</string>
  <key>pois</key>
  <array>
    <dict>
      <key>index</key>
      <integer>1</integer>
      <key>name</key>
      <string><![CDATA[URLS]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr">http://turismo.org/lugares-para-visitar-cerca-a-zurich/<br><br>http://www.markstravelnotes.com/europe/switzerland/canton_zurich/zurich/excursions/<br><br>http://www.markstravelnotes.com/europe/switzerland/what_not_to_miss/</div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/earthquake.png]]></string>
      <key>lat</key>
      <real>47.467094</real>
      <key>lng</key>
      <real>8.618774</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>2</integer>
      <key>name</key>
      <string><![CDATA[Rapperswil]]></string>
      <key>desc</key>
      <string><![CDATA[8640 Rapperswil-Jona, Switzerland<br>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>47.224319</real>
      <key>lng</key>
      <real>8.818667</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>3</integer>
      <key>name</key>
      <string><![CDATA[Zurich]]></string>
      <key>desc</key>
      <string><![CDATA[Switzerland<br><a href="http://www.google.es/search?hl=en&amp;authuser=0&amp;q=zurich+switzerland&amp;cd=1&amp;cad=src:ppiwlink&amp;ei=5qaQUpn7KMSt8gPe84CwBw&amp;sig2=XzG76qjcIe92ul_GL0_WQQ&amp;dtab=5" target="_blank"><img src="https://cbks0.google.com/cbk?output=thumbnail&amp;w=90&amp;h=68&amp;ll=47.368650,8.539182&amp;thumb=0"></a>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>47.368649</real>
      <key>lng</key>
      <real>8.539182</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>4</integer>
      <key>name</key>
      <string><![CDATA[Winterthur]]></string>
      <key>desc</key>
      <string><![CDATA[Switzerland<br><a href="http://www.google.es/search?hl=en&amp;authuser=0&amp;q=winterthur+switzerland&amp;cd=1&amp;cad=src:ppiwlink&amp;ei=K6eQUuKLGsmu8AO9jYCwDA&amp;sig2=UvdNg-jtDt8JI0ILFQziGg&amp;dtab=5" target="_blank"><img src="https://cbks0.google.com/cbk?output=thumbnail&amp;w=90&amp;h=68&amp;ll=47.499950,8.737565&amp;thumb=0"></a>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>47.49995</real>
      <key>lng</key>
      <real>8.737565</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>5</integer>
      <key>name</key>
      <string><![CDATA[Rhine Falls]]></string>
      <key>desc</key>
      <string><![CDATA[Neuhausen am Rheinfall, Switzerland<br><a href="http://www.google.es/search?hl=en&amp;authuser=0&amp;q=rhine+falls&amp;cd=1&amp;cad=src:ppiwlink&amp;ei=sqeQUvDoK8G38gO2hYGIDw&amp;sig2=Gl_hdbUvL2lQwh-qzrWskA&amp;dtab=5" target="_blank"><img src="https://cbks0.google.com/cbk?output=thumbnail&amp;w=90&amp;h=68&amp;ll=47.679444,8.616389&amp;thumb=0"></a>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>47.679443</real>
      <key>lng</key>
      <real>8.616389</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>6</integer>
      <key>name</key>
      <string><![CDATA[Schaffhausen]]></string>
      <key>desc</key>
      <string><![CDATA[Switzerland<br><a href="http://www.google.es/search?hl=en&amp;authuser=0&amp;q=schaffhausen+switzerland&amp;cd=1&amp;cad=src:ppiwlink&amp;ei=DKiQUpb9A4rS8gOW74HoBw&amp;sig2=ag7uT-nqNEKa7V2wE8TreQ&amp;dtab=5" target="_blank"><img src="https://cbks0.google.com/cbk?output=thumbnail&amp;w=90&amp;h=68&amp;ll=47.707766,8.641442&amp;thumb=0"></a>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>47.707767</real>
      <key>lng</key>
      <real>8.641442</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>7</integer>
      <key>name</key>
      <string><![CDATA[Stein am Rhein]]></string>
      <key>desc</key>
      <string><![CDATA[Switzerland<br>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>47.658733</real>
      <key>lng</key>
      <real>8.859158</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>8</integer>
      <key>name</key>
      <string><![CDATA[Baden]]></string>
      <key>desc</key>
      <string><![CDATA[Switzerland<br><a href="http://www.google.es/search?hl=en&amp;authuser=0&amp;q=baden+switzerland&amp;cd=1&amp;cad=src:ppiwlink&amp;ei=bKiQUov1BMXSiAbngIHoBg&amp;sig2=268NBb_5HubH1w1LE2Qwiw&amp;dtab=5" target="_blank"><img src="https://cbks0.google.com/cbk?output=thumbnail&amp;w=90&amp;h=68&amp;ll=47.473767,8.306473&amp;thumb=0"></a>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>47.473766</real>
      <key>lng</key>
      <real>8.306473</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>9</integer>
      <key>name</key>
      <string><![CDATA[St Gallen]]></string>
      <key>desc</key>
      <string><![CDATA[Switzerland<br>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>47.417927</real>
      <key>lng</key>
      <real>9.364397</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>10</integer>
      <key>name</key>
      <string><![CDATA[Solothurn]]></string>
      <key>desc</key>
      <string><![CDATA[Switzerland<br>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>47.208656</real>
      <key>lng</key>
      <real>7.537955</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>11</integer>
      <key>name</key>
      <string><![CDATA[Einsiedeln]]></string>
      <key>desc</key>
      <string><![CDATA[Switzerland<br>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>47.128117</real>
      <key>lng</key>
      <real>8.744269</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>12</integer>
      <key>name</key>
      <string><![CDATA[Berne]]></string>
      <key>desc</key>
      <string><![CDATA[Switzerland<br><a href="http://www.google.es/search?hl=en&amp;authuser=0&amp;q=bern+switzerland&amp;cd=1&amp;cad=src:ppiwlink&amp;ei=hamQUq6xHsui8gP9y4HICQ&amp;sig2=7xFBh6xZ4y-xnKzU3gAEYw&amp;dtab=5" target="_blank"><img src="https://cbks0.google.com/cbk?output=thumbnail&amp;w=90&amp;h=68&amp;ll=46.947922,7.444608&amp;thumb=0"></a>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>46.947922</real>
      <key>lng</key>
      <real>7.444608</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>13</integer>
      <key>name</key>
      <string><![CDATA[Jungfraujoch]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>46.547283</real>
      <key>lng</key>
      <real>7.98353</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>14</integer>
      <key>name</key>
      <string><![CDATA[Schwagalp]]></string>
      <key>desc</key>
      <string><![CDATA[9651 Nesslau-Krummenau, Switzerland<br>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>47.25</real>
      <key>lng</key>
      <real>9.3</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>15</integer>
      <key>name</key>
      <string><![CDATA[Bremgarten]]></string>
      <key>desc</key>
      <string><![CDATA[Switzerland<br>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>47.35088</real>
      <key>lng</key>
      <real>8.343808</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>16</integer>
      <key>name</key>
      <string><![CDATA[Thun]]></string>
      <key>desc</key>
      <string><![CDATA[Switzerland<br><a href="http://www.google.es/search?hl=en&amp;authuser=0&amp;q=thun+switzerland&amp;cd=1&amp;cad=src:ppiwlink&amp;ei=BK2QUo_jH4ig8QPPyIDIAQ&amp;sig2=s5K0TtIyD-ku0_yXs7w5og&amp;dtab=5" target="_blank"><img src="https://cbks0.google.com/cbk?output=thumbnail&amp;w=90&amp;h=68&amp;ll=46.748428,7.626299&amp;thumb=0"></a>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>46.748428</real>
      <key>lng</key>
      <real>7.626299</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>17</integer>
      <key>name</key>
      <string><![CDATA[Neuchatel]]></string>
      <key>desc</key>
      <string><![CDATA[Switzerland<br><a href="http://www.google.es/search?hl=en&amp;authuser=0&amp;q=neuchatel+switzerland&amp;cd=1&amp;cad=src:ppiwlink&amp;ei=Z62QUpKPOorf8APMpYCQBA&amp;sig2=gUNoVpw3fiQd9u4wDSz0vw&amp;dtab=5" target="_blank"><img src="https://cbks0.google.com/cbk?output=thumbnail&amp;w=90&amp;h=68&amp;ll=46.992979,6.931932&amp;thumb=0"></a>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>46.992977</real>
      <key>lng</key>
      <real>6.931932</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>18</integer>
      <key>name</key>
      <string><![CDATA[Lausanne]]></string>
      <key>desc</key>
      <string><![CDATA[Switzerland<br><a href="http://www.google.es/search?hl=en&amp;authuser=0&amp;q=lausanne&amp;cd=1&amp;cad=src:ppiwlink&amp;ei=pq2QUqmCHM3L8QPC94HABQ&amp;sig2=clLFHtiv4vMtb75ukS04oA&amp;dtab=5" target="_blank"><img src="https://cbks0.google.com/cbk?output=thumbnail&amp;w=90&amp;h=68&amp;ll=46.519962,6.633597&amp;thumb=0"></a>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>46.519962</real>
      <key>lng</key>
      <real>6.633597</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>19</integer>
      <key>name</key>
      <string><![CDATA[Ticino]]></string>
      <key>desc</key>
      <string><![CDATA[Switzerland<br>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>46.331734</real>
      <key>lng</key>
      <real>8.800453</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>20</integer>
      <key>name</key>
      <string><![CDATA[Gruyères]]></string>
      <key>desc</key>
      <string><![CDATA[Switzerland<br><a href="http://www.google.es/search?hl=en&amp;authuser=0&amp;q=gruyeres+switzerland&amp;cd=1&amp;cad=src:ppiwlink&amp;ei=Rq6QUtvCPIPk8QPkvYG4Aw&amp;sig2=8aFtSe2fwHE2SQG3nnxc-A&amp;dtab=5" target="_blank"><img src="https://cbks0.google.com/cbk?output=thumbnail&amp;w=90&amp;h=68&amp;ll=46.581500,7.076270&amp;thumb=0"></a>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>46.581501</real>
      <key>lng</key>
      <real>7.07627</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>21</integer>
      <key>name</key>
      <string><![CDATA[Zermatt]]></string>
      <key>desc</key>
      <string><![CDATA[Switzerland<br><a href="http://www.google.es/search?hl=en&amp;authuser=0&amp;q=zermatt&amp;cd=1&amp;cad=src:ppiwlink&amp;ei=5a-QUuvkGonl8QO71YBo&amp;sig2=yHaw79eCkD4a9kJ7A1siqg&amp;dtab=5" target="_blank"><img src="https://cbks0.google.com/cbk?output=thumbnail&amp;w=90&amp;h=68&amp;ll=46.021073,7.747937&amp;thumb=0"></a>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>46.021072</real>
      <key>lng</key>
      <real>7.747937</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>22</integer>
      <key>name</key>
      <string><![CDATA[Maienfeld-HEIDI]]></string>
      <key>desc</key>
      <string><![CDATA[Switzerland<br><a href="http://www.google.es/search?hl=en&amp;authuser=0&amp;q=maienfeld&amp;cd=1&amp;cad=src:ppiwlink&amp;ei=crCQUo6HA8GM8wP38oCACg&amp;sig2=G1AvVIa0tnSHZihaaHkj0g&amp;dtab=5" target="_blank"><img src="https://cbks0.google.com/cbk?output=thumbnail&amp;w=90&amp;h=68&amp;ll=47.007870,9.531687&amp;thumb=0"></a>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>47.00787</real>
      <key>lng</key>
      <real>9.531687</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>23</integer>
      <key>name</key>
      <string><![CDATA[9490 Vaduz]]></string>
      <key>desc</key>
      <string><![CDATA[Liechtenstein<br>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/red-dot.png]]></string>
      <key>lat</key>
      <real>47.141476</real>
      <key>lng</key>
      <real>9.517669</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>24</integer>
      <key>name</key>
      <string><![CDATA[Titisee-Neustadt]]></string>
      <key>desc</key>
      <string><![CDATA[Germany<br>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/red-dot.png]]></string>
      <key>lat</key>
      <real>47.942963</real>
      <key>lng</key>
      <real>8.190789</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>25</integer>
      <key>name</key>
      <string><![CDATA[Kleine Scheidegg]]></string>
      <key>desc</key>
      <string><![CDATA[3823 Lauterbrunnen, Switzerland<br>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>46.585224</real>
      <key>lng</key>
      <real>7.960681</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>26</integer>
      <key>name</key>
      <string><![CDATA[Lauterbrunnen]]></string>
      <key>desc</key>
      <string><![CDATA[Switzerland<br>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>46.59552</real>
      <key>lng</key>
      <real>7.90735</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>27</integer>
      <key>name</key>
      <string><![CDATA[Trümmelbachfäll]]></string>
      <key>desc</key>
      <string><![CDATA[Lauterbrunnen, Switzerland<br>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>46.569309</real>
      <key>lng</key>
      <real>7.91451</real>
    </dict>
  </array>
  <key>tags</key>
  <array>
    <dict>
      <key>index</key>
      <integer>1</integer>
      <key>name</key>
      <string>tag_1_PREP_Zurich y alrededores</string>
      <key>poiIndexes</key>
      <array>
        <string>1</string>
        <string>2-4</string>
      </array>
      <key>tagIndexes</key>
      <array>
          <string>2</string>
          <string>4-5</string>
      </array>
    </dict>
    <dict>
      <key>index</key>
      <integer>2</integer>
      <key>name</key>
      <string>tag_2_PREP_Zurich y alrededores</string>
      <key>poiIndexes</key>
      <array>
        <string>5-7</string>
      </array>
    </dict>
    <dict>
      <key>index</key>
      <integer>3</integer>
      <key>name</key>
      <string>tag_3_PREP_Zurich y alrededores</string>
      <key>poiIndexes</key>
      <array>
        <string>8-10</string>
      </array>
    </dict>
    <dict>
      <key>index</key>
      <integer>4</integer>
      <key>name</key>
      <string>tag_4_PREP_Zurich y alrededores</string>
      <key>poiIndexes</key>
      <array>
        <string>11-13</string>
      </array>
    </dict>
    <dict>
      <key>index</key>
      <integer>5</integer>
      <key>name</key>
      <string>tag_5_PREP_Zurich y alrededores</string>
      <key>poiIndexes</key>
      <array>
        <string>14-16</string>
      </array>
    </dict>
  </array>
</dict>
</plist>
