<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>mapName</key>
  <string>TMP</string>
  <key>pois</key>
  <array>
    <dict>
      <key>index</key>
      <integer>1</integer>
      <key>name</key>
      <string><![CDATA[Otro Nombre 2]]></string>
      <key>desc</key>
      <string><![CDATA[kk de la vaca]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/bar.png]]></string>
      <key>lat</key>
      <real>40.726959</real>
      <key>lng</key>
      <real>-83.155823</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>2</integer>
      <key>name</key>
      <string><![CDATA[Feature Title 2]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/bar.png]]></string>
      <key>lat</key>
      <real>38.552116</real>
      <key>lng</key>
      <real>-86.342247</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>3</integer>
      <key>name</key>
      <string><![CDATA[Feature Title]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/bar.png]]></string>
      <key>lat</key>
      <real>39.09885</real>
      <key>lng</key>
      <real>-91.525436</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>4</integer>
      <key>name</key>
      <string><![CDATA[Aunt Joan's Ice Cream Shop]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/bar.png]]></string>
      <key>lat</key>
      <real>42.686401</real>
      <key>lng</key>
      <real>-93.631805</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>5</integer>
      <key>name</key>
      <string><![CDATA[Aunt Joan's Ice Cream Shop 2]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/bar.png]]></string>
      <key>lat</key>
      <real>48.693417</real>
      <key>lng</key>
      <real>-106.02739</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>6</integer>
      <key>name</key>
      <string><![CDATA[pepe]]></string>
      <key>desc</key>
      <string><![CDATA[Hola <b><i style="background-color:rgb(255, 102, 102)"><font color="#ffff00">como </font></i></b>estás]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>36.88979</real>
      <key>lng</key>
      <real>-81.234291</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>7</integer>
      <key>name</key>
      <string><![CDATA[Marca de posición 6]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>36.048798</real>
      <key>lng</key>
      <real>-91.789322</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>8</integer>
      <key>name</key>
      <string><![CDATA[volcan]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/earthquake.png]]></string>
      <key>lat</key>
      <real>40.736958</real>
      <key>lng</key>
      <real>-101.80481</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>9</integer>
      <key>name</key>
      <string><![CDATA[TAG]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/flag.png]]></string>
      <key>lat</key>
      <real>47.04018</real>
      <key>lng</key>
      <real>-102.568359</real>
    </dict>
  </array>
  <key>tags</key>
  <array>
    <dict>
      <key>index</key>
      <integer>1</integer>
      <key>name</key>
      <string>tag_1_TMP</string>
      <key>poiIndexes</key>
      <array>
        <string>1</string>
        <string>2-4</string>
      </array>
      <key>tagIndexes</key>
      <array>
          <string>2</string>
          <string>4-5</string>
      </array>
    </dict>
    <dict>
      <key>index</key>
      <integer>2</integer>
      <key>name</key>
      <string>tag_2_TMP</string>
      <key>poiIndexes</key>
      <array>
        <string>5-7</string>
      </array>
    </dict>
    <dict>
      <key>index</key>
      <integer>3</integer>
      <key>name</key>
      <string>tag_3_TMP</string>
      <key>poiIndexes</key>
      <array>
        <string>8-10</string>
      </array>
    </dict>
    <dict>
      <key>index</key>
      <integer>4</integer>
      <key>name</key>
      <string>tag_4_TMP</string>
      <key>poiIndexes</key>
      <array>
        <string>11-13</string>
      </array>
    </dict>
    <dict>
      <key>index</key>
      <integer>5</integer>
      <key>name</key>
      <string>tag_5_TMP</string>
      <key>poiIndexes</key>
      <array>
        <string>14-16</string>
      </array>
    </dict>
  </array>
</dict>
</plist>
