<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>mapName</key>
  <string>HT_Cantabria_2010</string>
  <key>pois</key>
  <array>
    <dict>
      <key>index</key>
      <integer>1</integer>
      <key>name</key>
      <string><![CDATA[Apartamentos Capriccio]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr">Av de Antonio Sandi, 7A, Santillana del Mar<br>+34942840223<br></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/homegardenbusiness.png]]></string>
      <key>lat</key>
      <real>43.38501</real>
      <key>lng</key>
      <real>-4.108064</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>2</integer>
      <key>name</key>
      <string><![CDATA[CM-Comillas]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/red-dot.png]]></string>
      <key>lat</key>
      <real>43.385181</real>
      <key>lng</key>
      <real>-4.293562</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>3</integer>
      <key>name</key>
      <string><![CDATA[CM-El Capricho De Gaudi]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"><br></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>43.383343</real>
      <key>lng</key>
      <real>-4.292107</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>4</integer>
      <key>name</key>
      <string><![CDATA[CM-Palacio de Sobrellano]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"><br></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>43.388538</real>
      <key>lng</key>
      <real>-4.291403</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>5</integer>
      <key>name</key>
      <string><![CDATA[CM-Universidad]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>43.385857</real>
      <key>lng</key>
      <real>-4.299227</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>6</integer>
      <key>name</key>
      <string><![CDATA[CM-Parroquia De San Cristobal]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>43.387302</real>
      <key>lng</key>
      <real>-4.291008</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>7</integer>
      <key>name</key>
      <string><![CDATA[CM-Corro San Pedro]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"><br></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>43.386803</real>
      <key>lng</key>
      <real>-4.28997</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>8</integer>
      <key>name</key>
      <string><![CDATA[CM-Coteruca]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>43.385635</real>
      <key>lng</key>
      <real>-4.286792</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>9</integer>
      <key>name</key>
      <string><![CDATA[Santo Toribio de Liebana]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"><br></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/red-dot.png]]></string>
      <key>lat</key>
      <real>43.150078</real>
      <key>lng</key>
      <real>-4.654756</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>10</integer>
      <key>name</key>
      <string><![CDATA[Potes]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/red-dot.png]]></string>
      <key>lat</key>
      <real>43.153469</real>
      <key>lng</key>
      <real>-4.622699</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>11</integer>
      <key>name</key>
      <string><![CDATA[Fuente De]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/red-dot.png]]></string>
      <key>lat</key>
      <real>43.14304</real>
      <key>lng</key>
      <real>-4.812599</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>12</integer>
      <key>name</key>
      <string><![CDATA[Barcena la Mayor]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"><br></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/red-dot.png]]></string>
      <key>lat</key>
      <real>43.143684</real>
      <key>lng</key>
      <real>-4.19342</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>13</integer>
      <key>name</key>
      <string><![CDATA[Unquera-Corbatas]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"><br></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/yellow-dot.png]]></string>
      <key>lat</key>
      <real>43.374275</real>
      <key>lng</key>
      <real>-4.51725</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>14</integer>
      <key>name</key>
      <string><![CDATA[Desfiladero de la Hermida]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"><br></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/yellow-dot.png]]></string>
      <key>lat</key>
      <real>43.263</real>
      <key>lng</key>
      <real>-4.621531</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>15</integer>
      <key>name</key>
      <string><![CDATA[ST-Santander]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/red-dot.png]]></string>
      <key>lat</key>
      <real>43.463013</real>
      <key>lng</key>
      <real>-3.794896</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>16</integer>
      <key>name</key>
      <string><![CDATA[ST-Palacio De La Magdalena]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>43.468391</real>
      <key>lng</key>
      <real>-3.78407</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>17</integer>
      <key>name</key>
      <string><![CDATA[ST-Sardinero I]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"><br></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>43.472622</real>
      <key>lng</key>
      <real>-3.781516</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>18</integer>
      <key>name</key>
      <string><![CDATA[ST-Sardinero II]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"><br></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>43.480354</real>
      <key>lng</key>
      <real>-3.788316</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>19</integer>
      <key>name</key>
      <string><![CDATA[SVB-San Vicente de la Barquera]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/red-dot.png]]></string>
      <key>lat</key>
      <real>43.385933</real>
      <key>lng</key>
      <real>-4.398091</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>20</integer>
      <key>name</key>
      <string><![CDATA[SVB-Parroquia Nuestra Señora De Los Angeles]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>43.384102</real>
      <key>lng</key>
      <real>-4.403087</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>21</integer>
      <key>name</key>
      <string><![CDATA[@TT_CAT]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr">#.*=Cantabria<br><br><br></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/earthquake.png]]></string>
      <key>lat</key>
      <real>43.389084</real>
      <key>lng</key>
      <real>-4.055328</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>22</integer>
      <key>name</key>
      <string><![CDATA[ST-Gran Casino Sardinero]]></string>
      <key>desc</key>
      <string><![CDATA[<img src="http://cbk0.google.com/cbk?output=thumbnail&amp;w=90&amp;h=68&amp;ll=43.472250,-3.782870&amp;thumb=0">]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>43.472252</real>
      <key>lng</key>
      <real>-3.78287</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>23</integer>
      <key>name</key>
      <string><![CDATA[ST-Edif Banco Santander]]></string>
      <key>desc</key>
      <string><![CDATA[<img src="http://cbk0.google.com/cbk?output=thumbnail&amp;w=90&amp;h=68&amp;ll=43.461880,-3.803000&amp;thumb=0">]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>43.46188</real>
      <key>lng</key>
      <real>-3.803</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>24</integer>
      <key>name</key>
      <string><![CDATA[ST-Paseo De La Pereda]]></string>
      <key>desc</key>
      <string><![CDATA[<img src="http://cbk0.google.com/cbk?output=thumbnail&amp;w=90&amp;h=68&amp;ll=43.461030,-3.803710&amp;thumb=0">]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>43.461029</real>
      <key>lng</key>
      <real>-3.80371</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>25</integer>
      <key>name</key>
      <string><![CDATA[ST-Catedral]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>43.461231</real>
      <key>lng</key>
      <real>-3.8075</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>26</integer>
      <key>name</key>
      <string><![CDATA[ST-Calle Miguel de Artigas]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>43.462238</real>
      <key>lng</key>
      <real>-3.81115</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>27</integer>
      <key>name</key>
      <string><![CDATA[Santoña]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>43.44215</real>
      <key>lng</key>
      <real>-3.45319</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>28</integer>
      <key>name</key>
      <string><![CDATA[Cabárceno (Penagos)]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>43.358158</real>
      <key>lng</key>
      <real>-3.82281</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>29</integer>
      <key>name</key>
      <string><![CDATA[PN Cabarceno]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>43.349579</real>
      <key>lng</key>
      <real>-3.85583</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>30</integer>
      <key>name</key>
      <string><![CDATA[Suances - Restaurante]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>43.433731</real>
      <key>lng</key>
      <real>-4.03804</real>
    </dict>
  </array>
  <key>tags</key>
  <array>
    <dict>
      <key>name</key>
      <string>tag_1</string>
      <key>poiIndexes</key>
      <array>
        <string>1</string>
        <string>2-4</string>
      </array>
    </dict>
  </array>
</dict>
</plist>
