<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>mapName</key>
  <string>HT_Ginebra_2012</string>
  <key>pois</key>
  <array>
    <dict>
      <key>index</key>
      <integer>1</integer>
      <key>name</key>
      <string><![CDATA[Hotel Tor]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/homegardenbusiness.png]]></string>
      <key>lat</key>
      <real>46.208302</real>
      <key>lng</key>
      <real>6.146195</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>2</integer>
      <key>name</key>
      <string><![CDATA[Hertz-1]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/cabs.png]]></string>
      <key>lat</key>
      <real>46.213322</real>
      <key>lng</key>
      <real>6.148196</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>3</integer>
      <key>name</key>
      <string><![CDATA[P51-Hertz]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/cabs.png]]></string>
      <key>lat</key>
      <real>46.227188</real>
      <key>lng</key>
      <real>6.10214</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>4</integer>
      <key>name</key>
      <string><![CDATA[Apple Store]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/shopping.png]]></string>
      <key>lat</key>
      <real>46.202309</real>
      <key>lng</key>
      <real>6.150284</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>5</integer>
      <key>name</key>
      <string><![CDATA[Basilica de Notre-Dame]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/hospitals.png]]></string>
      <key>lat</key>
      <real>46.208549</real>
      <key>lng</key>
      <real>6.141866</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>6</integer>
      <key>name</key>
      <string><![CDATA[Iglesia Rusa]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/hospitals.png]]></string>
      <key>lat</key>
      <real>46.199112</real>
      <key>lng</key>
      <real>6.153824</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>7</integer>
      <key>name</key>
      <string><![CDATA[Catedral de San Pedro]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/hospitals.png]]></string>
      <key>lat</key>
      <real>46.201401</real>
      <key>lng</key>
      <real>6.148377</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>8</integer>
      <key>name</key>
      <string><![CDATA[Hotel-de-Ville y Antiguo arsenal]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/red-dot.png]]></string>
      <key>lat</key>
      <real>46.200989</real>
      <key>lng</key>
      <real>6.146883</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>9</integer>
      <key>name</key>
      <string><![CDATA[Rue de la Cite]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/red-dot.png]]></string>
      <key>lat</key>
      <real>46.203148</real>
      <key>lng</key>
      <real>6.143962</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>10</integer>
      <key>name</key>
      <string><![CDATA[Grand-Rue]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/red-dot.png]]></string>
      <key>lat</key>
      <real>46.201389</real>
      <key>lng</key>
      <real>6.146542</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>11</integer>
      <key>name</key>
      <string><![CDATA[Maison Tavel]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/red-dot.png]]></string>
      <key>lat</key>
      <real>46.20142</real>
      <key>lng</key>
      <real>6.14708</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>12</integer>
      <key>name</key>
      <string><![CDATA[Place du Bourg de Four]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/red-dot.png]]></string>
      <key>lat</key>
      <real>46.200253</real>
      <key>lng</key>
      <real>6.149234</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>13</integer>
      <key>name</key>
      <string><![CDATA[Parque de los Bastiones]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/tree.png]]></string>
      <key>lat</key>
      <real>46.200039</real>
      <key>lng</key>
      <real>6.145715</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>14</integer>
      <key>name</key>
      <string><![CDATA[Muro de los Reformadores]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green-dot.png]]></string>
      <key>lat</key>
      <real>46.200222</real>
      <key>lng</key>
      <real>6.145885</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>15</integer>
      <key>name</key>
      <string><![CDATA[Banco mas largo]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green-dot.png]]></string>
      <key>lat</key>
      <real>46.200485</real>
      <key>lng</key>
      <real>6.146349</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>16</integer>
      <key>name</key>
      <string><![CDATA[Jardin Inglés]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/tree.png]]></string>
      <key>lat</key>
      <real>46.204021</real>
      <key>lng</key>
      <real>6.151378</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>17</integer>
      <key>name</key>
      <string><![CDATA[Reloj de flores]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green-dot.png]]></string>
      <key>lat</key>
      <real>46.204136</real>
      <key>lng</key>
      <real>6.150893</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>18</integer>
      <key>name</key>
      <string><![CDATA[Monumento Nacional]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green-dot.png]]></string>
      <key>lat</key>
      <real>46.204735</real>
      <key>lng</key>
      <real>6.150394</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>19</integer>
      <key>name</key>
      <string><![CDATA[Jardin Botanico]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/tree.png]]></string>
      <key>lat</key>
      <real>46.225109</real>
      <key>lng</key>
      <real>6.146357</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>20</integer>
      <key>name</key>
      <string><![CDATA[Place Neuve]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>46.200912</real>
      <key>lng</key>
      <real>6.14338</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>21</integer>
      <key>name</key>
      <string><![CDATA[Le Jet d’Eau]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>46.207394</real>
      <key>lng</key>
      <real>6.155898</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>22</integer>
      <key>name</key>
      <string><![CDATA[Isla Rousseau]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>46.205963</real>
      <key>lng</key>
      <real>6.147666</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>23</integer>
      <key>name</key>
      <string><![CDATA[Monumento al duque Brunswick]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>46.208534</real>
      <key>lng</key>
      <real>6.148991</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>24</integer>
      <key>name</key>
      <string><![CDATA[Palais des Nations (ONU)]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>46.226608</real>
      <key>lng</key>
      <real>6.140428</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>25</integer>
      <key>name</key>
      <string><![CDATA[Silla de ONU]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>46.222855</real>
      <key>lng</key>
      <real>6.138911</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>26</integer>
      <key>name</key>
      <string><![CDATA[Museo - Cruz Roja]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/ltblue-dot.png]]></string>
      <key>lat</key>
      <real>46.227245</real>
      <key>lng</key>
      <real>6.137763</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>27</integer>
      <key>name</key>
      <string><![CDATA[Museo - Patek Philippe]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/ltblue-dot.png]]></string>
      <key>lat</key>
      <real>46.198376</real>
      <key>lng</key>
      <real>6.138212</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>28</integer>
      <key>name</key>
      <string><![CDATA[Place du Molard]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/yellow-dot.png]]></string>
      <key>lat</key>
      <real>46.203815</real>
      <key>lng</key>
      <real>6.148058</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>29</integer>
      <key>name</key>
      <string><![CDATA[Rue de la Croix-d'Or]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/yellow-dot.png]]></string>
      <key>lat</key>
      <real>46.202885</real>
      <key>lng</key>
      <real>6.147956</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>30</integer>
      <key>name</key>
      <string><![CDATA[Rue du Rhône]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/yellow-dot.png]]></string>
      <key>lat</key>
      <real>46.203987</real>
      <key>lng</key>
      <real>6.148275</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>31</integer>
      <key>name</key>
      <string><![CDATA[Rue du Marché]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/yellow-dot.png]]></string>
      <key>lat</key>
      <real>46.203159</real>
      <key>lng</key>
      <real>6.146797</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>32</integer>
      <key>name</key>
      <string><![CDATA[Place de la Madeleine]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/yellow-dot.png]]></string>
      <key>lat</key>
      <real>46.201889</real>
      <key>lng</key>
      <real>6.149629</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>33</integer>
      <key>name</key>
      <string><![CDATA[Quartier des Grottes]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/ylw-pushpin.png]]></string>
      <key>lat</key>
      <real>46.211861</real>
      <key>lng</key>
      <real>6.137264</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>34</integer>
      <key>name</key>
      <string><![CDATA[Lausanne]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/purple-dot.png]]></string>
      <key>lat</key>
      <real>46.52174</real>
      <key>lng</key>
      <real>6.635088</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>35</integer>
      <key>name</key>
      <string><![CDATA[Lausanne - Hotel de Ville]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/purple.png]]></string>
      <key>lat</key>
      <real>46.521839</real>
      <key>lng</key>
      <real>6.632864</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>36</integer>
      <key>name</key>
      <string><![CDATA[Lausanne - Catedral]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/purple.png]]></string>
      <key>lat</key>
      <real>46.522411</real>
      <key>lng</key>
      <real>6.635216</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>37</integer>
      <key>name</key>
      <string><![CDATA[Lausanne - Castillo Saint-Maire]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/purple.png]]></string>
      <key>lat</key>
      <real>46.524662</real>
      <key>lng</key>
      <real>6.635764</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>38</integer>
      <key>name</key>
      <string><![CDATA[Lausanne - Chateau d'Ouchy]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/purple.png]]></string>
      <key>lat</key>
      <real>46.506748</real>
      <key>lng</key>
      <real>6.627614</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>39</integer>
      <key>name</key>
      <string><![CDATA[Montreux]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/purple-dot.png]]></string>
      <key>lat</key>
      <real>46.436005</real>
      <key>lng</key>
      <real>6.910275</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>40</integer>
      <key>name</key>
      <string><![CDATA[Château de Chillon]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/purple-dot.png]]></string>
      <key>lat</key>
      <real>46.414177</real>
      <key>lng</key>
      <real>6.927576</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>41</integer>
      <key>name</key>
      <string><![CDATA[Coppet]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/purple-dot.png]]></string>
      <key>lat</key>
      <real>46.316216</real>
      <key>lng</key>
      <real>6.193113</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>42</integer>
      <key>name</key>
      <string><![CDATA[Nyon]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/purple-dot.png]]></string>
      <key>lat</key>
      <real>46.381962</real>
      <key>lng</key>
      <real>6.240385</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>43</integer>
      <key>name</key>
      <string><![CDATA[Rolle]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/purple-dot.png]]></string>
      <key>lat</key>
      <real>46.459583</real>
      <key>lng</key>
      <real>6.340989</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>44</integer>
      <key>name</key>
      <string><![CDATA[Annecy]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/purple-dot.png]]></string>
      <key>lat</key>
      <real>45.898529</real>
      <key>lng</key>
      <real>6.12785</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>45</integer>
      <key>name</key>
      <string><![CDATA[Yvoire]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/purple-dot.png]]></string>
      <key>lat</key>
      <real>46.36985</real>
      <key>lng</key>
      <real>6.327138</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>46</integer>
      <key>name</key>
      <string><![CDATA[Gruyeres]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/purple-dot.png]]></string>
      <key>lat</key>
      <real>46.582031</real>
      <key>lng</key>
      <real>7.078382</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>47</integer>
      <key>name</key>
      <string><![CDATA[Carouge]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/purple-dot.png]]></string>
      <key>lat</key>
      <real>46.184002</real>
      <key>lng</key>
      <real>6.140668</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>48</integer>
      <key>name</key>
      <string><![CDATA[Aarburg castillo]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/yellow-dot.png]]></string>
      <key>lat</key>
      <real>47.320042</real>
      <key>lng</key>
      <real>7.89972</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>49</integer>
      <key>name</key>
      <string><![CDATA[Kapellbrücke]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/ltblue-dot.png]]></string>
      <key>lat</key>
      <real>47.051422</real>
      <key>lng</key>
      <real>8.3073</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>50</integer>
      <key>name</key>
      <string><![CDATA[Spreuerbrücke]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/ltblue-dot.png]]></string>
      <key>lat</key>
      <real>47.051788</real>
      <key>lng</key>
      <real>8.301586</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>51</integer>
      <key>name</key>
      <string><![CDATA[Alte Rathaus]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/ltblue-dot.png]]></string>
      <key>lat</key>
      <real>47.052162</real>
      <key>lng</key>
      <real>8.305946</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>52</integer>
      <key>name</key>
      <string><![CDATA[Weinmarkt]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/ltblue-dot.png]]></string>
      <key>lat</key>
      <real>47.052017</real>
      <key>lng</key>
      <real>8.304661</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>53</integer>
      <key>name</key>
      <string><![CDATA[Jesuitenkirche]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/ltblue-dot.png]]></string>
      <key>lat</key>
      <real>47.05077</real>
      <key>lng</key>
      <real>8.305149</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>54</integer>
      <key>name</key>
      <string><![CDATA[Mühlenplatz]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/ltblue-dot.png]]></string>
      <key>lat</key>
      <real>47.052032</real>
      <key>lng</key>
      <real>8.303623</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>55</integer>
      <key>name</key>
      <string><![CDATA[Franziskanerkirche]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/ltblue-dot.png]]></string>
      <key>lat</key>
      <real>47.049824</real>
      <key>lng</key>
      <real>8.303363</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>56</integer>
      <key>name</key>
      <string><![CDATA[Murallas]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/ltblue-dot.png]]></string>
      <key>lat</key>
      <real>47.053699</real>
      <key>lng</key>
      <real>8.302606</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>57</integer>
      <key>name</key>
      <string><![CDATA[Lago de Annecy]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/pink-dot.png]]></string>
      <key>lat</key>
      <real>45.899151</real>
      <key>lng</key>
      <real>6.13246</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>58</integer>
      <key>name</key>
      <string><![CDATA[Palais de l'Île]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/pink-dot.png]]></string>
      <key>lat</key>
      <real>45.898575</real>
      <key>lng</key>
      <real>6.127276</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>59</integer>
      <key>name</key>
      <string><![CDATA[Quai de l'Eveche]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/pink-dot.png]]></string>
      <key>lat</key>
      <real>45.898983</real>
      <key>lng</key>
      <real>6.124009</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>60</integer>
      <key>name</key>
      <string><![CDATA[Casco viejo]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/pink-dot.png]]></string>
      <key>lat</key>
      <real>45.89817</real>
      <key>lng</key>
      <real>6.127233</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>61</integer>
      <key>name</key>
      <string><![CDATA[Casco viejo 2]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/pink-dot.png]]></string>
      <key>lat</key>
      <real>45.898312</real>
      <key>lng</key>
      <real>6.126093</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>62</integer>
      <key>name</key>
      <string><![CDATA[Castillo d'Annecy]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/pink-dot.png]]></string>
      <key>lat</key>
      <real>45.898026</real>
      <key>lng</key>
      <real>6.12616</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>63</integer>
      <key>name</key>
      <string><![CDATA[Passage De La Cathédrale]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/pink-dot.png]]></string>
      <key>lat</key>
      <real>45.899296</real>
      <key>lng</key>
      <real>6.125972</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>64</integer>
      <key>name</key>
      <string><![CDATA[Notre-Dame]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/pink-dot.png]]></string>
      <key>lat</key>
      <real>45.900082</real>
      <key>lng</key>
      <real>6.125948</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>65</integer>
      <key>name</key>
      <string><![CDATA[Rue du Paquier]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/pink-dot.png]]></string>
      <key>lat</key>
      <real>45.900818</real>
      <key>lng</key>
      <real>6.126109</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>66</integer>
      <key>name</key>
      <string><![CDATA[Rue Royale]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/pink-dot.png]]></string>
      <key>lat</key>
      <real>45.900578</real>
      <key>lng</key>
      <real>6.125243</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>67</integer>
      <key>name</key>
      <string><![CDATA[Eglise St François de Sales]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/pink-dot.png]]></string>
      <key>lat</key>
      <real>45.89864</real>
      <key>lng</key>
      <real>6.128182</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>68</integer>
      <key>name</key>
      <string><![CDATA[Cathédrale Saint-Pierre]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/pink-dot.png]]></string>
      <key>lat</key>
      <real>45.899075</real>
      <key>lng</key>
      <real>6.125618</real>
    </dict>
  </array>
  <key>tags</key>
  <array>
    <dict>
      <key>name</key>
      <string>tag_1</string>
      <key>poiIndexes</key>
      <array>
        <string>1</string>
        <string>2-4</string>
      </array>
    </dict>
  </array>
</dict>
</plist>
