<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>mapName</key>
  <string>HT_Vera_2009</string>
  <key>pois</key>
  <array>
    <dict>
      <key>index</key>
      <integer>1</integer>
      <key>name</key>
      <string><![CDATA[@TT_CAT]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr">#.*=Vera</div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/earthquake.png]]></string>
      <key>lat</key>
      <real>37.225956</real>
      <key>lng</key>
      <real>-1.722107</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>2</integer>
      <key>name</key>
      <string><![CDATA[HOTEL]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/homegardenbusiness.png]]></string>
      <key>lat</key>
      <real>37.227989</real>
      <key>lng</key>
      <real>-1.80178</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>3</integer>
      <key>name</key>
      <string><![CDATA[Cabo de Gata]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>36.72221</real>
      <key>lng</key>
      <real>-2.19216</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>4</integer>
      <key>name</key>
      <string><![CDATA[Carboneras]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>36.99659</real>
      <key>lng</key>
      <real>-1.89501</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>5</integer>
      <key>name</key>
      <string><![CDATA[La Isleta]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>36.81395</real>
      <key>lng</key>
      <real>-2.05152</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>6</integer>
      <key>name</key>
      <string><![CDATA[Las Negras, Nijar]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>36.880131</real>
      <key>lng</key>
      <real>-2.00454</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>7</integer>
      <key>name</key>
      <string><![CDATA[Tabernas]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/green-dot.png]]></string>
      <key>lat</key>
      <real>37.04945</real>
      <key>lng</key>
      <real>-2.39268</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>8</integer>
      <key>name</key>
      <string><![CDATA[Mini Hollywood]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/green-dot.png]]></string>
      <key>lat</key>
      <real>37.019272</real>
      <key>lng</key>
      <real>-2.43053</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>9</integer>
      <key>name</key>
      <string><![CDATA[Mojacar]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>37.13995</real>
      <key>lng</key>
      <real>-1.85133</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>10</integer>
      <key>name</key>
      <string><![CDATA[Nijar]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>36.965759</real>
      <key>lng</key>
      <real>-2.20651</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>11</integer>
      <key>name</key>
      <string><![CDATA[Rodalquilar, Nijar]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>36.848049</real>
      <key>lng</key>
      <real>-2.0436</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>12</integer>
      <key>name</key>
      <string><![CDATA[San Jose, Nijar]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>36.757969</real>
      <key>lng</key>
      <real>-2.10972</real>
    </dict>
  </array>
  <key>tags</key>
  <array>
    <dict>
      <key>name</key>
      <string>tag_1</string>
      <key>poiIndexes</key>
      <array>
        <string>1</string>
        <string>2-4</string>
      </array>
    </dict>
  </array>
</dict>
</plist>
