<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>mapName</key>
  <string>Planing_Sur_Francia</string>
  <key>pois</key>
  <array>
    <dict>
      <key>index</key>
      <integer>1</integer>
      <key>name</key>
      <string><![CDATA[Carcassonne]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>43.212162</real>
      <key>lng</key>
      <real>2.353663</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>2</integer>
      <key>name</key>
      <string><![CDATA[Albi]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>43.926895</real>
      <key>lng</key>
      <real>2.146343</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>3</integer>
      <key>name</key>
      <string><![CDATA[Cordes-sur-Ciel]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>44.063187</real>
      <key>lng</key>
      <real>1.951534</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>4</integer>
      <key>name</key>
      <string><![CDATA[Toulouse]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>43.604652</real>
      <key>lng</key>
      <real>1.444209</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>5</integer>
      <key>name</key>
      <string><![CDATA[Rocamadour]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/ltblue-dot.png]]></string>
      <key>lat</key>
      <real>44.799381</real>
      <key>lng</key>
      <real>1.617901</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>6</integer>
      <key>name</key>
      <string><![CDATA[Sarlat-la-Canéda]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/ltblue-dot.png]]></string>
      <key>lat</key>
      <real>44.890892</real>
      <key>lng</key>
      <real>1.217292</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>7</integer>
      <key>name</key>
      <string><![CDATA[La Roque-Gageac]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/ltblue-dot.png]]></string>
      <key>lat</key>
      <real>44.825047</real>
      <key>lng</key>
      <real>1.184259</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>8</integer>
      <key>name</key>
      <string><![CDATA[Avignon]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>43.949318</real>
      <key>lng</key>
      <real>4.805528</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>9</integer>
      <key>name</key>
      <string><![CDATA[Montpellier]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>43.610767</real>
      <key>lng</key>
      <real>3.876716</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>10</integer>
      <key>name</key>
      <string><![CDATA[Chamonix]]></string>
      <key>desc</key>
      <string><![CDATA[France<br><a href="https://maps.google.es/maps/place?ftid=0x47894c062dfe2ee7:0x408ab2ae4baa380&amp;q=chamonix&amp;hl=en&amp;authuser=0&amp;cd=1&amp;cad=src:ppiwlink&amp;ei=yCAhUaa5OojMigaR2ID4Ag&amp;sig2=KgdGQsTlxsYQJDSQIxbdJA&amp;dtab=5" target="_blank"><img src="https://cbks0.google.com/cbk?output=thumbnail&amp;w=90&amp;h=68&amp;ll=45.923697,6.869433&amp;thumb=0"></a>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>45.923698</real>
      <key>lng</key>
      <real>6.869433</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>11</integer>
      <key>name</key>
      <string><![CDATA[Annecy]]></string>
      <key>desc</key>
      <string><![CDATA[France<br><a href="https://maps.google.es/maps/place?ftid=0x478b8ffa1c0551c9:0x42781681620534ba&amp;q=Annecy,+France&amp;hl=en&amp;authuser=0&amp;cd=1&amp;cad=src:ppiwlink&amp;ei=4iAhUcLhJaasiAbHxYDYCw&amp;sig2=Ymts8cD-hWCqEEuXMPzg8Q&amp;dtab=5" target="_blank"><img src="https://cbks0.google.com/cbk?output=thumbnail&amp;w=90&amp;h=68&amp;ll=45.899247,6.129384&amp;thumb=0"></a>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>45.899246</real>
      <key>lng</key>
      <real>6.129384</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>12</integer>
      <key>name</key>
      <string><![CDATA[Aix-les-Bains, France]]></string>
      <key>desc</key>
      <string><![CDATA[Aix-les-Bains, France<br>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>45.692341</real>
      <key>lng</key>
      <real>5.908998</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>13</integer>
      <key>name</key>
      <string><![CDATA[Grenoble]]></string>
      <key>desc</key>
      <string><![CDATA[France<br><a href="https://maps.google.es/maps/place?ftid=0x478af48bd689be6f:0x618c10cd6e995398&amp;q=grenoble,+France&amp;hl=en&amp;authuser=0&amp;cd=1&amp;cad=src:ppiwlink&amp;ei=WSEhUeWiB8bviQbFsIGYBA&amp;sig2=CeUpnzikvvFFhe9iEO7zcA&amp;dtab=5" target="_blank"><img src="https://cbks0.google.com/cbk?output=thumbnail&amp;w=90&amp;h=68&amp;ll=45.188529,5.724524&amp;thumb=0"></a>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>45.18853</real>
      <key>lng</key>
      <real>5.724524</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>14</integer>
      <key>name</key>
      <string><![CDATA[Uzès]]></string>
      <key>desc</key>
      <string><![CDATA[France<br><a href="https://maps.google.es/maps/place?ftid=0x12b5b540670db467:0x4078821166b33f0&amp;q=uzes,+France&amp;hl=en&amp;authuser=0&amp;cd=1&amp;cad=src:ppiwlink&amp;ei=diEhUZWKE8O9igahpYDwBw&amp;sig2=dcDFsU5iAAwYSZZeccLyxQ&amp;dtab=5" target="_blank"><img src="https://cbks0.google.com/cbk?output=thumbnail&amp;w=90&amp;h=68&amp;ll=44.012110,4.419946&amp;thumb=0"></a>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>44.012112</real>
      <key>lng</key>
      <real>4.419946</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>15</integer>
      <key>name</key>
      <string><![CDATA[Nîmes]]></string>
      <key>desc</key>
      <string><![CDATA[France<br><a href="https://maps.google.es/maps/place?ftid=0x12b42d0bd6e85339:0xde88134f9f200c03&amp;q=nimes,+France&amp;hl=en&amp;authuser=0&amp;cd=1&amp;cad=src:ppiwlink&amp;ei=lCEhUYqcNeuVigbQnoHQCg&amp;sig2=nyD-JZcjylJ_mDC3XSolLQ&amp;dtab=5" target="_blank"><img src="https://cbks0.google.com/cbk?output=thumbnail&amp;w=90&amp;h=68&amp;ll=43.836699,4.360054&amp;thumb=0"></a>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>43.8367</real>
      <key>lng</key>
      <real>4.360054</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>16</integer>
      <key>name</key>
      <string><![CDATA[Gordes]]></string>
      <key>desc</key>
      <string><![CDATA[France<br><a href="https://maps.google.es/maps/place?ftid=0x12ca0dc30dc4b6cd:0x6cf8370fce926027&amp;q=Gordes,+France&amp;hl=en&amp;authuser=0&amp;cd=1&amp;cad=src:ppiwlink&amp;ei=uCEhUfnMEIjxiwbyqYHoCA&amp;sig2=SHT80T9D77Ufa2-C-Gt0vA&amp;dtab=5" target="_blank"><img src="https://cbks0.google.com/cbk?output=thumbnail&amp;w=90&amp;h=68&amp;ll=43.911315,5.200176&amp;thumb=0"></a>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>43.911316</real>
      <key>lng</key>
      <real>5.200176</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>17</integer>
      <key>name</key>
      <string><![CDATA[La Garde]]></string>
      <key>desc</key>
      <string><![CDATA[France<br>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>43.128777</real>
      <key>lng</key>
      <real>6.017199</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>18</integer>
      <key>name</key>
      <string><![CDATA[Orange]]></string>
      <key>desc</key>
      <string><![CDATA[France<br><a href="https://maps.google.es/maps/place?ftid=0x12b590b375eebce1:0xad1d8ad5844581fa&amp;q=orange+in+provence,+France&amp;hl=en&amp;authuser=0&amp;cd=1&amp;cad=src:ppiwlink&amp;ei=PiIhUZ6LHanFiAaWgoGIDA&amp;sig2=K9DK2Wc9fY9_DcPKJ9CJrA&amp;dtab=5" target="_blank"><img src="https://cbks0.google.com/cbk?output=thumbnail&amp;w=90&amp;h=68&amp;ll=44.138099,4.807511&amp;thumb=0"></a>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>44.1381</real>
      <key>lng</key>
      <real>4.807511</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>19</integer>
      <key>name</key>
      <string><![CDATA[46100 Figeac]]></string>
      <key>desc</key>
      <string><![CDATA[France<br><a href="https://maps.google.es/maps/place?ftid=0x12ad10d4bbfb4f3b:0x406f69c2f3fcae0&amp;q=figeac,+France&amp;hl=en&amp;authuser=0&amp;cd=1&amp;cad=src:ppiwlink&amp;ei=qSshUc37JOrbiQbiloHICA&amp;sig2=6quB7Bnz8AXkzPg34Y1dog&amp;dtab=5" target="_blank"><img src="https://cbks0.google.com/cbk?output=thumbnail&amp;w=90&amp;h=68&amp;ll=44.608288,2.032871&amp;thumb=0"></a>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>44.608288</real>
      <key>lng</key>
      <real>2.032871</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>20</integer>
      <key>name</key>
      <string><![CDATA[Languedoc-Roussillon, France]]></string>
      <key>desc</key>
      <string><![CDATA[Languedoc-Roussillon, France<br>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>43.591236</real>
      <key>lng</key>
      <real>3.258363</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>21</integer>
      <key>name</key>
      <string><![CDATA[Antibes]]></string>
      <key>desc</key>
      <string><![CDATA[France<br><a href="https://maps.google.es/maps/place?ftid=0x12cdd5459e5a91a9:0x40819a5fd979fb0&amp;q=Antibes,+France&amp;hl=en&amp;authuser=0&amp;cd=1&amp;cad=src:ppiwlink&amp;ei=MDAhUbz6H8bviQbFsIGYBA&amp;sig2=zwpLCB164xNxD__0viosJg&amp;dtab=5" target="_blank"><img src="https://cbks0.google.com/cbk?output=thumbnail&amp;w=90&amp;h=68&amp;ll=43.580418,7.125102&amp;thumb=0"></a>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>43.580418</real>
      <key>lng</key>
      <real>7.125102</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>22</integer>
      <key>name</key>
      <string><![CDATA[Nice]]></string>
      <key>desc</key>
      <string><![CDATA[France<br><a href="https://maps.google.es/maps/place?ftid=0x12cdd0106a852d31:0x40819a5fd979a70&amp;q=niza,+France&amp;hl=en&amp;authuser=0&amp;cd=1&amp;cad=src:ppiwlink&amp;ei=gDAhUa7SIsjYiwaKmIHwBQ&amp;sig2=7TQFbEf_DPPedwW9bg-7QA&amp;dtab=5" target="_blank"><img src="https://cbks0.google.com/cbk?output=thumbnail&amp;w=90&amp;h=68&amp;ll=43.696036,7.265592&amp;thumb=0"></a>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>43.696037</real>
      <key>lng</key>
      <real>7.265592</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>23</integer>
      <key>name</key>
      <string><![CDATA[Monaco-Ville]]></string>
      <key>desc</key>
      <string><![CDATA[Monaco<br><a href="https://maps.google.es/maps/place?ftid=0x12cdc28900cb8ed9:0x40819a5fd8f2b90&amp;q=Monaco-Ville,+Monaco&amp;hl=en&amp;authuser=0&amp;cd=1&amp;cad=src:ppiwlink&amp;ei=pjAhUaEQjYKIBr6RgfAP&amp;sig2=BW-imlEFUu53Llw3XOHFIw&amp;dtab=5" target="_blank"><img src="https://cbks0.google.com/cbk?output=thumbnail&amp;w=90&amp;h=68&amp;ll=43.731277,7.423754&amp;thumb=0"></a>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>43.731277</real>
      <key>lng</key>
      <real>7.423754</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>24</integer>
      <key>name</key>
      <string><![CDATA[Cassis]]></string>
      <key>desc</key>
      <string><![CDATA[France<br><a href="https://maps.google.es/maps/place?ftid=0x12c9bac66b7ee435:0x40819a5fd970430&amp;q=Cassis,+France&amp;hl=en&amp;authuser=0&amp;cd=1&amp;cad=src:ppiwlink&amp;ei=5zAhUeiPIonTiAbxm4DwAw&amp;sig2=d2EihKC_Uk0t6gJoE-3dTg&amp;dtab=5" target="_blank"><img src="https://cbks0.google.com/cbk?output=thumbnail&amp;w=90&amp;h=68&amp;ll=43.215134,5.537120&amp;thumb=0"></a>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>43.215134</real>
      <key>lng</key>
      <real>5.53712</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>25</integer>
      <key>name</key>
      <string><![CDATA[Brantôme, France]]></string>
      <key>desc</key>
      <string><![CDATA[Brantôme, France<br>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>45.365189</real>
      <key>lng</key>
      <real>0.647394</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>26</integer>
      <key>name</key>
      <string><![CDATA[Marseille]]></string>
      <key>desc</key>
      <string><![CDATA[France<br><a href="https://maps.google.es/maps/place?ftid=0x12c9bf4344da5333:0x40819a5fd970220&amp;q=Marsella,+France&amp;hl=en&amp;authuser=0&amp;cd=1&amp;cad=src:ppiwlink&amp;ei=0TMhUbGVIYaaiQbx8ICABQ&amp;sig2=6ZjdXXcUxDeccW3EzVMCcg&amp;dtab=5" target="_blank"><img src="https://cbks0.google.com/cbk?output=thumbnail&amp;w=90&amp;h=68&amp;ll=43.296482,5.369780&amp;thumb=0"></a>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>43.296482</real>
      <key>lng</key>
      <real>5.36978</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>27</integer>
      <key>name</key>
      <string><![CDATA[Saint-Tropez]]></string>
      <key>desc</key>
      <string><![CDATA[France<br><a href="https://maps.google.es/maps/place?ftid=0x12cec7148316e747:0x912a1b632d84b9df&amp;q=Saint+Tropez,+France&amp;hl=en&amp;authuser=0&amp;cd=1&amp;cad=src:ppiwlink&amp;ei=ATQhUebdKsqPiQaG-oDYAQ&amp;sig2=VXmZlvfCFyXY1E-tph0UgQ&amp;dtab=5" target="_blank"><img src="https://cbks0.google.com/cbk?output=thumbnail&amp;w=90&amp;h=68&amp;ll=43.270065,6.639578&amp;thumb=0"></a>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>43.270065</real>
      <key>lng</key>
      <real>6.639578</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>28</integer>
      <key>name</key>
      <string><![CDATA[Lyon]]></string>
      <key>desc</key>
      <string><![CDATA[France<br><a href="https://maps.google.es/maps/place?ftid=0x47f4ea516ae88797:0x408ab2ae4bb21f0&amp;q=Lyon,+France&amp;hl=en&amp;authuser=0&amp;cd=1&amp;cad=src:ppiwlink&amp;ei=dDQhUYa9O8iRigb364CwBg&amp;sig2=WrnOxM26DywV02fMI58YeA&amp;dtab=5" target="_blank"><img src="https://cbks0.google.com/cbk?output=thumbnail&amp;w=90&amp;h=68&amp;ll=45.764043,4.835659&amp;thumb=0"></a>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>45.764042</real>
      <key>lng</key>
      <real>4.835659</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>29</integer>
      <key>name</key>
      <string><![CDATA[Aix-en-Provence]]></string>
      <key>desc</key>
      <string><![CDATA[France<br><a href="https://maps.google.es/maps/place?ftid=0x12c98da304b91259:0x5cb953bec8b688a3&amp;q=Aix-en-Provence,+France&amp;hl=en&amp;authuser=0&amp;cd=1&amp;cad=src:ppiwlink&amp;ei=NjUhUcy1NqnRiAb_2oCQCA&amp;sig2=ObAn7uKa3izV4G0eX0MteA&amp;dtab=5" target="_blank"><img src="https://cbks0.google.com/cbk?output=thumbnail&amp;w=90&amp;h=68&amp;ll=43.529742,5.447427&amp;thumb=0"></a>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>43.529743</real>
      <key>lng</key>
      <real>5.447427</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>30</integer>
      <key>name</key>
      <string><![CDATA[Gorges de Kakuetta]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>42.998306</real>
      <key>lng</key>
      <real>-0.83981</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>31</integer>
      <key>name</key>
      <string><![CDATA[Périgord]]></string>
      <key>desc</key>
      <string><![CDATA[82150 Saint-Beauzeil, France<br>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>44.34116</real>
      <key>lng</key>
      <real>0.921142</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>32</integer>
      <key>name</key>
      <string><![CDATA[Saint-Cirq-Lapopie]]></string>
      <key>desc</key>
      <string><![CDATA[France<br><a href="https://maps.google.es/maps/place?ftid=0x12acf0ad02f1b041:0xf6cb6d93abf36c78&amp;q=Saint-Cirq-Lapopie,+France&amp;hl=en&amp;authuser=0&amp;cd=1&amp;cad=src:ppiwlink&amp;ei=UDwhUamFN6nUiwaL5oGoCw&amp;sig2=VWiCOkXzsdAZMMGFfhFWuA&amp;dtab=5" target="_blank"><img src="https://cbks0.google.com/cbk?output=thumbnail&amp;w=90&amp;h=68&amp;ll=44.464672,1.669032&amp;thumb=0"></a>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>44.464672</real>
      <key>lng</key>
      <real>1.669032</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>33</integer>
      <key>name</key>
      <string><![CDATA[12320 Conques]]></string>
      <key>desc</key>
      <string><![CDATA[France<br><a href="https://maps.google.es/maps/place?ftid=0x12ad615f0b43dd53:0x75bc4962d36079b7&amp;q=Conques,+France&amp;hl=en&amp;authuser=0&amp;cd=1&amp;cad=src:ppiwlink&amp;ei=Bj0hUeyVGqnFiAaWgoGIDA&amp;sig2=P4UuyJV68wWT5nhJcnqXKA&amp;dtab=5" target="_blank"><img src="https://cbks0.google.com/cbk?output=thumbnail&amp;w=90&amp;h=68&amp;ll=44.599402,2.396037&amp;thumb=0"></a>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>44.599403</real>
      <key>lng</key>
      <real>2.396037</real>
    </dict>
  </array>
  <key>tags</key>
  <array>
    <dict>
      <key>name</key>
      <string>tag_1</string>
      <key>poiIndexes</key>
      <array>
        <string>1</string>
        <string>2-4</string>
      </array>
    </dict>
  </array>
</dict>
</plist>
