<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>mapName</key>
  <string>PREP_Holanda</string>
  <key>pois</key>
  <array>
    <dict>
      <key>index</key>
      <integer>1</integer>
      <key>name</key>
      <string><![CDATA[URLs de Webs]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr">http://www.viajaraholanda.com/que-visitar.php<br>&nbsp;</div><div dir="ltr">http://viajeindalo.wordpress.com/2008/12/07/holanda-en-coche/</div><div dir="ltr"><br>&nbsp;</div><div dir="ltr">http://www.etceter.com/c-lugares/p-un-viaje-por-lo-mejor-de-holanda/<br>&nbsp;</div><div dir="ltr"><br>&nbsp;</div><div dir="ltr">http://www.rutadeviaje.com/belgica-holanda/diario/middelburg_veere_domburg.htm</div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/earthquake.png]]></string>
      <key>lat</key>
      <real>52.221069</real>
      <key>lng</key>
      <real>3.323364</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>2</integer>
      <key>name</key>
      <string><![CDATA[Haarlem]]></string>
      <key>desc</key>
      <string><![CDATA[The Netherlands<br><a href="http://www.google.es/search?hl=en&amp;authuser=0&amp;q=haarlem&amp;cd=1&amp;cad=src:ppiwlink&amp;ei=g5CQUr-oEIG_8QPinIGABw&amp;sig2=ebpXx04dxjJOhfSEzaAuEA&amp;dtab=5" target="_blank"><img src="https://cbks0.google.com/cbk?output=thumbnail&amp;w=90&amp;h=68&amp;ll=52.383626,4.635956&amp;thumb=0"></a>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>52.383625</real>
      <key>lng</key>
      <real>4.635956</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>3</integer>
      <key>name</key>
      <string><![CDATA[Zelanda-Middelburg]]></string>
      <key>desc</key>
      <string><![CDATA[The Netherlands<br><a href="http://www.google.es/search?hl=en&amp;authuser=0&amp;q=middelburg+netherlands&amp;ie=UTF8&amp;cd=1&amp;cad=src:ppiwlink&amp;ei=_ZCQUomEFJG98gPA5YC4DA&amp;sig2=6bkesRu6rFlkPXrN1eyCVA&amp;dtab=5" target="_blank"><img src="https://cbks0.google.com/cbk?output=thumbnail&amp;w=90&amp;h=68&amp;ll=51.498796,3.610998&amp;thumb=0"></a>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green-dot.png]]></string>
      <key>lat</key>
      <real>51.498795</real>
      <key>lng</key>
      <real>3.610998</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>4</integer>
      <key>name</key>
      <string><![CDATA[Zelanda-Vlissingen]]></string>
      <key>desc</key>
      <string><![CDATA[The Netherlands<br><a href="http://www.google.es/search?hl=en&amp;authuser=0&amp;q=vlissingen&amp;cd=1&amp;cad=src:ppiwlink&amp;ei=N5GQUq_gJ4SQ8AP6zoHgDg&amp;sig2=Zkut724cyvvUMaRXK-kt5g&amp;dtab=5" target="_blank"><img src="https://cbks0.google.com/cbk?output=thumbnail&amp;w=90&amp;h=68&amp;ll=51.453667,3.570912&amp;thumb=0"></a>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green-dot.png]]></string>
      <key>lat</key>
      <real>51.453667</real>
      <key>lng</key>
      <real>3.570912</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>5</integer>
      <key>name</key>
      <string><![CDATA[Zelanda-Zierikzee]]></string>
      <key>desc</key>
      <string><![CDATA[The Netherlands<br><a href="http://www.google.es/search?hl=en&amp;authuser=0&amp;q=zierikzee&amp;cd=1&amp;cad=src:ppiwlink&amp;ei=d5GQUpjuPIKw8wPr9IDwDg&amp;sig2=dIFUnhKAL9w8hB0znPqXDQ&amp;dtab=5" target="_blank"><img src="https://cbks0.google.com/cbk?output=thumbnail&amp;w=90&amp;h=68&amp;ll=51.650122,3.918498&amp;thumb=0"></a>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/green-dot.png]]></string>
      <key>lat</key>
      <real>51.650124</real>
      <key>lng</key>
      <real>3.918498</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>6</integer>
      <key>name</key>
      <string><![CDATA[Frisia-Makkum]]></string>
      <key>desc</key>
      <string><![CDATA[The Netherlands<br><a href="http://www.google.es/search?hl=en&amp;authuser=0&amp;q=makkum&amp;cd=1&amp;cad=src:ppiwlink&amp;ei=EpKQUobBNYSX8gPphIGQDA&amp;sig2=yF_V_dLSTJ9Vu42mnkzcLQ&amp;dtab=5" target="_blank"><img src="https://cbks0.google.com/cbk?output=thumbnail&amp;w=90&amp;h=68&amp;ll=53.056111,5.403213&amp;thumb=0"></a>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/red-dot.png]]></string>
      <key>lat</key>
      <real>53.05611</real>
      <key>lng</key>
      <real>5.403213</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>7</integer>
      <key>name</key>
      <string><![CDATA[Frisia-Harlingen]]></string>
      <key>desc</key>
      <string><![CDATA[The Netherlands<br><a href="http://www.google.es/search?hl=en&amp;authuser=0&amp;q=harlingen+netherlands&amp;cd=1&amp;cad=src:ppiwlink&amp;ei=PJKQUsfTGMax8wPy_YCgCA&amp;sig2=oTi8xpR_l0lDlYxkVmrjyA&amp;dtab=5" target="_blank"><img src="https://cbks0.google.com/cbk?output=thumbnail&amp;w=90&amp;h=68&amp;ll=53.174638,5.425152&amp;thumb=0"></a>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/red-dot.png]]></string>
      <key>lat</key>
      <real>53.174637</real>
      <key>lng</key>
      <real>5.425152</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>8</integer>
      <key>name</key>
      <string><![CDATA[Frisia-Hindeloopen]]></string>
      <key>desc</key>
      <string><![CDATA[The Netherlands<br><a href="http://www.google.es/search?hl=en&amp;authuser=0&amp;q=hindeloopen+netherlands&amp;ie=UTF8&amp;cd=1&amp;cad=src:ppiwlink&amp;ei=ZJKQUqSCIoaF8QOUzIDABQ&amp;sig2=87qxXv9y0JFdjsAZk93g1w&amp;dtab=5" target="_blank"><img src="https://cbks0.google.com/cbk?output=thumbnail&amp;w=90&amp;h=68&amp;ll=52.942685,5.401254&amp;thumb=0"></a>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/red-dot.png]]></string>
      <key>lat</key>
      <real>52.942684</real>
      <key>lng</key>
      <real>5.401254</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>9</integer>
      <key>name</key>
      <string><![CDATA[Groningen-Groningen]]></string>
      <key>desc</key>
      <string><![CDATA[The Netherlands<br><a href="http://www.google.es/search?hl=en&amp;authuser=0&amp;q=groningen+netherlands&amp;cd=1&amp;cad=src:ppiwlink&amp;ei=F5OQUpDgFMjQ8APasICQBQ&amp;sig2=Ss_d3PR_X2Uagmlb0GAl5A&amp;dtab=5" target="_blank"><img src="https://cbks0.google.com/cbk?output=thumbnail&amp;w=90&amp;h=68&amp;ll=53.219384,6.566502&amp;thumb=0"></a>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/ltblue-dot.png]]></string>
      <key>lat</key>
      <real>53.219383</real>
      <key>lng</key>
      <real>6.566502</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>10</integer>
      <key>name</key>
      <string><![CDATA[Utrecht]]></string>
      <key>desc</key>
      <string><![CDATA[The Netherlands<br><a href="http://www.google.es/search?hl=en&amp;authuser=0&amp;q=utrecht+netherlands&amp;cd=1&amp;cad=src:ppiwlink&amp;ei=iJOQUoG9Esq08QP0loDoBQ&amp;sig2=WRjXlX8gLY0ZLXT8ubD_BQ&amp;dtab=5" target="_blank"><img src="https://cbks0.google.com/cbk?output=thumbnail&amp;w=90&amp;h=68&amp;ll=52.091790,5.114570&amp;thumb=0"></a>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>52.091789</real>
      <key>lng</key>
      <real>5.11457</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>11</integer>
      <key>name</key>
      <string><![CDATA[Lisse-Flores]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr">durante mayo los famosos campos de tulipanes, es por eso que si te preguntas cuando viajar a Holanda la mejor respuesta, si te gustan los paisajes y los colores, es sin duda en primavera. - See more at: http://www.viajaraholanda.com/clima-cuando-viajar.php#sthash.hG8Deygi.dpuf</div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/tree.png]]></string>
      <key>lat</key>
      <real>52.257931</real>
      <key>lng</key>
      <real>4.557483</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>12</integer>
      <key>name</key>
      <string><![CDATA[The Hague]]></string>
      <key>desc</key>
      <string><![CDATA[The Netherlands<br><a href="http://www.google.es/search?hl=en&amp;authuser=0&amp;q=the+hague&amp;cd=1&amp;cad=src:ppiwlink&amp;ei=UJSQUq-GNsPG8gO8q4HQBg&amp;sig2=9t73r0_m3BBzzr-wrz-H7Q&amp;dtab=5" target="_blank"><img src="https://cbks0.google.com/cbk?output=thumbnail&amp;w=90&amp;h=68&amp;ll=52.070498,4.300700&amp;thumb=0"></a>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>52.070499</real>
      <key>lng</key>
      <real>4.3007</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>13</integer>
      <key>name</key>
      <string><![CDATA[Delft]]></string>
      <key>desc</key>
      <string><![CDATA[The Netherlands<br><a href="http://www.google.es/search?hl=en&amp;authuser=0&amp;q=delft+holland&amp;cd=1&amp;cad=src:ppiwlink&amp;ei=bZSQUsfaHYOE8wPv_oFo&amp;sig2=RGI2AEinLRhQfgal9mfXcA&amp;dtab=5" target="_blank"><img src="https://cbks0.google.com/cbk?output=thumbnail&amp;w=90&amp;h=68&amp;ll=52.011577,4.357068&amp;thumb=0"></a>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>52.011578</real>
      <key>lng</key>
      <real>4.357068</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>14</integer>
      <key>name</key>
      <string><![CDATA[Rotterdam]]></string>
      <key>desc</key>
      <string><![CDATA[The Netherlands<br><a href="http://www.google.es/search?hl=en&amp;authuser=0&amp;q=rotterdam&amp;cd=1&amp;cad=src:ppiwlink&amp;ei=kJSQUu3YFomz8wOV24DABQ&amp;sig2=eIiHN-8jyXbhkxuMiJwrQA&amp;dtab=5" target="_blank"><img src="https://cbks0.google.com/cbk?output=thumbnail&amp;w=90&amp;h=68&amp;ll=51.924216,4.481776&amp;thumb=0"></a>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>51.924217</real>
      <key>lng</key>
      <real>4.481776</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>15</integer>
      <key>name</key>
      <string><![CDATA[Zwolle]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>52.514221</real>
      <key>lng</key>
      <real>6.094387</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>16</integer>
      <key>name</key>
      <string><![CDATA[Amsterdam]]></string>
      <key>desc</key>
      <string><![CDATA[The Netherlands<br><a href="http://www.google.es/search?hl=en&amp;authuser=0&amp;q=amsterdam&amp;cd=1&amp;cad=src:ppiwlink&amp;ei=WZaQUtXIHoTg8QPLloH4CA&amp;sig2=ZwN_AZJHJ8Q6AnjvJSVsnw&amp;dtab=5" target="_blank"><img src="https://cbks0.google.com/cbk?output=thumbnail&amp;w=90&amp;h=68&amp;ll=52.370216,4.895168&amp;thumb=0"></a>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>52.370216</real>
      <key>lng</key>
      <real>4.895168</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>17</integer>
      <key>name</key>
      <string><![CDATA[Alkmaar-Mercado Queso Viernes]]></string>
      <key>desc</key>
      <string><![CDATA[The Netherlands<br><a href="http://www.google.es/search?hl=en&amp;authuser=0&amp;q=alkmaar+netherlands&amp;cd=1&amp;cad=src:ppiwlink&amp;ei=bZeQUq-HGIj68AOTvYD4Dg&amp;sig2=s715pUkWVlwlkH8SX_0IRQ&amp;dtab=5" target="_blank"><img src="https://cbks0.google.com/cbk?output=thumbnail&amp;w=90&amp;h=68&amp;ll=52.632381,4.753375&amp;thumb=0"></a>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/pink-dot.png]]></string>
      <key>lat</key>
      <real>52.632381</real>
      <key>lng</key>
      <real>4.753375</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>18</integer>
      <key>name</key>
      <string><![CDATA[Volendam]]></string>
      <key>desc</key>
      <string><![CDATA[The Netherlands<br><a href="http://www.google.es/search?hl=en&amp;authuser=0&amp;q=volendam+netherlands&amp;cd=1&amp;cad=src:ppiwlink&amp;ei=o5eQUtLvHYGJ8gPg-IHoDw&amp;sig2=Vbajowm-JVpIr8jPlavAHw&amp;dtab=5" target="_blank"><img src="https://cbks0.google.com/cbk?output=thumbnail&amp;w=90&amp;h=68&amp;ll=52.496869,5.072702&amp;thumb=0"></a>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>52.496868</real>
      <key>lng</key>
      <real>5.072702</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>19</integer>
      <key>name</key>
      <string><![CDATA[1156 Marken]]></string>
      <key>desc</key>
      <string><![CDATA[The Netherlands<br>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>52.458992</real>
      <key>lng</key>
      <real>5.103206</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>20</integer>
      <key>name</key>
      <string><![CDATA[1509 Zaanse Schans]]></string>
      <key>desc</key>
      <string><![CDATA[The Netherlands<br><a href="http://www.google.es/search?hl=en&amp;authuser=0&amp;q=zaanse+schans&amp;cd=1&amp;cad=src:ppiwlink&amp;ei=4JeQUsTIOYbs8APJlYDQBA&amp;sig2=TiYyCVKZAKXwn7F52JVsPQ&amp;dtab=5" target="_blank"><img src="https://cbks0.google.com/cbk?output=thumbnail&amp;w=90&amp;h=68&amp;ll=52.475036,4.818509&amp;thumb=0"></a>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>52.475037</real>
      <key>lng</key>
      <real>4.818509</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>21</integer>
      <key>name</key>
      <string><![CDATA[1135 Edam]]></string>
      <key>desc</key>
      <string><![CDATA[The Netherlands<br><a href="http://www.google.es/search?hl=en&amp;authuser=0&amp;q=edam+netherlands&amp;ie=UTF8&amp;cd=1&amp;cad=src:ppiwlink&amp;ei=IpiQUt3mH4GJ8gPg-IHoDw&amp;sig2=5v2_zvPoqJFRLpw7Djb7pA&amp;dtab=5" target="_blank"><img src="https://cbks0.google.com/cbk?output=thumbnail&amp;w=90&amp;h=68&amp;ll=52.512637,5.049182&amp;thumb=0"></a>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png]]></string>
      <key>lat</key>
      <real>52.512638</real>
      <key>lng</key>
      <real>5.049182</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>22</integer>
      <key>name</key>
      <string><![CDATA[De Efteling-P.Tematico]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/picnic.png]]></string>
      <key>lat</key>
      <real>51.648026</real>
      <key>lng</key>
      <real>5.043363</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>23</integer>
      <key>name</key>
      <string><![CDATA[Leiden]]></string>
      <key>desc</key>
      <string><![CDATA[The Netherlands<br><a href="http://www.google.es/search?hl=en&amp;authuser=0&amp;q=leiden+netherlands&amp;cd=1&amp;cad=src:ppiwlink&amp;ei=65mQUsC3D4ec8gOtjYDwCg&amp;sig2=lZHwWL7eH61JJNuto_IuHQ&amp;dtab=5" target="_blank"><img src="https://cbks0.google.com/cbk?output=thumbnail&amp;w=90&amp;h=68&amp;ll=52.158494,4.496199&amp;thumb=0"></a>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/purple-dot.png]]></string>
      <key>lat</key>
      <real>52.158493</real>
      <key>lng</key>
      <real>4.496199</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>24</integer>
      <key>name</key>
      <string><![CDATA[Madurodam-P.Tematico]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/picnic.png]]></string>
      <key>lat</key>
      <real>52.099365</real>
      <key>lng</key>
      <real>4.297639</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>25</integer>
      <key>name</key>
      <string><![CDATA[4351 Veere]]></string>
      <key>desc</key>
      <string><![CDATA[The Netherlands<br><a href="http://www.google.es/search?hl=en&amp;authuser=0&amp;q=veere+netherlands&amp;cd=1&amp;cad=src:ppiwlink&amp;ei=Q5uQUo2DA8Th8AOx1oCQBw&amp;sig2=PqLnTVf9UkQpDaN8GKrZ1g&amp;dtab=5" target="_blank"><img src="https://cbks0.google.com/cbk?output=thumbnail&amp;w=90&amp;h=68&amp;ll=51.548294,3.666006&amp;thumb=0"></a>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/yellow.png]]></string>
      <key>lat</key>
      <real>51.548294</real>
      <key>lng</key>
      <real>3.666006</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>26</integer>
      <key>name</key>
      <string><![CDATA[Hoorn]]></string>
      <key>desc</key>
      <string><![CDATA[The Netherlands<br><a href="http://www.google.es/search?hl=en&amp;authuser=0&amp;q=hoorn+netherlands&amp;cd=1&amp;cad=src:ppiwlink&amp;ei=2JuQUtPlNKObjAbi54DACQ&amp;sig2=BneBP01jkytXdfzJJ4aO0Q&amp;dtab=5" target="_blank"><img src="https://cbks0.google.com/cbk?output=thumbnail&amp;w=90&amp;h=68&amp;ll=52.642365,5.060212&amp;thumb=0"></a>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/yellow.png]]></string>
      <key>lat</key>
      <real>52.642365</real>
      <key>lng</key>
      <real>5.060212</real>
    </dict>
  </array>
  <key>tags</key>
  <array>
    <dict>
      <key>name</key>
      <string>tag_1</string>
      <key>poiIndexes</key>
      <array>
        <string>1</string>
        <string>2-4</string>
      </array>
    </dict>
  </array>
</dict>
</plist>
