<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>mapName</key>
  <string>PV_SitiosInteres</string>
  <key>pois</key>
  <array>
    <dict>
      <key>index</key>
      <integer>1</integer>
      <key>name</key>
      <string><![CDATA[@TT_CATEGORIES]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr">&lt;TTInfo&gt;<br>  &lt;TTAll/&gt;<br>  &lt;TTDefSel/&gt;<br>  &lt;TTSel name="PV_Casas" icon="Casa" reStyle="homegardenbusiness"/&gt;<br>  &lt;TTSel name="PV_Naturaleza" icon="Arbol" reStyle="tree"/&gt;<br>  &lt;TTSel name="PV_Trabajo" icon="Trabajo" reStyle="police"/&gt;<br>  &lt;TTSel name="PV_Privado" icon="Favorito_Rojo" reStyle="hospitals"/&gt;<br>  &lt;TTSel name="PV_Privado" icon="Favorito_Rojo" reStyle="mechanic"/&gt;<br>  &lt;TTSel name="PV_Interesantes" icon="Favorito" reStyle="flag"/&gt;<br>  &lt;TTSel name="PV_Interesantes" icon="Favorito" reStyle="movies"/&gt;<br>  &lt;TTSel name="PV_Restaurantes" icon="Restaurante" reStyle="restaurant"/&gt;<br>  &lt;TTSel name="PV_Interesantes" icon="Favorito" reStyle="shopping"/&gt;<br>&lt;/TTInfo&gt;</div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/earthquake.png]]></string>
      <key>lat</key>
      <real>41.149708</real>
      <key>lng</key>
      <real>-5.015259</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>2</integer>
      <key>name</key>
      <string><![CDATA[Alfredo]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/homegardenbusiness.png]]></string>
      <key>lat</key>
      <real>40.38311</real>
      <key>lng</key>
      <real>-3.6613</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>3</integer>
      <key>name</key>
      <string><![CDATA[Ana-Rafa]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/homegardenbusiness.png]]></string>
      <key>lat</key>
      <real>39.94804</real>
      <key>lng</key>
      <real>-4.8518</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>4</integer>
      <key>name</key>
      <string><![CDATA[Ant Zarzuela]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/homegardenbusiness.png]]></string>
      <key>lat</key>
      <real>40.425869</real>
      <key>lng</key>
      <real>-3.5473</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>5</integer>
      <key>name</key>
      <string><![CDATA[Carlos-Sonia]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/homegardenbusiness.png]]></string>
      <key>lat</key>
      <real>40.449379</real>
      <key>lng</key>
      <real>-3.77797</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>6</integer>
      <key>name</key>
      <string><![CDATA[Cañaveras]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/homegardenbusiness.png]]></string>
      <key>lat</key>
      <real>40.361462</real>
      <key>lng</key>
      <real>-2.39564</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>7</integer>
      <key>name</key>
      <string><![CDATA[Hoyo]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/homegardenbusiness.png]]></string>
      <key>lat</key>
      <real>40.500778</real>
      <key>lng</key>
      <real>-4.43422</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>8</integer>
      <key>name</key>
      <string><![CDATA[Isabel Zarzuela]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/homegardenbusiness.png]]></string>
      <key>lat</key>
      <real>40.449139</real>
      <key>lng</key>
      <real>-3.47257</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>9</integer>
      <key>name</key>
      <string><![CDATA[Las Ventas]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/homegardenbusiness.png]]></string>
      <key>lat</key>
      <real>40.008942</real>
      <key>lng</key>
      <real>-5.29372</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>10</integer>
      <key>name</key>
      <string><![CDATA[Felix-Lidia]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/homegardenbusiness.png]]></string>
      <key>lat</key>
      <real>40.315842</real>
      <key>lng</key>
      <real>-3.7829</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>11</integer>
      <key>name</key>
      <string><![CDATA[Millanes]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/homegardenbusiness.png]]></string>
      <key>lat</key>
      <real>39.850342</real>
      <key>lng</key>
      <real>-5.58038</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>12</integer>
      <key>name</key>
      <string><![CDATA[Padres Jose]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/homegardenbusiness.png]]></string>
      <key>lat</key>
      <real>40.400982</real>
      <key>lng</key>
      <real>-3.65201</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>13</integer>
      <key>name</key>
      <string><![CDATA[Pedro-Ana]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/homegardenbusiness.png]]></string>
      <key>lat</key>
      <real>40.363029</real>
      <key>lng</key>
      <real>-3.76555</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>14</integer>
      <key>name</key>
      <string><![CDATA[Victoria]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/homegardenbusiness.png]]></string>
      <key>lat</key>
      <real>40.405628</real>
      <key>lng</key>
      <real>-3.90026</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>15</integer>
      <key>name</key>
      <string><![CDATA[Parque del Capricho]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/tree.png]]></string>
      <key>lat</key>
      <real>40.454285</real>
      <key>lng</key>
      <real>-3.600557</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>16</integer>
      <key>name</key>
      <string><![CDATA[Albergue Cerezo de Abajo]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/tree.png]]></string>
      <key>lat</key>
      <real>41.216518</real>
      <key>lng</key>
      <real>-3.59333</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>17</integer>
      <key>name</key>
      <string><![CDATA[Camino - Navacerrada]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/tree.png]]></string>
      <key>lat</key>
      <real>40.7519</real>
      <key>lng</key>
      <real>-3.99323</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>18</integer>
      <key>name</key>
      <string><![CDATA[Camino en Lozoya]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/tree.png]]></string>
      <key>lat</key>
      <real>40.85323</real>
      <key>lng</key>
      <real>-3.886113</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>19</integer>
      <key>name</key>
      <string><![CDATA[Canencia-Abedular]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/tree.png]]></string>
      <key>lat</key>
      <real>40.875381</real>
      <key>lng</key>
      <real>-3.77629</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>20</integer>
      <key>name</key>
      <string><![CDATA[Canencia-Cascada]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/tree.png]]></string>
      <key>lat</key>
      <real>40.865219</real>
      <key>lng</key>
      <real>-3.78632</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>21</integer>
      <key>name</key>
      <string><![CDATA[La Pedriza]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/tree.png]]></string>
      <key>lat</key>
      <real>40.739899</real>
      <key>lng</key>
      <real>-3.88086</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>22</integer>
      <key>name</key>
      <string><![CDATA[Lagunas Arganda]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/tree.png]]></string>
      <key>lat</key>
      <real>40.325809</real>
      <key>lng</key>
      <real>-3.52157</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>23</integer>
      <key>name</key>
      <string><![CDATA[Lagunas Arganda 2]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/tree.png]]></string>
      <key>lat</key>
      <real>40.321453</real>
      <key>lng</key>
      <real>-3.511816</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>24</integer>
      <key>name</key>
      <string><![CDATA[Residencia Navacerrada]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/tree.png]]></string>
      <key>lat</key>
      <real>40.786903</real>
      <key>lng</key>
      <real>-4.002435</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>25</integer>
      <key>name</key>
      <string><![CDATA[Rio Cañamares]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/tree.png]]></string>
      <key>lat</key>
      <real>40.466309</real>
      <key>lng</key>
      <real>-2.22459</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>26</integer>
      <key>name</key>
      <string><![CDATA[Meson O'Carro]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/restaurant.png]]></string>
      <key>lat</key>
      <real>40.40667</real>
      <key>lng</key>
      <real>-3.88338</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>27</integer>
      <key>name</key>
      <string><![CDATA[De Brasa y Puchero]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/restaurant.png]]></string>
      <key>lat</key>
      <real>40.410198</real>
      <key>lng</key>
      <real>-3.88106</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>28</integer>
      <key>name</key>
      <string><![CDATA[Morenica del Bierzo]]></string>
      <key>desc</key>
      <string><![CDATA[<div dir="ltr"></div>]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/restaurant.png]]></string>
      <key>lat</key>
      <real>40.405643</real>
      <key>lng</key>
      <real>-3.887876</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>29</integer>
      <key>name</key>
      <string><![CDATA[Foster's Hollywood Boadilla]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/restaurant.png]]></string>
      <key>lat</key>
      <real>40.404369</real>
      <key>lng</key>
      <real>-3.89649</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>30</integer>
      <key>name</key>
      <string><![CDATA[Gaztelubide]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/restaurant.png]]></string>
      <key>lat</key>
      <real>40.508282</real>
      <key>lng</key>
      <real>-3.91544</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>31</integer>
      <key>name</key>
      <string><![CDATA[El Raco - Navacerrada]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/restaurant.png]]></string>
      <key>lat</key>
      <real>40.728691</real>
      <key>lng</key>
      <real>-4.016222</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>32</integer>
      <key>name</key>
      <string><![CDATA[Mosaic]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/restaurant.png]]></string>
      <key>lat</key>
      <real>40.430679</real>
      <key>lng</key>
      <real>-3.69423</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>33</integer>
      <key>name</key>
      <string><![CDATA[Alcocer - Casa Goyo]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/restaurant.png]]></string>
      <key>lat</key>
      <real>40.469872</real>
      <key>lng</key>
      <real>-2.61092</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>34</integer>
      <key>name</key>
      <string><![CDATA[Alternate]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/shopping.png]]></string>
      <key>lat</key>
      <real>40.555038</real>
      <key>lng</key>
      <real>-3.61083</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>35</integer>
      <key>name</key>
      <string><![CDATA[Decathlon-A3]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/shopping.png]]></string>
      <key>lat</key>
      <real>40.335388</real>
      <key>lng</key>
      <real>-3.53018</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>36</integer>
      <key>name</key>
      <string><![CDATA[Decathlon-Carralero]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/shopping.png]]></string>
      <key>lat</key>
      <real>40.45451</real>
      <key>lng</key>
      <real>-3.87268</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>37</integer>
      <key>name</key>
      <string><![CDATA[Las Rozas Village]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/shopping.png]]></string>
      <key>lat</key>
      <real>40.51701</real>
      <key>lng</key>
      <real>-3.90184</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>38</integer>
      <key>name</key>
      <string><![CDATA[Moraleja Green]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/shopping.png]]></string>
      <key>lat</key>
      <real>40.519791</real>
      <key>lng</key>
      <real>-3.65714</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>39</integer>
      <key>name</key>
      <string><![CDATA[Nassica]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/shopping.png]]></string>
      <key>lat</key>
      <real>40.27095</real>
      <key>lng</key>
      <real>-3.69935</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>40</integer>
      <key>name</key>
      <string><![CDATA[Plenilunio]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/shopping.png]]></string>
      <key>lat</key>
      <real>40.44862</real>
      <key>lng</key>
      <real>-3.58745</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>41</integer>
      <key>name</key>
      <string><![CDATA[SalidaSanChinarro]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/shopping.png]]></string>
      <key>lat</key>
      <real>40.482498</real>
      <key>lng</key>
      <real>-3.64939</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>42</integer>
      <key>name</key>
      <string><![CDATA[Saneamientos Pereda]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/shopping.png]]></string>
      <key>lat</key>
      <real>40.323669</real>
      <key>lng</key>
      <real>-3.75638</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>43</integer>
      <key>name</key>
      <string><![CDATA[Tres aguas]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/shopping.png]]></string>
      <key>lat</key>
      <real>40.35743</real>
      <key>lng</key>
      <real>-3.83185</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>44</integer>
      <key>name</key>
      <string><![CDATA[Argan y Dragon]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/flag.png]]></string>
      <key>lat</key>
      <real>40.31319</real>
      <key>lng</key>
      <real>-3.47312</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>45</integer>
      <key>name</key>
      <string><![CDATA[Micropolix]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/flag.png]]></string>
      <key>lat</key>
      <real>40.56694</real>
      <key>lng</key>
      <real>-3.6086</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>46</integer>
      <key>name</key>
      <string><![CDATA[Parque Europa]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/flag.png]]></string>
      <key>lat</key>
      <real>40.4464</real>
      <key>lng</key>
      <real>-3.45175</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>47</integer>
      <key>name</key>
      <string><![CDATA[Spa Aquae]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/flag.png]]></string>
      <key>lat</key>
      <real>40.658649</real>
      <key>lng</key>
      <real>-3.75986</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>48</integer>
      <key>name</key>
      <string><![CDATA[Averroes]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/hospitals.png]]></string>
      <key>lat</key>
      <real>40.466808</real>
      <key>lng</key>
      <real>-3.87612</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>49</integer>
      <key>name</key>
      <string><![CDATA[Cabeza Ferrer]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/hospitals.png]]></string>
      <key>lat</key>
      <real>40.474911</real>
      <key>lng</key>
      <real>-3.86397</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>50</integer>
      <key>name</key>
      <string><![CDATA[Clinica Salud 2001]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/hospitals.png]]></string>
      <key>lat</key>
      <real>40.47541</real>
      <key>lng</key>
      <real>-3.87524</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>51</integer>
      <key>name</key>
      <string><![CDATA[Dentista - Graci]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/hospitals.png]]></string>
      <key>lat</key>
      <real>40.45874</real>
      <key>lng</key>
      <real>-3.66004</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>52</integer>
      <key>name</key>
      <string><![CDATA[H. Monteprincipe]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/hospitals.png]]></string>
      <key>lat</key>
      <real>40.416401</real>
      <key>lng</key>
      <real>-3.84119</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>53</integer>
      <key>name</key>
      <string><![CDATA[Nissan Iberauto A6]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/mechanic.png]]></string>
      <key>lat</key>
      <real>40.465099</real>
      <key>lng</key>
      <real>-3.80117</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>54</integer>
      <key>name</key>
      <string><![CDATA[Nissan Santogal Coslada]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/mechanic.png]]></string>
      <key>lat</key>
      <real>40.43713</real>
      <key>lng</key>
      <real>-3.54286</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>55</integer>
      <key>name</key>
      <string><![CDATA[ITV Coslada]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/mechanic.png]]></string>
      <key>lat</key>
      <real>40.438286</real>
      <key>lng</key>
      <real>-3.532219</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>56</integer>
      <key>name</key>
      <string><![CDATA[Cinebora]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/movies.png]]></string>
      <key>lat</key>
      <real>39.967331</real>
      <key>lng</key>
      <real>-4.81198</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>57</integer>
      <key>name</key>
      <string><![CDATA[Kinepolis]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/movies.png]]></string>
      <key>lat</key>
      <real>40.39452</real>
      <key>lng</key>
      <real>-3.79709</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>58</integer>
      <key>name</key>
      <string><![CDATA[Planetario]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/movies.png]]></string>
      <key>lat</key>
      <real>40.393768</real>
      <key>lng</key>
      <real>-3.68272</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>59</integer>
      <key>name</key>
      <string><![CDATA[Isban-Monteprincipe]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/police.png]]></string>
      <key>lat</key>
      <real>40.395279</real>
      <key>lng</key>
      <real>-3.84148</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>60</integer>
      <key>name</key>
      <string><![CDATA[Isban-Monteprincipe-Atras]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/police.png]]></string>
      <key>lat</key>
      <real>40.39613</real>
      <key>lng</key>
      <real>-3.84275</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>61</integer>
      <key>name</key>
      <string><![CDATA[Isban-Boadilla]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/police.png]]></string>
      <key>lat</key>
      <real>40.395744</real>
      <key>lng</key>
      <real>-3.869875</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>62</integer>
      <key>name</key>
      <string><![CDATA[Isban-Boadilla-Acceso-C]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/police.png]]></string>
      <key>lat</key>
      <real>40.393162</real>
      <key>lng</key>
      <real>-3.87872</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>63</integer>
      <key>name</key>
      <string><![CDATA[Isban-Boadilla-Sal-M50]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/police.png]]></string>
      <key>lat</key>
      <real>40.490139</real>
      <key>lng</key>
      <real>-3.87499</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>64</integer>
      <key>name</key>
      <string><![CDATA[Isban-Fuencarral]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/police.png]]></string>
      <key>lat</key>
      <real>40.511551</real>
      <key>lng</key>
      <real>-3.67531</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>65</integer>
      <key>name</key>
      <string><![CDATA[Produban-Finca]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/intl/es_es/mapfiles/ms/micons/police.png]]></string>
      <key>lat</key>
      <real>40.420448</real>
      <key>lng</key>
      <real>-3.80387</real>
    </dict>
    <dict>
      <key>index</key>
      <integer>66</integer>
      <key>name</key>
      <string><![CDATA[PK T4]]></string>
      <key>desc</key>
      <string><![CDATA[]]></string>
      <key>icon</key>
      <string><![CDATA[http://maps.gstatic.com/mapfiles/ms2/micons/parkinglot.png]]></string>
      <key>lat</key>
      <real>40.480629</real>
      <key>lng</key>
      <real>-3.59393</real>
    </dict>
  </array>
  <key>tags</key>
  <array>
    <dict>
      <key>name</key>
      <string>tag_1</string>
      <key>poiIndexes</key>
      <array>
        <string>1</string>
        <string>2-4</string>
      </array>
    </dict>
  </array>
</dict>
</plist>
