<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appInfoList</key>
	<array>
		<dict>
			<key>name</key>
			<string>Apple Maps</string>
			<key>icon</key>
			<string>openInAppleMaps</string>
			<key>url</key>
			<string>Apple Maps</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Google Maps</string>
			<key>icon</key>
			<string>openInGoogleMaps</string>
			<key>url</key>
			<string>comgooglemaps://?q={name}@{lat},{lng}&amp;z=18</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tomtom</string>
			<key>icon</key>
			<string>openInTomtom</string>
			<key>url</key>
			<string>tomtomhome:geo:lat={lat}&amp;long={lng}</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tomtom Iberia</string>
			<key>icon</key>
			<string>openInTomtom</string>
			<key>url</key>
			<string>com.tomtom.Iberia:geo:lat={lat}&amp;long={lng}</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tomtom Europe</string>
			<key>icon</key>
			<string>openInTomtom</string>
			<key>url</key>
			<string>com.tomtom.Europe:geo:lat={lat}&amp;long={lng}</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tomtom North America</string>
			<key>icon</key>
			<string>openInTomtom</string>
			<key>url</key>
			<string>com.tomtom.NorthAmerica:geo:lat={lat}&amp;long={lng}</string>
		</dict>
	</array>
</dict>
</plist>
