<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist private "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>0=measle-red</string>
	<string>1=measle-blue</string>
	<string>2=measle-yellow</string>
	<string>3=measle-green</string>
	<string>4=measle-brown</string>
	<string>5=measle-grey</string>
	<string>6=measle-purple</string>
	<string>7=measle-turquoise</string>
	<string>8=measle-red</string>
	<string>9=measle-green</string>
	<string>10=measle-blue</string>
	<string>11=measle-white</string>
	<string>12=bloodcell-small</string>
	<string>13=bloodcell-medium</string>
	<string>14=bloodcell-large</string>
	<string>15=measle-orange</string>
	<string>16=POI</string>
	<string>18=arts</string>
	<string>20=bar</string>
	<string>22=blue-dot</string>
	<string>24=blue</string>
	<string>25=bus</string>
	<string>27=cabs</string>
	<string>29=campfire</string>
	<string>31=campground</string>
	<string>33=caution</string>
	<string>35=coffeehouse</string>
	<string>37=convienancestore</string>
	<string>39=cycling</string>
	<string>41=dollar</string>
	<string>43=drinking_water</string>
	<string>45=earthquake</string>
	<string>47=electronics</string>
	<string>49=ferry</string>
	<string>51=firedept</string>
	<string>53=fishing</string>
	<string>55=flag</string>
	<string>57=gas</string>
	<string>59=golfer</string>
	<string>61=green-dot</string>
	<string>62=green</string>
	<string>63=groecerystore</string>
	<string>65=helicopter</string>
	<string>67=hiker</string>
	<string>69=homegardenbusiness</string>
	<string>71=horsebackriding</string>
	<string>73=hospitals</string>
	<string>75=hotsprings</string>
	<string>77=info</string>
	<string>79=landmarks-jp</string>
	<string>81=lodging</string>
	<string>83=marina</string>
	<string>85=mechanic</string>
	<string>87=motorcycling</string>
	<string>89=movies</string>
	<string>91=orange-dot</string>
	<string>92=orange</string>
	<string>93=parkinglot</string>
	<string>95=pharmacy-us</string>
	<string>97=phone</string>
	<string>99=picnic</string>
	<string>101=pink-dot</string>
	<string>102=pink</string>
	<string>103=plane</string>
	<string>105=police</string>
	<string>107=postoffice-jp</string>
	<string>109=postoffice-us</string>
	<string>111=purple-dot</string>
	<string>112=purple</string>
	<string>113=question</string>
	<string>115=rail</string>
	<string>117=rangerstation</string>
	<string>119=realestate</string>
	<string>121=recycle</string>
	<string>123=red-dot</string>
	<string>124=red</string>
	<string>125=restaurant</string>
	<string>127=sailing</string>
	<string>129=salon</string>
	<string>131=shopping</string>
	<string>133=snack_bar</string>
	<string>135=snowflake_simple</string>
	<string>137=sportvenue</string>
	<string>139=swimming</string>
	<string>141=toilets</string>
	<string>143=trail</string>
	<string>145=tree</string>
	<string>147=truck</string>
	<string>149=water</string>
	<string>151=waterfalls</string>
	<string>153=webcam</string>
	<string>155=wheel_chair_accessible</string>
	<string>157=yellow-dot</string>
	<string>158=yellow</string>
	<string>159=blue-pushpin</string>
	<string>161=grn-pushpin</string>
	<string>163=lightblue</string>
	<string>164=ltblu-pushpin</string>
	<string>165=pink-pushpin</string>
	<string>166=purple-pushpin</string>
	<string>167=red-pushpin</string>
	<string>168=ylw-pushpin</string>
	<string>169=ltblue-dot</string>
	<string>170=grocerystore</string>
	<string>172=grey</string>
	<string>175=grey_arrow</string>
	<string>177=camera</string>
	<string>179=fallingrocks</string>
	<string>181=info_circle</string>
	<string>183=man</string>
	<string>185=partly_cloudy</string>
	<string>187=rainy</string>
	<string>189=ski</string>
	<string>191=subway</string>
	<string>193=sunny</string>
	<string>195=tram</string>
	<string>197=volcano</string>
	<string>199=woman</string>
	<string>201=euro</string>
	<string>203=yen</string>
	<string>205=airports_maps</string>
	<string>207=arena_maps</string>
	<string>209=arrow-reverse_maps</string>
	<string>211=bars_maps</string>
	<string>213=binoculars_maps</string>
	<string>215=boat_launch_maps</string>
	<string>217=broken_link_maps</string>
	<string>219=buildings_maps</string>
	<string>221=canoeing_maps</string>
	<string>223=capital_big_highlight_maps</string>
	<string>225=capital_big_maps</string>
	<string>227=capital_small_highlight_maps</string>
	<string>229=capital_small_maps</string>
	<string>231=car_ferry_maps</string>
	<string>233=cemetary_jp_maps</string>
	<string>235=cemetary_maps</string>
	<string>237=church_maps</string>
	<string>239=coffee_maps</string>
	<string>241=convenience_maps</string>
	<string>243=cross-hairs_highlight_maps</string>
	<string>245=cross-hairs_maps</string>
	<string>247=crosscountry_ski_maps</string>
	<string>249=dining_maps</string>
	<string>251=donut_maps</string>
	<string>253=falling_rocks_maps</string>
	<string>255=forbidden_maps</string>
	<string>257=funicular_maps</string>
	<string>259=gas_stations_maps</string>
	<string>261=geographic_features_maps</string>
	<string>263=golf_maps</string>
	<string>265=gondola_maps</string>
	<string>267=govtbldgs_maps</string>
	<string>269=grocery_maps</string>
	<string>271=heliport_maps</string>
	<string>273=highway_maps</string>
	<string>275=hindu_temple_maps</string>
	<string>277=info-i_maps</string>
	<string>279=landmark_maps</string>
	<string>281=library_maps</string>
	<string>283=lighthouse_maps</string>
	<string>285=mosque_maps</string>
	<string>287=mountains_maps</string>
	<string>289=museum_maps</string>
	<string>291=open-diamond_maps</string>
	<string>293=parking_lot_maps</string>
	<string>295=parks_maps</string>
	<string>297=pharmacy_plus_maps</string>
	<string>299=pharmacy_rx_maps</string>
	<string>300=red-minipin</string>
	<string>302=placemark_circle_highlight_maps</string>
	<string>304=placemark_circle_maps</string>
	<string>306=placemark_square_highlight_maps</string>
	<string>308=placemark_square_maps</string>
	<string>310=red-minipin-narrow</string>
	<string>311=play_maps</string>
	<string>313=poi_maps</string>
	<string>315=police_badge_maps</string>
	<string>317=polygon_maps</string>
	<string>319=post_office_jp_maps</string>
	<string>321=post_office_maps</string>
	<string>323=prayer_maps</string>
	<string>325=ranger_station_maps</string>
	<string>327=ranger_tower_maps</string>
	<string>329=rec_bus_maps</string>
	<string>331=rec_convenience_maps</string>
	<string>333=rec_dining_maps</string>
	<string>335=rec_gas_stations_maps</string>
	<string>337=rec_info_circle_maps</string>
	<string>339=rec_lodging_maps</string>
	<string>341=rec_parking_lot_maps</string>
	<string>343=rec_phone_maps</string>
	<string>345=rec_wheel_chair_accessible_maps</string>
	<string>347=road_shield1_maps</string>
	<string>349=road_shield2_maps</string>
	<string>351=road_shield3_maps</string>
	<string>353=ruler_maps</string>
	<string>355=schools_maps</string>
	<string>357=sea_ports_maps</string>
	<string>359=shower_maps</string>
	<string>361=shrine_jp_maps</string>
	<string>363=ski_lift_maps</string>
	<string>365=sledding_maps</string>
	<string>367=square_maps</string>
	<string>369=stable_maps</string>
	<string>371=star_maps</string>
	<string>373=synagogue_maps</string>
	<string>375=target_maps</string>
	<string>377=temple_jp_maps</string>
	<string>379=terrain_maps</string>
	<string>381=thunderstorm_maps</string>
	<string>383=triangle_maps</string>
	<string>385=traffic_maps</string>
	<string>387=traffic_maps_list</string>
	<string>389=agriculture_maps</string>
	<string>390=factory_maps</string>
	<string>391=shaded_dot_maps</string>
	<string>392=route</string>
	<string>393=10_blue_maps</string>
	<string>394=10_maps</string>
	<string>395=1_blue_maps</string>
	<string>396=1_maps</string>
	<string>397=2_blue_maps</string>
	<string>398=2_maps</string>
	<string>399=3_blue_maps</string>
	<string>400=3_maps</string>
	<string>401=4_blue_maps</string>
	<string>402=4_maps</string>
	<string>403=5_blue_maps</string>
	<string>404=5_maps</string>
	<string>405=6_blue_maps</string>
	<string>406=6_maps</string>
	<string>407=7_blue_maps</string>
	<string>408=7_maps</string>
	<string>409=8_blue_maps</string>
	<string>410=8_maps</string>
	<string>411=9_blue_maps</string>
	<string>412=9_maps</string>
	<string>413=A_blue_maps</string>
	<string>414=A_maps</string>
	<string>415=B_blue_maps</string>
	<string>416=B_maps</string>
	<string>417=C_blue_maps</string>
	<string>418=C_maps</string>
	<string>419=D_blue_maps</string>
	<string>420=D_maps</string>
	<string>421=E_blue_maps</string>
	<string>422=E_maps</string>
	<string>423=F_blue_maps</string>
	<string>424=F_maps</string>
	<string>425=G_blue_maps</string>
	<string>426=G_maps</string>
	<string>427=H_blue_maps</string>
	<string>428=H_maps</string>
	<string>429=I_blue_maps</string>
	<string>430=I_maps</string>
	<string>431=J_blue_maps</string>
	<string>432=J_maps</string>
	<string>433=K_blue_maps</string>
	<string>434=K_maps</string>
	<string>435=L_blue_maps</string>
	<string>436=L_maps</string>
	<string>437=M_blue_maps</string>
	<string>438=M_maps</string>
	<string>439=N_blue_maps</string>
	<string>440=N_maps</string>
	<string>441=O_blue_maps</string>
	<string>442=O_maps</string>
	<string>443=P_blue_maps</string>
	<string>444=P_maps</string>
	<string>445=Q_blue_maps</string>
	<string>446=Q_maps</string>
	<string>447=R_blue_maps</string>
	<string>448=R_maps</string>
	<string>449=S_blue_maps</string>
	<string>450=S_maps</string>
	<string>451=T_blue_maps</string>
	<string>452=T_maps</string>
	<string>453=U_blue_maps</string>
	<string>454=U_maps</string>
	<string>455=V_blue_maps</string>
	<string>456=V_maps</string>
	<string>457=W_blue_maps</string>
	<string>458=W_maps</string>
	<string>459=X_blue_maps</string>
	<string>460=X_maps</string>
	<string>461=Y_blue_maps</string>
	<string>462=Y_maps</string>
	<string>463=Z_blue_maps</string>
	<string>464=Z_maps</string>
	<string>465=blu-blank_maps</string>
	<string>466=blu-circle_maps</string>
	<string>467=blu-diamond_maps</string>
	<string>468=blu-square_maps</string>
	<string>469=blu-stars_maps</string>
	<string>470=go_maps</string>
	<string>471=grn-blank_maps</string>
	<string>472=grn-circle_maps</string>
	<string>473=grn-diamond_maps</string>
	<string>474=grn-square_maps</string>
	<string>475=grn-stars_maps</string>
	<string>476=ltblu-blank_maps</string>
	<string>477=ltblu-circle_maps</string>
	<string>478=ltblu-diamond_maps</string>
	<string>479=ltblu-square_maps</string>
	<string>480=ltblu-stars_maps</string>
	<string>481=orange-blank_maps</string>
	<string>482=orange-circle_maps</string>
	<string>483=orange-diamond_maps</string>
	<string>484=orange-square_maps</string>
	<string>485=orange-stars_maps</string>
	<string>486=pause_maps</string>
	<string>487=pink-blank_maps</string>
	<string>488=pink-circle_maps</string>
	<string>489=pink-diamond_maps</string>
	<string>490=pink-square_maps</string>
	<string>491=pink-stars_maps</string>
	<string>492=purple-blank_maps</string>
	<string>493=purple-circle_maps</string>
	<string>494=purple-diamond_maps</string>
	<string>495=purple-square_maps</string>
	<string>496=purple-stars_maps</string>
	<string>497=red-blank_maps</string>
	<string>498=red-circle_maps</string>
	<string>499=red-diamond_maps</string>
	<string>500=red-square_maps</string>
	<string>501=red-stars_maps</string>
	<string>502=stop_maps</string>
	<string>504=wht-circle_maps</string>
	<string>505=wht-diamond_maps</string>
	<string>506=wht-square_maps</string>
	<string>507=wht-stars_maps</string>
	<string>508=ylw-blank_maps</string>
	<string>509=ylw-circle_maps</string>
	<string>510=ylw-diamond_maps</string>
	<string>511=ylw-square_maps</string>
	<string>512=ylw-stars_maps</string>
	<string>513=unnamed-lv</string>
	<string>514=wht-pushpin_maps</string>
	<string>515=transparent</string>
	<string>516=transparent</string>
	<string>517=transparent</string>
	<string>518=transparent</string>
	<string>519=wikipedia_small</string>
	<string>520=wikipedia</string>
	<string>521=youtube-small-icon-mask</string>
	<string>523=youtube-small10-icon-mask</string>
	<string>530=streetview-photo</string>
	<string>531=streetview-photo-5px</string>
	<string>532=streetview-photo-6px</string>
	<string>533=streetview-photo-7px</string>
	<string>534=streetview-photo-8px</string>
	<string>535=streetview-photo-9px</string>
	<string>552=star-on-map-15px</string>
	<string>553=star-on-map-12px</string>
	<string>554=star-on-map-08px</string>
	<string>590=1</string>
	<string>591=2</string>
	<string>592=3</string>
	<string>593=5</string>
	<string>594=7</string>
	<string>595=9</string>
	<string>596=10</string>
	<string>600=dollar-12</string>
	<string>601=bar-12</string>
	<string>602=tourist_destination-12</string>
	<string>603=cafe-12</string>
	<string>604=restaurant-12</string>
	<string>605=snack-12</string>
	<string>606=fire-12</string>
	<string>607=petrol-12</string>
	<string>608=shoppingcart-12</string>
	<string>609=medical-12</string>
	<string>610=rest_area-12</string>
	<string>611=parking-12</string>
	<string>612=cinema-12</string>
	<string>613=legal-12</string>
	<string>614=school-12</string>
	<string>619=volcano_small</string>
	<string>621=discovery_small</string>
	<string>623=esa_small</string>
	<string>625=nasa_small</string>
	<string>627=natgeo_small</string>
	<string>629=webcam_small</string>
	<string>634=white-bloodcell-small</string>
	<string>635=white-bloodcell-medium</string>
	<string>636=white-bloodcell-large</string>
	<string>637=earthquakes-earthquakes</string>
	<string>639=ngm-sights_and_sounds-ss_n</string>
	<string>641=ngm-africa_megaflyover-flyover_n</string>
	<string>643=disney-magic_kingdom-MK-icon</string>
	<string>645=disney-magic_kingdom-MK_no_logo</string>
	<string>647=disney-epcot-EPCOT-icon</string>
	<string>649=disney-epcot-EPCOT_no_logo</string>
	<string>651=disney-hollywood_studios-DHS-icon</string>
	<string>653=disney-hollywood_studios-DHS_no_logo</string>
	<string>655=disney-animal_kingdom-DAK-icon</string>
	<string>657=disney-animal_kingdom-DAK_no_logo</string>
	<string>659=disney-resorts-RESORTS-icon</string>
	<string>661=disney-resorts-RESORTS_no_logo</string>
	<string>663=disney-wide-world-of-sports-wws_icon_menu</string>
	<string>665=disney-wide-world-of-sports-wws_icon_normal</string>
	<string>667=disney-mickey-icon_mmp</string>
	<string>669=disney-studios-icon_wds</string>
	<string>671=disney-park-icon_dlp</string>
	<string>673=disney-hotel-icon_hotels</string>
	<string>675=trimble-TripPoints</string>
	<string>677=everytrail-trips3</string>
	<string>679=nzt-destinations-fern_white_n</string>
	<string>681=nzt-scenic_highlights-nzl_scenichighlight_n</string>
	<string>683=nzt-visitor_centers-nzl_visitorcenter_n</string>
	<string>685=jnto-pin</string>
	<string>687=kyoto_tourism-maiko_logo</string>
	<string>689=south_africa_tourism-highlights-highlights</string>
	<string>691=south_africa_tourism-adventure-adventure</string>
	<string>693=south_africa_tourism-world_cup-soccer</string>
	<string>695=south_africa_tourism-routes-routes</string>
	<string>697=south_africa_tourism-nature-nature</string>
	<string>699=south_africa_tourism-safari-safari</string>
	<string>701=south_africa_tourism-heritage-culture</string>
	<string>703=south_africa_tourism-urban_vibes-urban</string>
	<string>705=geode-GoogleEarthIcon_Schatten_eckig</string>
	<string>707=bosatlas-places-ba_place</string>
	<string>709=bosatlas-mapfinder-ba_place_over</string>
	<string>711=klokhuis-icoon</string>
	<string>713=tbs-heritage_logo1</string>
	<string>715=rumsey-compassorig2</string>
	<string>717=egypt_tourism-heritage-picto_culture</string>
	<string>719=egypt_tourism-nile_cruises-picto_cruises</string>
	<string>721=egypt_tourism-seaside-picto_balneaire</string>
	<string>723=appvoices-SmallMemorialIcon</string>
	<string>725=appvoices-amem_target_marker_48px</string>
	<string>727=appvoices-hard_hat_yellow_48shadow</string>
	<string>729=arkive-earthLogo4</string>
	<string>731=earthwatch-earthwatch_icon</string>
	<string>733=fairtrade-transfair_cocoa</string>
	<string>735=fairtrade-transfair_coffee</string>
	<string>737=fairtrade-transfair_fruit</string>
	<string>739=fairtrade-transfair_rice</string>
	<string>741=fairtrade-transfair_tea</string>
	<string>743=global_heritage_fund-ghf_icon</string>
	<string>745=jane_goodall-binoculars</string>
	<string>747=jane_goodall-jgi_chimp1</string>
	<string>749=unmdg-mdg_icon</string>
	<string>751=wateraid-droplet</string>
	<string>753=wwf-icon_panda</string>
	<string>755=greenpeace-gpicon</string>
	<string>757=witness-placemark</string>
	<string>759=elders-ehhr</string>
	<string>761=dsfa-porthole</string>
	<string>763=ngs-ngs</string>
	<string>765=bbc-leicon</string>
	<string>767=cous-cousteau32</string>
	<string>769=wsf-wannasurf_gps_exact</string>
	<string>771=wdv-wannadive_gps_exact</string>
	<string>773=wkt-wannakite_gps_exact</string>
	<string>775=swc-swc</string>
	<string>777=swc-swc_v</string>
	<string>779=exp-ship</string>
	<string>781=exp-shipglow</string>
	<string>783=mpa-mpas_t</string>
	<string>785=ocean_obs-buoy</string>
	<string>787=sst-sst</string>
	<string>789=nsidc-nsidc</string>
	<string>791=him-nceas</string>
	<string>793=dead-dead</string>
	<string>795=mbaq-icon</string>
	<string>797=mcs-mcs_logo</string>
	<string>799=coml-marker_icon_no_label_v1_ge</string>
	<string>801=tharp-tharp</string>
	<string>803=t4a_activities</string>
	<string>805=t4a_attractions</string>
	<string>807=t4a_entertainment</string>
	<string>809=t4a_fooddrink</string>
	<string>811=t4a_lodging</string>
	<string>813=t4a_places</string>
	<string>815=t4a_road_markers</string>
	<string>817=t4a_services</string>
	<string>819=wikiloc</string>
	<string>821=adventure</string>
	<string>823=culture</string>
	<string>825=highlights</string>
	<string>827=nature</string>
	<string>829=routes</string>
	<string>831=safari</string>
	<string>833=soccer</string>
	<string>835=urban</string>
	<string>900=buzz-bubble</string>
	<string>901=buzz-photo-bubble</string>
	<string>902=buzz-bubble-small</string>
	<string>903=buzz-photo-bubble-small</string>
	<string>950=soprano_unsupported-model</string>
	<string>951=soprano_unsupported-photo_overlay</string>
	<string>952=soprano_unsupported-tour</string>
	<string>953=soccerball-16</string>
	<string>954=soccerball-14</string>
	<string>955=soccerball-18</string>
	<string>956=soccerball-26</string>
	<string>957=measle-kennedy</string>
	<string>958=measle-kennedy-large</string>
	<string>963=biz-adult</string>
	<string>965=biz-animal</string>
	<string>967=biz-atm</string>
	<string>969=biz-baby</string>
	<string>971=biz-bank-dollar</string>
	<string>973=biz-bank-euro</string>
	<string>975=biz-bank-pound</string>
	<string>977=biz-bank-yen</string>
	<string>979=biz-bar</string>
	<string>981=biz-barber</string>
	<string>983=biz-bicycle</string>
	<string>985=biz-book</string>
	<string>987=biz-business-generic</string>
	<string>989=biz-butcher</string>
	<string>991=biz-cafe</string>
	<string>993=biz-camera</string>
	<string>995=biz-car-dealer</string>
	<string>997=biz-car-rental</string>
	<string>999=biz-car-repair</string>
	<string>1001=biz-cinema</string>
	<string>1003=biz-clothing</string>
	<string>1005=biz-convenience</string>
	<string>1007=biz-currency-exchange</string>
	<string>1009=biz-dating</string>
	<string>1011=biz-dentist</string>
	<string>1013=biz-doctor</string>
	<string>1015=biz-dormitory</string>
	<string>1017=biz-electrical</string>
	<string>1019=biz-finance</string>
	<string>1021=biz-flower</string>
	<string>1023=biz-food</string>
	<string>1025=biz-gaming</string>
	<string>1027=biz-gas</string>
	<string>1029=biz-gifts</string>
	<string>1031=biz-gym</string>
	<string>1033=biz-hardware</string>
	<string>1035=biz-hotel</string>
	<string>1037=biz-house</string>
	<string>1039=biz-internet</string>
	<string>1041=biz-jewelry</string>
	<string>1043=biz-karaoke</string>
	<string>1045=biz-laundry</string>
	<string>1047=biz-medical</string>
	<string>1049=biz-motorcycle</string>
	<string>1051=biz-music-hall</string>
	<string>1053=biz-music</string>
	<string>1055=biz-news</string>
	<string>1057=biz-optometrist</string>
	<string>1059=biz-outdoor</string>
	<string>1061=biz-pharmacy</string>
	<string>1063=biz-phone-mobile</string>
	<string>1065=biz-phone</string>
	<string>1067=biz-plumber</string>
	<string>1069=biz-post-office</string>
	<string>1071=biz-pub</string>
	<string>1073=biz-real-estate</string>
	<string>1075=biz-restaurant-asian</string>
	<string>1077=biz-restaurant-burger</string>
	<string>1079=biz-restaurant-chicken</string>
	<string>1081=biz-restaurant-fastfood</string>
	<string>1083=biz-restaurant-fish</string>
	<string>1085=biz-restaurant-generic</string>
	<string>1087=biz-restaurant-icecream</string>
	<string>1089=biz-restaurant-pizza</string>
	<string>1091=biz-restaurant-steak</string>
	<string>1093=biz-shoes</string>
	<string>1095=biz-shopping</string>
	<string>1097=biz-social</string>
	<string>1099=biz-sport</string>
	<string>1101=biz-supermarket</string>
	<string>1103=biz-taxi</string>
	<string>1105=biz-tea</string>
	<string>1107=biz-theater</string>
	<string>1109=biz-tickets</string>
	<string>1111=biz-travel</string>
	<string>1113=biz-tv</string>
	<string>1115=biz-video</string>
	<string>1117=biz-yoga</string>
	<string>1119=crisis-air-quality</string>
	<string>1121=crisis-animal</string>
	<string>1123=crisis-biohazard</string>
	<string>1125=crisis-caution</string>
	<string>1127=crisis-chemical</string>
	<string>1129=crisis-civil</string>
	<string>1131=crisis-crime</string>
	<string>1133=crisis-cyclone-strong</string>
	<string>1135=crisis-cyclone-weak</string>
	<string>1137=crisis-death</string>
	<string>1139=crisis-earthquake</string>
	<string>1141=crisis-electrical</string>
	<string>1143=crisis-epicenter</string>
	<string>1145=crisis-explosion</string>
	<string>1147=crisis-fire</string>
	<string>1149=crisis-flood</string>
	<string>1151=crisis-hurricane-strong</string>
	<string>1153=crisis-hurricane-weak</string>
	<string>1155=crisis-infestation-monsters</string>
	<string>1157=crisis-infestation-rodents</string>
	<string>1159=crisis-infestation-tropical</string>
	<string>1161=crisis-landslide</string>
	<string>1163=crisis-missing-person</string>
	<string>1165=crisis-nuclear-atomic</string>
	<string>1167=crisis-nuclear-radioactive</string>
	<string>1169=crisis-poison-gas</string>
	<string>1171=crisis-pollution-spill</string>
	<string>1173=crisis-power-outage</string>
	<string>1175=crisis-temperature</string>
	<string>1177=crisis-tornado-alt</string>
	<string>1179=crisis-tornado</string>
	<string>1181=crisis-tsunami</string>
	<string>1183=crisis-volcano</string>
	<string>1185=crisis-water-drought</string>
	<string>1187=crisis-water-quality</string>
	<string>1189=crisis-wind-alt</string>
	<string>1191=crisis-wind</string>
	<string>1193=fac-animal-shelter</string>
	<string>1195=fac-flag</string>
	<string>1197=fac-headquarters</string>
	<string>1199=fac-help</string>
	<string>1201=fac-info-alt</string>
	<string>1203=fac-info</string>
	<string>1205=fac-medical</string>
	<string>1207=fac-parking</string>
	<string>1209=fac-phone</string>
	<string>1211=fac-poi</string>
	<string>1213=fac-police</string>
	<string>1215=fac-shower</string>
	<string>1217=fac-wc-men</string>
	<string>1219=fac-wc-unisex</string>
	<string>1221=fac-wc-women</string>
	<string>1223=fac-wheelchair</string>
	<string>1225=poi-academy</string>
	<string>1227=poi-amusement</string>
	<string>1229=poi-art</string>
	<string>1231=poi-barn</string>
	<string>1233=poi-bridge</string>
	<string>1235=poi-casino</string>
	<string>1237=poi-cemetery</string>
	<string>1239=poi-civic</string>
	<string>1241=poi-construction</string>
	<string>1243=poi-courthouse</string>
	<string>1245=poi-embassy</string>
	<string>1247=poi-events</string>
	<string>1249=poi-factory</string>
	<string>1251=poi-fountain</string>
	<string>1253=poi-garden</string>
	<string>1255=poi-gated-community</string>
	<string>1257=poi-government</string>
	<string>1259=poi-grain-mill</string>
	<string>1261=poi-historic-building</string>
	<string>1263=poi-historic-monument</string>
	<string>1265=poi-historic-plaque</string>
	<string>1267=poi-hospital-ambulance</string>
	<string>1269=poi-hospital-cross</string>
	<string>1271=poi-housing-development</string>
	<string>1273=poi-japanese-cemetery</string>
	<string>1275=poi-japanese-generic</string>
	<string>1277=poi-japanese-post-office</string>
	<string>1279=poi-library</string>
	<string>1281=poi-lighthouse</string>
	<string>1283=poi-lookout-point</string>
	<string>1285=poi-lookout-tower</string>
	<string>1287=poi-mine</string>
	<string>1289=poi-museum</string>
	<string>1291=poi-music-hall</string>
	<string>1293=poi-music</string>
	<string>1295=poi-ngo</string>
	<string>1297=poi-playground</string>
	<string>1299=poi-police-car</string>
	<string>1301=poi-police</string>
	<string>1303=poi-post-office</string>
	<string>1305=poi-railway</string>
	<string>1307=poi-religious-bahai</string>
	<string>1309=poi-religious-buddhist-hindu</string>
	<string>1311=poi-religious-buddhist-wheel</string>
	<string>1313=poi-religious-buddhist-zen</string>
	<string>1315=poi-religious-christian</string>
	<string>1317=poi-religious-generic</string>
	<string>1319=poi-religious-hindu</string>
	<string>1321=poi-religious-islamic</string>
	<string>1323=poi-religious-jain</string>
	<string>1325=poi-religious-jewish</string>
	<string>1327=poi-religious-kneeling</string>
	<string>1329=poi-religious-shinto</string>
	<string>1331=poi-religious-sikh</string>
	<string>1333=poi-school</string>
	<string>1335=poi-stadium</string>
	<string>1337=poi-temple</string>
	<string>1339=poi-theater-lecture</string>
	<string>1341=poi-theater</string>
	<string>1343=poi-tower</string>
	<string>1345=poi-tv-radio</string>
	<string>1347=poi-university</string>
	<string>1349=poi-zoo</string>
	<string>1351=rec-baseball</string>
	<string>1353=rec-basketball</string>
	<string>1355=rec-beach</string>
	<string>1357=rec-bowling</string>
	<string>1359=rec-canoe</string>
	<string>1361=rec-cricket</string>
	<string>1363=rec-fish</string>
	<string>1365=rec-football</string>
	<string>1367=rec-golf</string>
	<string>1369=rec-hiking-trail</string>
	<string>1371=rec-hiking</string>
	<string>1373=rec-horse</string>
	<string>1375=rec-kayak</string>
	<string>1377=rec-mountain</string>
	<string>1379=rec-park</string>
	<string>1381=rec-picnic</string>
	<string>1383=rec-playground</string>
	<string>1385=rec-racetrack</string>
	<string>1387=rec-sailing</string>
	<string>1389=rec-soccer</string>
	<string>1391=rec-spa</string>
	<string>1393=rec-stadium</string>
	<string>1395=rec-swim</string>
	<string>1397=rec-tennis</string>
	<string>1399=rec-viewing-platform</string>
	<string>1401=rec-viewing-tower</string>
	<string>1403=rec-vista-half</string>
	<string>1405=rec-vista</string>
	<string>1407=rec-winter-crosscountry</string>
	<string>1409=rec-winter-ski</string>
	<string>1411=rec-winter-skilift</string>
	<string>1413=rec-winter-sled</string>
	<string>1415=rec-winter-snow</string>
	<string>1417=trans-airport</string>
	<string>1419=trans-bicycle</string>
	<string>1421=trans-boat-launch</string>
	<string>1423=trans-bus</string>
	<string>1425=trans-cablecar</string>
	<string>1427=trans-canoe</string>
	<string>1429=trans-car-ferry</string>
	<string>1431=trans-enclosed-traffic</string>
	<string>1433=trans-ferry</string>
	<string>1435=trans-funicular</string>
	<string>1437=trans-helicopter</string>
	<string>1439=trans-lighthouse</string>
	<string>1441=trans-marina</string>
	<string>1443=trans-marine</string>
	<string>1445=trans-metro</string>
	<string>1447=trans-monorail</string>
	<string>1449=trans-moped</string>
	<string>1451=trans-motorcycle</string>
	<string>1453=trans-parking</string>
	<string>1455=trans-steam-train</string>
	<string>1457=trans-taxi</string>
	<string>1459=trans-train</string>
	<string>1461=trans-tram-alt</string>
	<string>1463=trans-tram</string>
	<string>1465=trans-truck</string>
	<string>1467=trans-tunnel</string>
	<string>1469=trans-walking</string>
	<string>1471=weather-chance-rain</string>
	<string>1473=weather-cloudy</string>
	<string>1475=weather-fog</string>
	<string>1477=weather-partly-cloudy</string>
	<string>1479=weather-rain</string>
	<string>1481=weather-sleet</string>
	<string>1483=weather-snow</string>
	<string>1485=weather-sunny</string>
	<string>1487=weather-thunder</string>
	<string>1489=weather-wind</string>
</array>
</plist>
