<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iconsData</key>
	<array>
		<dict>
			<key>iconFileName</key>
			<string>blue-dot.png</string>
			<key>shortName</key>
			<string>blue-dot</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/blue-dot.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>red-dot.png</string>
			<key>shortName</key>
			<string>red-dot</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/red-dot.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>green-dot.png</string>
			<key>shortName</key>
			<string>green-dot</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/green-dot.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>ltblue-dot.png</string>
			<key>shortName</key>
			<string>ltblue-dot</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/ltblue-dot.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>yellow-dot.png</string>
			<key>shortName</key>
			<string>yellow-dot</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/yellow-dot.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>purple-dot.png</string>
			<key>shortName</key>
			<string>purple-dot</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/purple-dot.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>pink-dot.png</string>
			<key>shortName</key>
			<string>pink-dot</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/pink-dot.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>blue.png</string>
			<key>shortName</key>
			<string>blue</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/blue.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>red.png</string>
			<key>shortName</key>
			<string>red</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/red.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>green.png</string>
			<key>shortName</key>
			<string>green</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/green.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>lightblue.png</string>
			<key>shortName</key>
			<string>lightblue</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/lightblue.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>yellow.png</string>
			<key>shortName</key>
			<string>yellow</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/yellow.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>purple.png</string>
			<key>shortName</key>
			<string>purple</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/purple.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>pink.png</string>
			<key>shortName</key>
			<string>pink</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/pink.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>blue-pushpin.png</string>
			<key>shortName</key>
			<string>blue-pushpin</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/blue-pushpin.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>red-pushpin.png</string>
			<key>shortName</key>
			<string>red-pushpin</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/red-pushpin.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>grn-pushpin.png</string>
			<key>shortName</key>
			<string>grn-pushpin</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/grn-pushpin.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>ltblu-pushpin.png</string>
			<key>shortName</key>
			<string>ltblu-pushpin</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/ltblu-pushpin.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>ylw-pushpin.png</string>
			<key>shortName</key>
			<string>ylw-pushpin</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/ylw-pushpin.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>purple-pushpin.png</string>
			<key>shortName</key>
			<string>purple-pushpin</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/purple-pushpin.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>pink-pushpin.png</string>
			<key>shortName</key>
			<string>pink-pushpin</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/pink-pushpin.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>restaurant.png</string>
			<key>shortName</key>
			<string>restaurant</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/restaurant.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>coffeehouse.png</string>
			<key>shortName</key>
			<string>coffeehouse</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/coffeehouse.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>bar.png</string>
			<key>shortName</key>
			<string>bar</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/bar.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>snack_bar.png</string>
			<key>shortName</key>
			<string>snack_bar</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/snack_bar.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>tram.png</string>
			<key>shortName</key>
			<string>tram</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/tram.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>lodging.png</string>
			<key>shortName</key>
			<string>lodging</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/lodging.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>wheel_chair_accessible.png</string>
			<key>shortName</key>
			<string>wheel_chair_accessible</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/wheel_chair_accessible.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>shopping.png</string>
			<key>shortName</key>
			<string>shopping</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/shopping.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>movies.png</string>
			<key>shortName</key>
			<string>movies</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/movies.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>grocerystore.png</string>
			<key>shortName</key>
			<string>grocerystore</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/grocerystore.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>convienancestore.png</string>
			<key>shortName</key>
			<string>convienancestore</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/convienancestore.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>arts.png</string>
			<key>shortName</key>
			<string>arts</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/arts.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>homegardenbusiness.png</string>
			<key>shortName</key>
			<string>homegardenbusiness</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/homegardenbusiness.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>electronics.png</string>
			<key>shortName</key>
			<string>electronics</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/electronics.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>mechanic.png</string>
			<key>shortName</key>
			<string>mechanic</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/mechanic.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>partly_cloudy.png</string>
			<key>shortName</key>
			<string>partly_cloudy</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/partly_cloudy.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>realestate.png</string>
			<key>shortName</key>
			<string>realestate</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/realestate.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>salon.png</string>
			<key>shortName</key>
			<string>salon</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/salon.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>dollar.png</string>
			<key>shortName</key>
			<string>dollar</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/dollar.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>parkinglot.png</string>
			<key>shortName</key>
			<string>parkinglot</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/parkinglot.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>gas.png</string>
			<key>shortName</key>
			<string>gas</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/gas.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>cabs.png</string>
			<key>shortName</key>
			<string>cabs</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/cabs.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>bus.png</string>
			<key>shortName</key>
			<string>bus</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/bus.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>truck.png</string>
			<key>shortName</key>
			<string>truck</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/truck.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>rail.png</string>
			<key>shortName</key>
			<string>rail</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/rail.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>plane.png</string>
			<key>shortName</key>
			<string>plane</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/plane.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>ferry.png</string>
			<key>shortName</key>
			<string>ferry</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/ferry.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>helicopter.png</string>
			<key>shortName</key>
			<string>helicopter</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/helicopter.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>subway.png</string>
			<key>shortName</key>
			<string>subway</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/subway.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>info.png</string>
			<key>shortName</key>
			<string>info</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/info.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>flag.png</string>
			<key>shortName</key>
			<string>flag</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/flag.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>earthquake.png</string>
			<key>shortName</key>
			<string>earthquake</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/earthquake.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>webcam.png</string>
			<key>shortName</key>
			<string>webcam</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/webcam.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>postoffice-us.png</string>
			<key>shortName</key>
			<string>postoffice-us</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/postoffice-us.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>police.png</string>
			<key>shortName</key>
			<string>police</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/police.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>firedept.png</string>
			<key>shortName</key>
			<string>firedept</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/firedept.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>hospitals.png</string>
			<key>shortName</key>
			<string>hospitals</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/hospitals.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>info_circle.png</string>
			<key>shortName</key>
			<string>info_circle</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/info_circle.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>phone.png</string>
			<key>shortName</key>
			<string>phone</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/phone.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>caution.png</string>
			<key>shortName</key>
			<string>caution</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/caution.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>fallingrocks.png</string>
			<key>shortName</key>
			<string>fallingrocks</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/fallingrocks.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>camera.png</string>
			<key>shortName</key>
			<string>camera</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/camera.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>tree.png</string>
			<key>shortName</key>
			<string>tree</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/tree.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>campfire.png</string>
			<key>shortName</key>
			<string>campfire</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/campfire.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>picnic.png</string>
			<key>shortName</key>
			<string>picnic</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/picnic.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>campground.png</string>
			<key>shortName</key>
			<string>campground</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/campground.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>rangerstation.png</string>
			<key>shortName</key>
			<string>rangerstation</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/rangerstation.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>toilets.png</string>
			<key>shortName</key>
			<string>toilets</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/toilets.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>POI.png</string>
			<key>shortName</key>
			<string>POI</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/POI.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>hiker.png</string>
			<key>shortName</key>
			<string>hiker</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/hiker.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>cycling.png</string>
			<key>shortName</key>
			<string>cycling</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/cycling.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>motorcycling.png</string>
			<key>shortName</key>
			<string>motorcycling</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/motorcycling.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>horsebackriding.png</string>
			<key>shortName</key>
			<string>horsebackriding</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/horsebackriding.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>sportvenue.png</string>
			<key>shortName</key>
			<string>sportvenue</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/sportvenue.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>golfer.png</string>
			<key>shortName</key>
			<string>golfer</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/golfer.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>trail.png</string>
			<key>shortName</key>
			<string>trail</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/trail.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>water.png</string>
			<key>shortName</key>
			<string>water</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/water.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>snowflake_simple.png</string>
			<key>shortName</key>
			<string>snowflake_simple</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/snowflake_simple.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>marina.png</string>
			<key>shortName</key>
			<string>marina</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/marina.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>fishing.png</string>
			<key>shortName</key>
			<string>fishing</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/fishing.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>sailing.png</string>
			<key>shortName</key>
			<string>sailing</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/sailing.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>swimming.png</string>
			<key>shortName</key>
			<string>swimming</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/swimming.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>ski.png</string>
			<key>shortName</key>
			<string>ski</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/ski.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>woman.png</string>
			<key>shortName</key>
			<string>woman</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/woman.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>man.png</string>
			<key>shortName</key>
			<string>man</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/man.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>rainy.png</string>
			<key>shortName</key>
			<string>rainy</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/rainy.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>volcano.png</string>
			<key>shortName</key>
			<string>volcano</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/volcano.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>sunny.png</string>
			<key>shortName</key>
			<string>sunny</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/sunny.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>euro.png</string>
			<key>shortName</key>
			<string>euro</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/euro.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>yen.png</string>
			<key>shortName</key>
			<string>yen</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/yen.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>orange-dot.png</string>
			<key>shortName</key>
			<string>orange-dot</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/orange-dot.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>orange.png</string>
			<key>shortName</key>
			<string>orange</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/orange.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>waterfalls.png</string>
			<key>shortName</key>
			<string>waterfalls</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/waterfalls.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>recycle.png</string>
			<key>shortName</key>
			<string>recycle</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/recycle.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>pharmacy-us.png</string>
			<key>shortName</key>
			<string>pharmacy-us</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/pharmacy-us.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>landmarks-jp.png</string>
			<key>shortName</key>
			<string>landmarks-jp</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/landmarks-jp.png</string>
		</dict>
		<dict>
			<key>iconFileName</key>
			<string>hotsprings.png</string>
			<key>shortName</key>
			<string>hotsprings</string>
			<key>url</key>
			<string>http://maps.google.com/mapfiles/ms/micons/hotsprings.png</string>
		</dict>
	</array>
</dict>
</plist>
